.main-stability {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 192px;
  padding: 0 16px;
}

.main-stability__right-bar-controls-mobile {
  display: none;
}

.main-stability__left-bar {
  width: 29.24%;
  @media (max-width: 1023px){
    width: 100%;
  }
}

.main-stability__text{
  > p {
    margin-bottom: 32px;
  }
}

.main-stability__left-bar-link {
  color: #000;
}

.main-stability__right-bar {
  width: 66.95%;
}

.main-stability__content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-stability__item {
  width: 49.37%;
  border-bottom: 1px solid #969696;
  padding-bottom: 24px;
  margin-top: 32px;
  min-height: 356px;
  position: relative;

  &:nth-child(1),
  &:nth-child(2){
    margin-top: 0;
  }
}

.main-stability__item-title {
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 24px;
}

.main-stability__content-text-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;

  &:nth-child(2){
    margin-top: 0;
  }
}

.main-stability__content-number {
  width: 24px;
}

.main-stability__content-text {
  width: calc(100% - 32px);
}

.main-stability__content-icon {
  position: absolute;
  bottom: 24px;
}

.main-stability__content-container-mobile {
  display: none;
}
// Styles for 1440px
@media (max-width: 1919px) {
  .main-stability{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 144px;
  }

  .main-stability__left-bar{
    width: 27.84%;
  }

  .main-stability__text > p {
    margin-bottom: 24px;
  }

  .main-stability__right-bar {
    width: 67.05%;
  }

  .main-stability__item{
    width: 49.15%;
    min-height: 332px;
    margin-top: 24px;
  }

  .main-stability__item-title{
    font-size: 32px;
    line-height: 40px;
  }

  .main-stability__content-text-wrapper{
    margin-top: 24px;
  }
}

// Styles for 1024px
@media (max-width: 1439px) {
  .main-stability{
    margin-bottom: 128px;
  }

  .main-stability__left-bar {
    width: 31.15%;
  }

  .main-stability__right-bar {
    width: 67.14%;
  }

  .main-stability__item{
    width: 48.95%;
    min-height: 400px;
  }

  .main-stability__item-title{
    margin-bottom: 16px;
  }
}

// Styles for 768px
@media (max-width: 1023px) {
  .main-stability{
    flex-direction: column;
    padding: 0 8px;
  }

  .main-stability__left-bar {
    width: 67.02%;
    margin-bottom: 56px;
  }

  .main-stability__right-bar {
    width: 100%;
  }

  .main-stability__item{
    width: 48.94%;
    min-height: 380px;
  }
}

// Styles for 320px
@media (max-width: 767px) {
  .main-stability__content-container-mobile {
    display: block;
  }

  .main-stability {
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    margin-bottom: 32px;
  }

  .main-stability__left-bar{
    width: 100%;
    margin-bottom: 8px;
  }

  .main-stability__text > p{
    margin-bottom: 0;
  }

  .main-stability__text > p:nth-child(2){
    display: none;
  }

  .main-stability__left-bar-link{
    display: none;
  }

  .main-stability__content-container {
    display: none;
  }

  .main-stability__right-bar-controls-mobile {
    display: flex;
    margin-bottom: 24px;
  }

  .main-stability__item{
     margin-top: 0;
     padding-bottom: 8px;
     min-height: 260px;
  }

  .main-stability__item-title{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
  }

  .main-stability__content-text-wrapper{
    margin-top: 8px;
  }

  .main-stability__content-icon{
    bottom: 8px;
    & > svg {
      width: 48px;
      height: 48px;
    }
  }
}
