.main-awards {
  font-size: 18px;
  line-height: 24px;
  padding: 0 16px;
  display: flex;
  margin-bottom: 192px;
  overflow: hidden;
}

.main-awards__left-bar {
  width: 33.33%;
}

.main-awards__buttons-mobile {
  display: none;
}

.main-awards__left-bar-text {
  max-width: 304px;
}

.main-awards__right-bar {
  width: 66.66%;
}

.main-awards__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -16px -8px;
}

.main-awards__award-item {
  margin: 16px 8px;
  width: calc(50% - 16px);
  padding-bottom: 24px;
  border-bottom: 1px solid #969696;
  display: flex;
  flex-direction: column;
}

.main-awards__item-title {
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 156px;
}

.main-awards__item-link {
  color: $mainColor;
  margin-top: auto;
}

.main-awards__awards-button {
  margin-top: 32px;
  cursor: pointer;
}

.main-awards__right-bar-mobile{
  display: none;
}

// Styles for 1440
@media (max-width: 1440px) {
  .main-awards {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 144px;
  }

  .main-awards__left-bar-text {
    max-width: 224px;
  }

  .main-awards__item-title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 128px;
  }

  .main-awards__awards-button {
    margin-top: 24px;
  }
}

// Styles for 1024px
@media (max-width: 1100px) {
  .main-awards {
    margin-bottom: 128px;
  }

  .main-awards__left-bar-text {
    max-width: 262px;
  }

  .main-awards__item-title {
    margin-bottom: 108px;
  }

  .main-awards__item-link {
    width: 95%;
  }
}

// Styles for 768px
@media (max-width: 850px) {
  .main-awards {
    flex-wrap: wrap;
    padding: 0 8px;
  }

  .main-awards__left-bar,
  .main-awards__right-bar {
    width: 100%;
  }

  .main-awards__left-bar {
    margin-bottom: 40px;
  }

  .main-awards__item-title {
    margin-bottom: 88px;
  }

  .main-awards__award-item {
    margin-top: 0;
  }
}

// Styles for 320px
@media (max-width: 720px) {
  .main-awards__right-bar{
    display: none;
  }

  .main-awards__right-bar-mobile{
    display: block;
  }

  .main-awards__wrapper-mobile{
    margin: 0;
  }

  .main-awards {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 60px;
  }

  .main-awards__buttons-mobile {
    display: flex;
  }

  .main-awards__left-bar {
    display: flex;
    align-items: start;
    margin-bottom: 24px;
  }

  .main-awards__left-bar-text {
    max-width: 221px;
  }

  .main-awards__wrapper {
    width: 330%;
    flex-wrap: nowrap;
  }

  .main-awards__award-item {
    width: calc(80% - 16px);
    margin-bottom: 0;
    padding-bottom: 8px;
  }

  .main-awards__item-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 60px;
  }

  .main-awards__awards-button {
    opacity: 0;
    margin-top: 0;
    pointer-events: none;
  }
}
