.main-page__stage {
  padding: 112px 16px 0 16px;
  margin-bottom: 118px;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  overflow: hidden;
  min-height: 930px;

  // border: 1px solid #000;
}

.main-page__left-bar {
  width: 50%;
  position: relative;
  z-index: 1;
  max-width: fit-content;
}

.main-page__title-block {
  position: relative;
  margin-bottom: 64px;
  @media (max-width: 1919px){
    margin-bottom: 48px;
  }
}

.main-page__title-slogan,
.main-page__title-slogan-red {
  max-width: 943px;
  font-size: 160px;
  line-height: 144px;
  letter-spacing: -0.03em;
}

.main-page__title-slogan-red {
  color: #e31235;
}

.main-page__stage-text {
  margin-bottom: 8px;
}

.main-page__stage-logo {
  width: 192px;
}

.main-page__stage-search-block {
  position: absolute;
  right: 0;
  top: 270px;
  width: 400px;
}

.main-page__stage-input-block {
  margin-bottom: 8px;
}

.main-page__stage-input {
  width: 100%;
  padding: 16px 40px 16px 16px;
  background: $whiteColor;
  box-shadow: 16px 16px 24px rgba(0, 0, 0, 0.03);
  border-radius: 128px;
  font-size: 24px;
  line-height: 24px;
}

.main-page__stage-input-search-button {
  position: absolute;
  top: calc(50% / 2);
  right: 16px;
  width: 24px;
  height: 24px;
  background: transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;

  & > svg {
    width: 19px;
    height: 19px;
    pointer-events: none;
  }
}

.main-page__stage-links-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-page__stage-link-development,
.main-page__stage-link-sales {
  font-size: 12px;
  line-height: 12px;
  color: $mainColor;
  background: $whiteColor;
  padding: 2px 4px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.main-page__stage-link-development {
  margin-right: 4px;
}

.main-stage__switcher-block {
  width: 66%;
  position: absolute;
  right: 16px;
  bottom: 0;
  top: 180px;
}

.main-stage__switcher-container {
  width: 100%;
  height: 730px;
  border: 1px solid #e31235;
  border-radius: 540px;
  position: relative;
}

.main-stage__switcher-image-container {
  position: absolute;
  top: 24px;
  right: 24px;
  bottom: 24px;
  width: 682px;
  height: 682px;
  border-radius: 50%;

  & > img {
    display: block;
    width: 682px;
    height: 682px;

    @media (max-width: 1919px) {
      width: 492px;
      height: 492px;
    }

    @media (max-width: 1439px) {
      width: 354px;
      height: 354px;
    }

    @media (max-width: 1023px) {
      width: 268px;
      height: 268px;
    }

    @media (max-width: 767px) {
      width: 176px;
      height: 176px;
    }
  }
}

// Styles for 1440px
@media (max-width: 1919px) {
  .main-page__stage {
    margin-bottom: 92px;
    font-size: 16px;
    line-height: 20px;
    min-height: 720px;
    padding-top: 108px;
  }

  .main-page__left-bar {
    width: 55%;
  }

  .main-page__title-slogan,
  .main-page__title-slogan-red {
    font-size: 124px;
    line-height: 112px;
    max-width: 704px;
  }

  .main-page__stage-search-block {
    width: 320px;
    top: 195px;
    right: 0;
  }

  .main-page__stage-input {
    font-size: 20px;
    line-height: 20px;
  }

  .main-stage__switcher-container {
    width: 100%;
    height: 540px;
  }

  .main-stage__switcher-image-container {
    width: 492px;
    height: 492px;
  }
}

// Sytles for 1024px
@media (max-width: 1439px) {
  .main-page__stage {
    min-height: 565px;
    padding-top: 100px;
  }

  .main-page__title-block {
    width: 100%;
    max-width: 704px;
    margin-bottom: 40px;
  }

  .main-page__title-slogan,
  .main-page__title-slogan-red {
    font-size: 88px;
    line-height: 80px;
    width: 100%;
    max-width: 670px;
  }

  .main-page__stage-search-block {
    width: 272px;
    top: 142px;
    right: 10px;
  }

  .main-page__stage-input {
    padding: 12px 40px 12px 16px;
    font-size: 18px;
    line-height: 18px;
  }

  .main-page__stage-input-search-button {
    top: 13px;
  }

  .main-stage__switcher-block {
    width: 100%;
    max-width: 666px;
    height: 386px;
    top: 145px;
    bottom: auto;
  }

  .main-stage__switcher-image-container {
    width: 354px;
    height: 354px;
    top: 16px;
    right: 16px;
  }

  .main-stage__switcher-container {
    height: 386px;
  }
}

// Sytles for 768px
@media (max-width: 1023px) {
  .main-page__stage {
    padding: 0 8px;
    padding-top: 100px;
    margin-bottom: 80px;
    min-height: 630px;
  }

  .main-page__left-bar {
    width: 90%;
  }

  .main-page__title-block {
    width: 100%;
  }

  .main-page__title-slogan,
  .main-page__title-slogan-red {
    width: 90%;
  }

  .main-stage__switcher-block {
    top: 335px;
    width: 504px;
    height: 292px;
    right: 8px;
  }

  .main-stage__switcher-container {
    height: 292px;
  }

  .main-stage__switcher-image-container {
    width: 268px;
    height: 268px;
    top: 12px;
    right: 12px;
  }

  .main-page__stage-logo {
    width: 143px;
    display: flex;
  }

  .main-page__stage-search-block {
    right: 150px;
  }
}

// Styles for 320px
@media (max-width: 767px) {
  .main-page__stage {
    padding-top: 88px;
    font-size: 14px;
    line-height: 16px;
    min-height: 530px;
    margin-bottom: 32px;
  }

  .main-page__left-bar {
    width: 100%;
  }

  .main-page__title-slogan,
  .main-page__title-slogan-red {
    font-size: 48px;
    line-height: 44px;
    max-width: 280px;
  }

  .main-page__title-slogan {
    margin-bottom: 36px;
  }

  .main-page__title-block {
    margin-bottom: 48px;
  }

  .main-page__stage-links-block {
    display: none;
  }

  .main-page__stage-input {
    width: 280px;
    padding: 8px 40px 8px 16px;
    font-size: 18px;
    line-height: 18px;
  }

  .main-page__stage-search-block {
    top: 135px;
    right: auto;
    left: 22px;
  }

  .main-page__stage-input-search-button {
    top: 8px;
    right: 6px;
  }

  .main-stage__switcher-block {
    width: 336px;
    height: 192px;
    right: auto;
    left: 16px;
  }

  .main-stage__switcher-container {
    height: 192px;
  }

  .main-stage__switcher-image-container {
    width: 176px;
    height: 176px;
    top: 8px;
    right: 8px;
  }
}

@media (max-width: 479px) {
  .main-page__stage {
    padding-top: 16px;
    min-height: 435px;
  }

  .main-stage__switcher-block {
    top: 240px;
    left: 28px;
  }
}
