.main-awards {
  font-size: 18px;
  line-height: 24px;
  padding: 0 16px;
  display: flex;
  margin-bottom: 192px;
  overflow: hidden;
  justify-content: space-between;
}

.main-awards__left-bar {
  width: 16.1%;
}

.main-awards__buttons-mobile {
  display: none;
}

.main-awards__right-bar {
  width: 66.95%;
}

.main-awards__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-awards__award-item {
  width: 49.36%;
  padding-bottom: 24px;
  border-bottom: 1px solid #969696;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.main-awards__award-item:nth-child(1),
.main-awards__award-item:nth-child(2){
  margin-top: 0;
}

.main-awards__item-title {
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 156px;
}

.main-awards__item-link {
  color: $mainColor;
  margin-top: auto;
}

.main-awards__awards-button {
  margin-top: 32px;
  cursor: pointer;
  display: none;
}

.main-awards__right-bar-mobile{
  display: none;
}

// Styles for 1440
@media (max-width: 1919px) {
  .main-awards{
    font-size: 16px;
    line-height: 20px;
  }

  .main-awards__left-bar {
    width: 15.91%;
  }

  .main-awards__right-bar {
    width: 67.05%;
  }

  .main-awards__award-item {
    margin-top: 24px;
    width: 49.15%;
  }

  .main-awards__item-title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 168px;
  }
}

// Styles for 1024px
@media (max-width: 1439px) {
  .main-awards__left-bar {
    width: 26.41%;
  }

  .main-awards__right-bar {
    width: 67.14%;
  }

  .main-awards__award-item {
    width: 48.93%;
  }

  .main-awards__item-title{
    margin-bottom: 128px;
  }
}
// Styles for 768px
@media (max-width: 1023px) {
  .main-awards{
    padding: 0 8px;
    flex-direction: column;
  }

  .main-awards__left-bar{
    width: 32.98%;
    margin-bottom: 40px;
  }

  .main-awards__right-bar {
    width: 100%;
  }

  .main-awards__item-title{
    margin-bottom: 168px;
  }
}

// Styles for 320px
@media (max-width: 767px) {
  .main-awards__left-bar {
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
  }

  .main-awards__left-bar-text {
    width: 72.7%;
  }

  .main-awards__buttons-mobile {
    display: flex;
    padding: 0;
  }

  .main-awards__right-bar {
    display: none;
  }

  .main-awards__right-bar-mobile{
    display: block;
    width: 100%;
    height: 188px;
  }
  
  .main-awards__award-item-mobile{
    border-bottom: 1px solid #969696;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main-awards__item-title-mobile{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 80px;
  }

  .main-awards__item-link-mobile{
    font-size: 14px;
    line-height: 16px;
    color: #000;
  }

  .main-awards__item-link-mobile:visited{
    color:#000;
  }
}
