.main-video {
  position: relative;
  width: 100%;
  margin-bottom: 96px;

  & > img {
    display: block;
    width: 100%;
  }
}

.main-video__button {
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  line-height: 24px;
  color: $whiteColor;
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 142px;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 1440px) {
  .main-video {
    margin-bottom: 72px;
    font-size: 16px;
    line-height: 20px;
  }

  .main-video__button {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 1024px) {
  .main-video {
    margin-bottom: 64px;
  }
}

@media (max-width: 320px) {
  .main-video {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 16px;
  }

  .main-video__button {
    font-size: 14px;
    line-height: 16px;
  }
}
