.main-video {
  position: relative;
  width: 100%;
  margin-bottom: 96px;
}

.video{
  display: block;
  width: 100%;
}

.button-wrapper button{
  position: absolute;
  z-index: 1;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-wrapper{
  opacity: 0;
}

.button-wrapper:hover{
  opacity: 1;
}

.main-video-play{
  display: none;
}

.main-video__button-off{
  display: none;
}

.main-video__button-off,
.main-video__button-on {
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  line-height: 24px;
  color: $whiteColor;
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 142px;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 1440px) {
  .main-video {
    margin-bottom: 72px;
    font-size: 16px;
    line-height: 20px;
  }

  .main-video__button {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 1024px) {
  .main-video {
    margin-bottom: 64px;
  }
}

@media (max-width: 320px) {
  .main-video {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 16px;
  }

  .main-video__button {
    font-size: 14px;
    line-height: 16px;
  }
}