.main-division {
  margin-bottom: 192px;
  padding: 0 16px;
  font-size: 18px;
  line-height: 24px;
}

.main-division__top {
  display: flex;
  justify-content: space-between;
}

.main-division__top-services-mobile,
.main-division__more-about-direction-mobile {
  display: none;
}

.main-division__top-left-bar {
  width: 32.2%;

  @media (max-width: 1919px){
    width: 32.95%;
  }

  @media (max-width: 1439px){
    width: 32.86%;
  }
}

.main-division__top-switching-block {
  display: flex;
}

.main-division__top-switching-text {
  width: 36.21%;
  margin-right: 40px;
}

.main-division__top-switcher-container {
  width: 60%;
}

.main-division__top-switcher,
.main-division__top-switcher-active {
  color: $blackColorOpacity-05;
  cursor: pointer;

  & > svg {
    opacity: 0;
    margin-right: 8px;
  }
}

.main-division__top-switcher-active {
  color: $mainColor;

  & > svg {
    opacity: 1;
  }
}

.main-division__top-right-bar {
  width: 66.1%;

  @media (max-width: 1919px){
    width: 65.91%;
  }

  @media (max-width: 1439px){
    width: 65.52%;
  }
}

.main-division__top-main-item {
  display: flex;
  border-bottom: 1px solid #969696;
  padding: 0 8px;
  padding-bottom: 24px;
  margin-bottom: 56px;
  justify-content: space-between;

  @media (max-width: 1439px){
    margin-bottom: 40px;
  }
}

.main-division__top-item-left{
  width: 51.3%;

  @media (max-width: 1919px){
    width: 50.72%;
  }

  @media (max-width: 1439px){
    width: 50.16%;
  }
  
  @media (max-width: 1023px){
    width: 43.2%;
  }
}

.main-division__top-title-container {
  width: max-content;
  position: relative;
}

.main-division__top-item-title {
  font-size: 64px;
  line-height: 68px;
  margin-bottom: 140px;
  display: block;
}

.main-division__top-title-icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $whiteColor;
  position: absolute;
  right: -25px;
  top: 0;
  border-radius: 50%;
}

.main-division__top-item-scills {
  max-width: 632px;
}

.main-division__top-item-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 18.83%;
  justify-content: space-between;

  @media (max-width: 1919px){
    width: 24.49%;
  }

  @media (max-width: 1439px){
    width: 32.97%;
  }

  @media (max-width: 1023px){
    width: 28.39%;
  }
}

.main-division__top-services {
  max-width: 232px;
}

.main-division__top-to-vacancies-link {
  color: $mainColor;
  display: inline-block;
}

.main-division__bottom {
  display: flex;
  justify-content: space-between;
}

.main-division__item {
  width: 100%;
  margin-right: 32px;
  padding-top: 8px;
  padding-bottom: 24px;
  border-bottom: 1px solid #969696;
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 1919px){
    width: 48.28%;
  }
}

.main-division__item-title {
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 24px;
}

.main-division__item-info {
  max-width: 380px;
  margin-bottom: 104px;
}

.main-division__item-link {
  color: $mainColor;
  margin-top: auto;
}

.main-division__student{
  display: none;
  @media (max-width:700px){
    flex-direction: column;
  }
}

// Styles for 1440px
@media (max-width: 1440px) {
  .main-division {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 144px;
  }

  .main-division__top-item-title {
    font-size: 56px;
    line-height: 60px;
    margin-bottom: 128px;
  }

  .main-division__top-services {
    max-width: 224px;
  }

  .main-division__top-item-scills {
    max-width: 464px;
  }

  .main-division__item-title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .main-division__item-info {
    max-width: 354px;
    margin-bottom: 128px;
  }
}

// Styles for 1024px
@media (max-width: 1024px) {
  .main-division {
    margin-bottom: 133px;
  }

  .main-division__top-item-title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 120px;
  }

  .main-division__top-item-scills {
    max-width: 318px;
  }

  .main-division__top-services {
    max-width: 209px;
  }

  .main-division__item-title {
    max-width: 295px;
  }

  .main-division__item-info {
    max-width: 304px;
    margin-bottom: 72px;
  }

  .main-division__top-title-icon {
    right: -30px;
  }
}

// Styles for 768px
@media (max-width: 850px) {
  .main-division {
    margin-bottom: 128px;
    padding: 0 8px;
  }

  .main-division__top {
    flex-wrap: wrap;
  }

  .main-division__top-left-bar,
  .main-division__top-right-bar {
    width: 100%;
  }

  .main-division__top-left-bar {
    margin-bottom: 40px;
  }

  .main-division__top-switching-block {
    flex-direction: column;
  }

  .main-division__top-switching-text {
    margin-bottom: 12px;
  }

  .main-division__top-switcher-container {
    display: flex;
  }

  .main-division__top-switcher:first-child {
    margin-right: 8px;
  }

  .main-division__top-main-item {
    margin-bottom: 40px;
  }

  .main-division__item-title {
    max-width: 100%;
    width: 100%;
  }

  .main-division__item-info {
    max-width: 100%;
    width: 100%;
  }
}

// Styles for 320px
@media (max-width: 700px) {
  .main-division {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 64px;
  }

  .main-division__top-left-bar {
    margin-bottom: 32px;
  }

  .main-division__top-switching-text {
    margin-bottom: 16px;
    margin-right: 0;
    width: 49%;
  }

  .main-division__top-switcher-container {
    width: 100%;
  }

  .main-division__top-item-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 4px;
  }

  .main-division__top-main-item {
    padding: 0;
    margin-bottom: 8px;
    padding-bottom: 16px;
  }

  .main-division__bottom {
    flex-wrap: wrap;
  }

  .main-division__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 8px;
  }

  .main-division__top-item-right {
    display: none;
  }

  .main-division__top-item-left {
    width: 100%;
  }

  .main-division__top-services-mobile,
  .main-division__more-about-direction-mobile {
    display: inline-block;
  }

  .main-division__top-services-mobile {
    margin-bottom: 24px;
  }

  .main-division__top-item-scills {
    width: 100%;
    max-width: 100%;
    margin-bottom: 24px;
  }

  .main-division__more-about-direction-mobile {
    color: $mainColor;
  }

  .main-division__top-title-icon {
    width: 20px;
    height: 20px;
    right: -20px;

    & > svg {
      transform: scale(0.8);
    }
  }

  .main-division__item {
    padding-bottom: 16px;
  }

  .main-division__item-link {
    display: none;
  }

  .main-division__item-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 4px;
  }

  .main-division__item-info {
    margin-bottom: 24px;
  }
}
