// @import './styles.scss';

.create-future {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-bottom: 528px;
  margin-bottom: 96px;
  padding-top: 80px;
  overflow: hidden;

  &::before {
    content: '';
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    z-index: 10;
    background: linear-gradient(
      180deg,
      rgba(243, 243, 243, 0) 0%,
      #f3f3f3 100%
    );
  }
}

.create-future__container {
  width: 68%;
  display: flex;
  margin-top: 32px;
}

.create-future__title-wrapper {
  position: relative;
}

.create-future__title,
.create-future__typing-title {
  font-size: 160px;
  line-height: 144px;
  letter-spacing: -0.03em;
  text-align: left;
}

.create-future__typing-title-mobile {
  display: none;
}

.create-future__typing-title {
  color: #76bc21;
}

.create-future__text {
  max-width: 480px;
  font-size: 18px;
  line-height: 24px;
  margin-top: 180px;
  padding-right: 16px;
}

.create-future__text-mobile {
  display: none;
}

.create-future__button {
  cursor: pointer;
  display: block;
  position: absolute;
  bottom: -26px;
  right: 6%;
  width: 269px;
  background-color: #fff;
  border-radius: 36px;
  font-size: 24px;
  line-height: 24px;
  padding: 8px 40px 8px 16px;
  color: $mainColor;
  transform: rotate(-2deg);
  box-shadow: 16px 2px 24px rgba(0, 0, 0, 0.03);
  transition: 0.3s;

  & > svg {
    position: absolute;
    top: calc(50% - 4.5px);
    right: 19px;
    width: 9px;
    height: 9px;
    pointer-events: none;
  }

  &:hover {
    transform: rotate(0);
  }
}

.create-future__gradient {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  height: 80px;
  background: linear-gradient(180deg, rgba(243, 243, 243, 0) 0%, #f3f3f3 100%);
}

.create-future__image {
  position: absolute;
  left: -120px;
  top: -370px;
  width: 1780px;
  height: 1460px;
  background: url('../images/create-future/spiral.svg') right / contain
    no-repeat;
  pointer-events: none;
}

//
.spiral__wrap {
  height: 716px;
  overflow: hidden;
  position: absolute;
  left: 0;
}

.spiral__wrap::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
  background: linear-gradient(180deg, rgba(243, 243, 243, 0) 0%, #f3f3f3 100%);
}

.spiral__wrap_twist {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -300px;
  margin-left: -300px;
  animation: rotate-spiral 4s infinite linear;
}

.spiral__img {
  margin-top: -300px;
  margin-left: 360px;
  width: auto;
  height: auto;
}

@keyframes rotate-spiral {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text-typing {
  //height: 260px;
  position: absolute;
}

// Styles for 1440px
@media (max-width: 1440px) {
  .create-future {
    padding-top: 72px;
    padding-bottom: 400px;
    margin-bottom: 72px;
  }

  .create-future__title,
  .create-future__typing-title {
    font-size: 124px;
    line-height: 112px;
  }

  .create-future__container {
    margin-top: 24px;
  }

  .create-future__text,
  .create-future__text-mobile {
    font-size: 16px;
    line-height: 20px;
    max-width: 400px;
    margin-top: 145px;
    z-index: 1;
  }

  .create-future__button {
    font-size: 20px;
    line-height: 20px;
    width: 233px;
    cursor: pointer;
    bottom: -5px;
  }

  .create-future__image {
    left: -120px;
    top: -270px;
    width: 1620px;
    height: 1050px;
  }

  .create-future__gradient {
    bottom: 0;
  }
}

// Styles for 1024px
@media (max-width: 1100px) {
  .create-future {
    padding-bottom: 396px;
    margin-bottom: 64px;
  }

  .create-future__text {
    margin-top: 83px;
  }

  .create-future__button {
    right: auto;
    left: 155px;
    bottom: 15px;
    z-index: 2;
  }

  .it-header__item:nth-child(3) {
    display: none;
  }

  .create-future__title {
    font-size: 88px;
    line-height: 80px;
  }

  .create-future__typing-title {
    font-size: 88px;
    line-height: 80px;
  }
}

// Styles for 768px
@media (max-width: 991px) {
  .create-future {
    padding-bottom: 140px;
  }

  .create-future__container {
    flex-direction: column;
  }

  .create-future__text {
    display: none;
  }

  .create-future__text-mobile {
    display: block;
    margin-top: 180px;
    max-width: 256px;
  }

  .create-future__title,
  .create-future__typing-title {
    font-size: 88px;
    line-height: 80px;
  }

  .create-future__button {
    font-size: 18px;
    line-height: 18px;
    width: 216px;
    left: 162px;
    bottom: -26px;

    & > svg {
      top: calc(50% - 3.5px);
      right: 19px;
    }
  }

  .create-future__title-wrapper {
    padding-top: 20px;
  }

  .create-future__image {
    left: -160px;
    top: -300px;
    width: 1300px;
    height: 1130px;
  }

  .create-future {
    padding-bottom: 156px;
  }

  .create-future__gradient {
    bottom: 0;
  }
}

@media (max-width: 767px) {
  .create-future {
    margin-bottom: 32px;
  }

  .create-future__title,
  .create-future__typing-title {
    font-size: 60px;
    line-height: 65px;
  }
  .create-future__text-mobile {
    margin-top: 145px;
  }
  .create-future__button {
    font-size: 18px;
    line-height: 18px;
    width: 216px;
    bottom: -23px;
    left: 55px;

    & > svg {
      top: calc(50% - 3.5px);
      right: 19px;
    }
  }

  .create-future__gradient {
    bottom: 0;
  }
}

@media (max-width: 479px) {
  .create-future {
    padding-top: 155px;
  }

  .create-future__typing-title-mobile {
    display: block;
    color: #76bc21;
  }

  .create-future__title,
  .create-future__typing-title-mobile {
    font-size: 36px;
    line-height: 38px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .create-future__typing-title {
    //display: none;
    font-size: 36px;
    line-height: 38px;
    padding-left: 8px;
  }

  .create-future__text-mobile {
    display: none;
  }

  .create-future__text {
    display: block;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    max-width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    //margin-top: 16px;
    margin-top: 84px;
  }

  .create-future__container {
    width: 100%;
  }

  .create-future__button {
    font-size: 18px;
    line-height: 18px;
    width: 216px;
    left: 8px;
    bottom: -210px;
    z-index: 10;
  }

  .create-future {
    padding-top: 124px;
    padding-bottom: 80px;
  }

  .create-future__gradient {
    display: none;
  }

  .create-future__image {
    left: -30px;
    top: -120px;
    width: 510px;
    height: 423px;
  }
}

//
@media screen and (max-width: 768px) {
  .spiral__wrap_twist {
    margin-left: -150px;
    margin-top: -570px;
  }

  .spiral__wrap {
    overflow: hidden;
    top: 0;
    left: -400px;
  }
}

@media screen and (max-width: 321px) {
  .spiral__wrap_twist {
    margin-left: -77px;
    margin-top: -571px;
  }

  .spiral__wrap {
    overflow: hidden;
    top: 0;
    left: -500px;
  }
}
