.find {
  margin-bottom: 96px;
  overflow: hidden;
}

.find__title {
  font-size: 160px;
  line-height: 144px;
  letter-spacing: -0.03em;
  margin-bottom: 90px;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.find__title-link {
  display: flex;
  justify-content: flex-end;
  color: $mainColor;
  // width: max-content;
  white-space: nowrap;

  &:hover {
    color: #e31235;
  }

  &:hover > .find__link-aroow > svg {
    fill: #e31235;
    stroke: #e31235;
  }
}

.find__link-aroow {
  display: block;
  padding-left: 52px;
  padding-right: 140px;
  position: relative;
  pointer-events: none;
  transition: 0.3s;

  width: 1418px;

  & > svg {
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 84px;
    height: 88px;
    transition: color 0.3s;
    fill: black;
    stroke: black;
    transition: 0.3s;
  }
}

.find__block-video,
.find__block-video-active {
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.find__block-video-active {
  width: 100vw;
  height: 100vh;
}

.find__video-container,
.find__video-container-active {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: 0.3s;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 71.87%,
      #000000 100%
    );
    z-index: 1;
  }
}

.find__video-container-active {
  width: 100%;
  height: 100%;
  background: #000;

  &::before {
    display: none;
  }

  &:hover > .find__sound-control,
  &:hover > .find__video-control {
    z-index: 3;
    opacity: 1;
  }
}

.find__video-preview {
  display: block;
  max-width: 100%;
  height: auto;
  transition: 0.3s;
}

.find__video {
  width: 100%;
  height: 100%;
  display: none;
}

.find__sound-control {
  position: absolute;
  right: 42px;
  bottom: 16px;
  color: $whiteColor;
  z-index: -1;
  font-size: 16px;
  line-height: 20px;
  background: transparent;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0;
}

.find__video-control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67px;
  height: 120px;
  cursor: pointer;
  // background: url('../images/find-vacancies/pause.svg') center / contain
  //   no-repeat;
  background: transparent;
  transition: 0.3s;
  opacity: 0;
  z-index: -1;

  & > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 67px;
    height: 120px;
    pointer-events: none;
  }
}

.find__video-control-paused {
  display: block;
}

.find__video-control-played {
  display: none;
}

.find__video-slides-container.swiper,
.find__video-slides-container-active.swiper {
  position: absolute;
  left: 0;
  bottom: 24px;
  right: -24px;
  // z-index: 2;
  transition: 0.3s;
}

.find__video-slides-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: max-content;
}

.find__video-slides-container-active.swiper {
  bottom: -100px;
  opacity: 0;
  z-index: -1;
}

.find__video-slides-row-mobile,
.find__slides-mobile-container {
  display: none;
}

.find__video-slide.swiper-slide,
.find__video-slide-active.swiper-slide {
  width: 252px;
  margin-left: 24px;
  cursor: pointer;
  position: relative;
}

.find__video-slide-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #e31235;
  display: none;
}

.find__video-slide-active.swiper-slide {
  width: 280px;

  & > .find__video-slide-progress {
    display: block;
  }
}

.find__video-slide-image {
  display: block;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.find__video-play-box,
.find__video-play-box-active {
  position: absolute;
  top: 58%;
  left: 60%;
  transform: translate(-60%, -58%);
  color: #fff;
  font-size: 64px;
  line-height: 68px;
  width: 100%;
  max-width: 960px;
  z-index: 2;
  transition: 0.3s;
}

.find__video-play-box-active {
  transform: translate(-50%, 400%);
  opacity: 0;
  z-index: -1;
}

.find__video-title {
  margin-bottom: 8px;
  transition: 0.3s;
}

.find__video-play-button {
  display: block;
  color: #fff;
  width: 100%;
  max-width: 156px;
  font-size: 18px;
  line-height: 24px;
  padding-left: 17px;
  position: relative;
  transition: 0.3s;

  & > svg {
    position: absolute;
    left: 0;
    top: calc(50% - 4px);
    width: 9px;
    height: 8px;
    pointer-events: none;
  }
}

.find__arrow-next,
.find__arrow-next-active {
  position: absolute;
  bottom: 88px;
  right: 16px;
  width: 120px;
  height: 16px;
  background-color: transparent;
  z-index: 3;
  transition: 0.3s;

  & > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 16px;
    pointer-events: none;
  }
}

.find__arrow-next-active {
  bottom: -50px;
  opacity: 0;
  z-index: -1;
}

// Styles for 1440px
@media (max-width: 1600px) {
  .find {
    margin-bottom: 72px;
  }

  .find__title {
    font-size: 124px;
    line-height: 112px;
    margin-bottom: 88px;
  }

  .find__link-aroow {
    width: 1143px;

    & > svg {
      width: 65px;
      height: 68px;
    }
  }

  .find__video-play-box {
    max-width: 720px;
  }

  .find__video-title {
    font-size: 56px;
    line-height: 60px;
  }

  .find__video-play-button {
    font-size: 16px;
    line-height: 20px;
  }

  .find__video-slides-container {
    bottom: 16px;
  }

  .find__video-slides-container-active {
    bottom: -100px;
    opacity: 0;
    z-index: -1;
  }

  .find__video-slide.swiper-slide {
    width: 196px;
  }

  .find__video-slide-active.swiper-slide {
    width: 224px;
  }

  .find__arrow-next {
    bottom: 64px;
    right: 10px;
  }

  .find__arrow-next-active {
    bottom: -50px;
    opacity: 0;
    z-index: -1;
  }
}

// Styles for 1024px
@media (max-width: 1280px) {
  .find {
    margin-bottom: 76px;
  }

  .find__title {
    font-size: 88px;
    line-height: 80px;
    margin-bottom: 70px;
  }

  .find__link-aroow {
    padding-right: 73px;
    padding-left: 30px;

    width: 778px;

    & > svg {
      width: 42px;
      height: 44px;
    }
  }

  .find__video-play-box {
    max-width: 510px;
  }

  .find__video-title {
    font-size: 32px;
    line-height: 36px;
  }

  .find__video-slides-container {
    bottom: 12px;
  }

  .find__video-slides-container-active {
    bottom: -100px;
    opacity: 0;
    z-index: -1;
  }

  .find__video-slide.swiper-slide {
    margin-left: 16px;
    width: 154px;
  }

  .find__video-slide-active.swiper-slide {
    width: 182px;
  }

  .find__arrow-next {
    bottom: 45px;
    right: 17px;
  }

  .find__arrow-next-active {
    bottom: -50px;
    opacity: 0;
    z-index: -1;
  }
}

// Styles for 768px
@media (max-width: 880px) {
  .find {
    margin-bottom: 64px;
  }

  .find__video-play-box {
    max-width: 504px;
    top: 50%;
    left: 67%;
  }

  .find__video-slide.swiper-slide {
    width: 154px;
  }

  .find__video-slide-active.swiper-slide {
    width: 182px;
  }

  .find__arrow-next {
    right: 10px;
  }
}

// Styles for 320px
@media (max-width: 760px) {
  .find__title {
    font-size: 36px;
    line-height: 38px;
  }

  .find__link-aroow {
    padding-left: 15px;
    padding-right: 35px;
    width: 326px;

    & > svg {
      width: 17px;
      height: 17px;
    }
  }

  .find__block-video {
    display: none;
  }

  .find__video-slides-row-mobile,
  .find__slides-mobile-container {
    display: block;
    width: max-content;
    display: flex;
    justify-content: flex-start;
  }

  .find__slides-mobile-container {
    width: 100%;
  }

  .find__video-slide-mobile.swiper-slide {
    width: 100%;
    max-width: 280px;
    margin-right: 16px;
  }

  .find__video-slide-mobile-video {
    width: 100%;
    height: 160px;
    display: flex;

    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 71.87%,
        #000000 100%
      );
    }
  }

  .find__video-slide-mobile-image {
    display: block;
    width: 100%;
    height: auto;
    transition: 0.3s;
  }

  .find__video-slide-mobile-button {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 44px;
    height: 48px;
    background: transparent;
    z-index: 3;

    & > svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 44px;
      height: 48px;
      pointer-events: none;
    }
  }

  .find__video-slide-mobile-button-paused {
    display: none;
  }

  .find__video-slide-mobile-button-played {
    display: block;
  }

  .find__video-slide-mobile-video {
    margin-bottom: 16px;
  }

  .find__video-player-mobile {
    max-width: 280px;
    min-height: 160px;
    z-index: 2;
  }

  .find__video-slide-mobile-text-info {
    padding-left: 8px;
    width: 100%;
    max-width: 272px;
    font-size: 32px;
    line-height: 36px;
    overflow-wrap: break-word;
    color: $mainColor;
  }

  .find__mobile-progress {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #e31235;
    z-index: 2;
  }
}
