.flyout,
.flyout__active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 13;
  transform: translateX(100%);
  transition: 0.3s;
  font-size: 18px;
  line-height: 24px;
  color: $mainColor;
  background: transparent;
  // overflow: auto;
}

.flyout__active {
  transform: translateX(0);
}

.flyout__side-bar {
  width: 33%;
  background: transparent;
  transition: 0.3s;
}

.vacancy {
  width: 67%;
  background: #f3f3f3;
  overflow: auto;
}

// Styles for Flyout-header
.vacancy__header {
  padding-top: 20px;
}

.vacancy__header-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 56px;
}

.vacancy__header-head-links {
  width: 100%;
  max-width: 209px;
}

.vacancy__header-head-link-main,
.vacancy__header-head-link-vacancy {
  display: block;
  color: $mainColor;
  padding-left: 20px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 4.5px);
    width: 14px;
    height: 9px;
    background: url('../images/flyout/flyout-header/arrow-left.svg') left /
      contain no-repeat;
  }
}

.vacancy__header-head-link-vacancy {
  transform: translateX(20px);
}

.vacancy__header-head-copy,
.vacancy__header-head-copy-mobile {
  display: inline-block;
  // width: 100%;
  max-width: 201px;
  padding-right: 20px;
  color: $mainColor;
  position: relative;
  font-size: 18px;
  line-height: 24px;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 4.5px);
    width: 14px;
    height: 9px;
    background: url('../images/flyout/flyout-header/link.svg') left / contain
      no-repeat;
  }
}

.vacancy__header-head-copy-mobile {
  display: none;
}

.vacancy__header-headline {
  margin-bottom: 56px;
  position: relative;
}

.vacancy__headline-title {
  font-size: 64px;
  line-height: 68px;
  width: 100%;
  max-width: 928px;
}

.vacancy__headline-link {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  padding: 8px 40px 8px 16px;
  border-radius: 36px;
  background: $whiteColor;
  color: $mainColor;
  transform: translateY(-10px);

  &::before {
    content: '';
    position: absolute;
    right: 17px;
    top: calc(50% - 4.5px);
    width: 14px;
    height: 9px;
    background: url('../images/flyout/flyout-header/arrow-right.svg') no-repeat;
  }
}

.vacancy__header-meta {
  display: flex;
}

.vacancy__meta-info {
  width: 50%;
}

.vacancy__meta-info-title {
  color: #969696;
}

.vacancy__intro,
.vacancy__header,
.vacancy__description,
.vacancy__description-block,
.vacancy__office,
.vacancy__remote,
.vacancy__form,
.vacancy__positions,
.vacancy__news {
  margin-bottom: 96px;
}

// Styles for Flyout-Intro
.vacancy__intro {
  display: flex;
}

.vacancy__video,
.vacancy__intro-description {
  width: 50%;
}

.vacancy__intro-description > span,
.vacancy__description-list > ul > li > span {
  display: block;
}

.vacancy__video-container {
  width: 100%;
  max-width: 280px;
  min-height: 280px;
  border-radius: 50%;
  background: url('../images/flyout/flyout-intro/intro-bg.png') no-repeat;
}

.vacancy__intro-description-text {
  width: 100%;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

// Styles for Flyout-Description
.vacancy__description-block {
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }
}

.vacancy__description-title,
.vacancy__description-list {
  width: 50%;
}

.vacancy__description-list-wrapper {
  width: 100%;
  max-width: 454px;
}

.vacancy__description-list-item,
.vacancy__description-list > ul > li {
  list-style: disc;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

// Styles for flyout Office
.vacancy__office {
  display: flex;
}

.vacancy__office-map,
.vacancy__office-content {
  width: 50%;
}

.vacancy__office-map {
  padding-right: 16px;
}

.vacancy__office-map-selectors {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.vacancy__office-map-link,
.vacancy__office-map-link-active {
  color: $blackColorOpacity-05;
  margin-right: 16px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.vacancy__office-map-link-active {
  color: $mainColor;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 1px;
    background: $mainColor;
  }
}

.vacancy__office-map-wrapper {
  position: relative;
}

.vacancy__office-map-image {
  display: block;
  width: 100%;
}

.vacancy__office-selector-image {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 42px;
  height: 66px;
}

.vacancy__office-content {
  padding-top: 51px;
  display: flex;
  flex-direction: column;
}

.vacancy__office-adress {
  margin-bottom: 32px;
}

.vacancy__office-content-link,
.vacancy__office-content-link-mobile {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 196px;
  padding-right: 20px;
  color: $mainColor;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 4.5px);
    width: 13px;
    height: 9px;
    background: url('../images/flyout/flyout-office/arrow-right.svg') no-repeat;
  }
}

.vacancy__office-content-link-mobile {
  display: none;
}

.vacancy__office-content-bottom {
  margin-top: auto;
  display: flex;
}

.vacancy__office-location-wrapper {
  width: 50%;
}

.vacancy__office-location,
.vacancy__office-location-cokol,
.vacancy__office-location-arbat,
.vacancy__office-location-mck {
  position: relative;
  padding-left: 12px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}

.vacancy__office-location-cokol::before {
  background: #e42313;
}

.vacancy__office-location-arbat::before {
  background: #0072ba;
}

.vacancy__office-location-mck::before {
  border: 2px solid #df477c;
}

.vacancy__office-location-time,
.vacancy__office-location-minutes {
  color: #969696;
}

// Styles for Vacancy-Remote block
.vacancy__remote {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.vacancy__remote-title-wrapper {
  max-width: 697px;
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.vacancy__remote-title {
  font-size: 64px;
  line-height: 68px;
  margin-bottom: 24px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(114, 191, 68, 1));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $mainColor;
}

.vacancy__remote-info {
  max-width: 384px;
  margin-left: auto;
}

.vacancy__remote-image {
  display: block;
  width: 100%;
}

.vacancy__remote-image-container {
  max-width: 156px;
}

// Sytles for Vacancy-Form block
.vacancy__form {
  display: flex;
}

.vacancy__form-title-block,
.vacancy__form-inner-block {
  width: 50%;
}

.vacancy__form-title {
  font-size: 64px;
  line-height: 68px;
  max-width: 448px;
}

.vacancy__form-inner-block {
  display: flex;
  flex-direction: column;
}

.vacancy__form-top {
  margin-bottom: 24px;
}

.vacancy__form-name {
  border-bottom: 1px solid $blackColorOpacity-05;
  padding-bottom: 8px;
  margin-bottom: 24px;

  &:nth-child(3) {
    margin-bottom: 8px;
  }
}

.vacancy__form-name-value {
  font-size: 12px;
  line-height: 12px;
  color: $blackColorOpacity-05;
  margin-bottom: 4px;
}

.vacancy__form-input {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 18px;
  line-height: 24px;
}

.vacancy__add-contact,
.vacancy__add-contact-active {
  color: $mainColor;
  display: inline-block;
  width: 100%;
  max-width: 250px;
  padding-left: 15px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 4.5px);
    width: 9px;
    height: 9px;
    background: url('../images/flyout/flyout-form/plus.svg') no-repeat;
  }
}

.vacancy__add-contact-active::before {
  background: url('../images/flyout/flyout-form/minus.svg') no-repeat;
  top: 13px;
}

.vacancy__input-checkbox {
  display: none;
}

.vacncy__checkbox {
  display: inline-block;
  position: relative;
  margin-right: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid $mainColor;
  transform: translateY(1px);

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background: url('../images/flyout/flyout-form/check.svg') center / contain
      no-repeat;
    transition: opacity 0.2s;
    opacity: 0;
  }
}

.vacancy__input-checkbox:checked ~ .vacncy__checkbox::before {
  opacity: 1;
}

.vacancy__form-politics {
  color: $mainColor;
  border-bottom: 1px solid $mainColor;
  padding-bottom: 1px;
}

.vacancy__response {
  display: block;
  width: 100%;
  max-width: 213px;
  border-radius: 36px;
  background: $whiteColor;
  padding: 8px 40px 8px 16px;
  position: relative;
  font-size: 24px;
  line-height: 24px;
  margin-top: 16px;
  color: $mainColor;

  &::before {
    content: '';
    position: absolute;
    right: 17px;
    top: calc(50% - 4.5px);
    width: 14px;
    height: 9px;
    background: url('../images/flyout/flyout-form/arrow-right.svg') no-repeat;
  }
}

// Styles for Vacancy-Positions block
.vacancy__positions-title {
  margin-bottom: 32px;
}

.vacancy__positions-item {
  display: flex;
  margin-bottom: 32px;
  border-top: 1px solid #969696;
  padding-top: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.vacancy__item-positions-name-block {
  width: 50%;
}

.vacancy__item-positions-price-block,
.vacancy__item-positions-location-block {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.vacancy__item-positions-name {
  max-width: 265px;
  margin-bottom: 6px;
  display: inline-block;
  color: $mainColor;
}

.vacancy__bread-crumbs-block {
  font-size: 12px;
  line-height: 12px;
}

.vacancy__bread-crumbs-item {
  color: $blackColorOpacity-05;
  padding-right: 16px;
  margin-right: 5px;
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 3.5px);
    width: 11px;
    height: 7px;
    background: url('../images/flyout/flyout-positions/arrow-right.svg')
      no-repeat;
  }

  &:last-child::after {
    display: none;
  }
}

.vacancy__item-positions-experience,
.vacancy__item-positions-location {
  margin-top: auto;
}

// Styles for News block
.vacancy__news {
  overflow: hidden;
  padding-left: 16px;
}

.vacancy__news-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  padding-right: 16px;
}

.vacancy__news-link,
.vacancy__news-link-active {
  color: $blackColorOpacity-05;
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.vacancy__news-link-mobile {
  display: none;
}

.vacancy__news-link-active {
  color: $mainColor;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 1px;
    background: $mainColor;
  }
}

.vacancy__news-btn-prev,
.vacancy__news-btn-next {
  width: 16px;
  height: 16px;
}

.vacancy__news-btn-prev {
  margin-right: 16px;
  background: url('../images/flyout/flyout-news/arrow-left.svg') no-repeat;
}

.vacancy__news-btn-next {
  background: url('../images/flyout/flyout-news/arrow-right.svg') no-repeat;
}

.vacancy__news-row {
  display: flex;
  width: max-content;
}

.vacancy__news-item {
  width: 100%;
  max-width: 480px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  color: $mainColor;

  &:last-child {
    margin-right: 0;
  }
}

.vacancy__news-item-image-block {
  margin-bottom: 12px;
  width: 100%;
  height: 280px;
  display: flex;
  overflow: hidden;
}

.vacancy__news-image {
  display: block;
  width: 100%;
  object-fit: contain;
}

.vacancy__news-title-info {
  margin-bottom: 24px;
  display: inline-block;
  color: $mainColor;
}

.vacancy__news-block-desktop {
  padding-left: 16px;
}

.vacancy__news-block-mobile {
  display: none;
}

// Styles for 1440px
@media (max-width: 1440px) {
  .flyout,
  .flyout__active {
    font-size: 16px;
    line-height: 20px;
  }

  .vacancy__header-head {
    margin-bottom: 40px;
  }

  .vacancy__header-headline {
    margin-bottom: 40px;
  }

  .vacancy__headline-title {
    font-size: 56px;
    line-height: 60px;
  }

  .vacancy__headline-link {
    transform: translateY(-5px);
    font-size: 20px;
    line-height: 20px;
  }

  .vacancy__intro,
  .vacancy__header,
  .vacancy__description,
  .vacancy__office,
  .vacancy__remote,
  .vacancy__form,
  .vacancy__positions,
  .vacancy__news {
    margin-bottom: 72px;
  }

  .vacancy__description-block {
    margin-bottom: 64px;
  }

  .vacancy__remote-title-wrapper {
    max-width: 616px;
  }

  .vacancy__remote-title {
    font-size: 56px;
    line-height: 60px;
  }

  .vacancy__remote-info {
    max-width: 392px;
  }

  .vacancy__remote-image-container {
    max-width: 96px;
  }

  .vacancy__form-title {
    font-size: 56px;
    line-height: 60px;
  }

  .vacancy__form-input {
    font-size: 16px;
    line-height: 20px;
  }

  .vacancy__response {
    font-size: 20px;
    line-height: 20px;
    max-width: 187px;
  }

  .vacancy__office-content-link {
    max-width: 176px;
  }

  .vacancy__news-item {
    max-width: 360px;
  }

  .vacancy__news-item-image-block {
    height: 210px;
  }
}

// Styles for 1024px
@media (max-width: 1250px) {
  .vacancy__header-head,
  .vacancy__header-headline {
    margin-bottom: 32px;
  }

  .vacancy__headline-title {
    font-size: 32px;
    line-height: 36px;
    max-width: 498px;
  }

  .vacancy__headline-link {
    font-size: 18px;
    line-height: 18px;
  }

  .vacancy__meta-info {
    &:first-child {
      width: 55%;
    }

    &:last-child {
      width: 45%;
    }
  }

  .vacancy__intro,
  .vacancy__header,
  .vacancy__description,
  .vacancy__office,
  .vacancy__remote,
  .vacancy__form,
  .vacancy__positions,
  .vacancy__news {
    margin-bottom: 64px;
  }

  .vacancy__video-container {
    max-width: 220px;
    min-height: 220px;
    background: url('../images/flyout/flyout-intro/intro-bg.png') center /
      contain no-repeat;
  }

  .vacancy__office-content-bottom {
    flex-wrap: wrap;
  }

  .vacancy__office-location-wrapper {
    width: 100%;
  }

  .vacancy__office-adress {
    margin-bottom: 24px;
  }

  .vacancy__office-content-link {
    margin-bottom: 30px;
  }

  .vacancy__office-content {
    padding-top: 46px;
  }

  .vacancy__office-map-wrapper {
    height: 83%;
    display: flex;
  }

  .vacancy__remote-title-wrapper {
    width: 100%;
    max-width: 486px;
  }

  .vacancy__remote-title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 12px;
  }

  .vacancy__remote-info {
    max-width: 341px;
  }

  .vacancy__remote-image-container {
    max-width: 108px;
    height: 108px;
    display: flex;
  }

  .vacancy__form-title {
    font-size: 32px;
    line-height: 36px;
  }

  .vacancy__response {
    font-size: 18px;
    line-height: 18px;
    max-width: 174px;
  }

  .vacancy__item-positions-name {
    max-width: 232px;
  }

  .vacancy__positions-title,
  .vacancy__positions-item {
    margin-bottom: 24px;
  }

  .vacancy__news-item {
    max-width: 308px;
  }
}

// Styles for 768px
@media (max-width: 990px) {
  .flyout__side-bar {
    display: none;
  }

  .vacancy {
    width: 100%;
  }

  .vacancy__header-headline {
    margin-bottom: 24px;
  }

  .vacancy__headline-title {
    max-width: 100%;
  }

  .vacancy__meta-info {
    display: flex;
    justify-content: space-around;

    &:first-child {
      width: 50%;
      margin-right: 16px;
    }

    &:last-child {
      width: 50%;
    }
  }

  .vacancy__meta-info-item {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  .vacancy__meta-info-title {
    display: block;
  }

  .vacancy__video,
  .vacancy__description-title {
    width: 30%;
    margin-right: 28px;
  }

  .vacancy__intro-description,
  .vacancy__description-list {
    width: 70%;
  }

  .vacancy__description-list-wrapper {
    max-width: 494px;
  }

  .vacancy__description-list-item,
  .vacancy__description-list > ul > li {
    margin-left: 15px;
  }

  .vacancy__office-map {
    padding-right: 12px;
  }

  .vacancy__office-content-link {
    margin-bottom: 32px;
  }

  .vacancy__office-content {
    padding-top: 60px;
  }

  .vacancy__remote-title-wrapper {
    max-width: 408px;
    margin-right: 0;
  }

  .vacancy__remote-info {
    margin-left: 0;
    max-width: 100%;
  }

  .vacancy__remote-image-container {
    max-width: 96px;
    height: 96px;
  }

  .vacancy__form-title-block {
    width: 30%;
  }

  .vacancy__form-inner-block {
    width: 70%;
  }

  .vacancy__response {
    margin-top: 36px;
  }

  .vacancy__positions-item {
    justify-content: space-between;
  }

  .vacancy__item-positions-name-block,
  .vacancy__item-positions-price-block,
  .vacancy__item-positions-location-block {
    width: 32.3%;
  }

  .vacancy__news-item {
    max-width: 280px;
  }

  .vacancy__news-item-image-block {
    height: 165px;
  }
}

// Styles for 320px
@media (max-width: 670px) {
  .vacancy__header-head-copy,
  .vacancy__news-block-desktop {
    display: none;
  }

  .vacancy__header-head-copy-mobile,
  .vacancy__news-block-mobile {
    display: block;
  }

  .flyout,
  .flyout__active {
    font-size: 14px;
    line-height: 16px;
  }

  .vacancy__header-meta {
    flex-direction: column;
    margin-bottom: 16px;
  }

  .vacancy__meta-info:first-child,
  .vacancy__meta-info:last-child {
    width: 100%;
    flex-direction: column;
    margin-right: 0;
  }

  .vacancy__meta-info-title {
    display: inline-block;
  }

  .vacancy__meta-info-item {
    margin-right: 0;
  }

  .vacancy__header-head-copy-mobile {
    max-width: 180px;
    padding-right: 18px;
    font-size: 16px;
    line-height: 20px;
  }

  .vacancy__intro,
  .vacancy__header,
  .vacancy__description,
  .vacancy__office,
  .vacancy__remote,
  .vacancy__form,
  .vacancy__positions,
  .vacancy__news {
    margin-bottom: 32px;
  }

  .vacancy__header-head {
    margin-bottom: 24px;
  }

  .vacancy__intro,
  .vacancy__description-block,
  .vacancy__office,
  .vacancy__form,
  .vacancy__office-map-selectors {
    flex-direction: column;
  }

  .vacancy__video,
  .vacancy__intro-description,
  .vacancy__description-title,
  .vacancy__description-list,
  .vacancy__office-map,
  .vacancy__office-content,
  .vacancy__remote-title-wrapper,
  .vacancy__form-title-block,
  .vacancy__form-inner-block,
  .vacancy__item-positions-name {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }

  .vacancy__video,
  .vacancy__description-block {
    margin-bottom: 24px;
  }

  .vacancy__video-container {
    margin: 0 auto;
  }

  .vacancy__intro-description-text,
  .vacancy__description-title-text,
  .vacancy__office-map-title,
  .vacancy__office-map-selectors,
  .vacancy__office-content-top,
  .vacancy__office-content-bottom,
  .vacancy__form-title-block,
  .vacancy__positions-item,
  .vacancy__item-positions-name-block,
  .vacancy__item-positions-price {
    margin-bottom: 16px;
  }

  .vacancy__office-map {
    padding-right: 8px;
  }

  .vacancy__office-content {
    padding-top: 16px;
  }

  .vacancy__description-list-item,
  .vacancy__news-title-info,
  .vacancy__description-list > ul > li {
    margin-bottom: 8px;
  }

  .vacancy__office-adress {
    margin-bottom: 0;
  }

  .vacancy__office-content-link {
    display: none;
  }

  .vacancy__office-content-link-mobile {
    display: block;
    max-width: 157px;
    padding-right: 14px;
  }

  .vacancy__remote {
    display: block;
    position: relative;
  }

  .vacancy__remote-title {
    max-width: 75%;
    margin-bottom: 20px;
  }

  .vacancy__remote-image-container {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 80px;
    height: 80px;
  }

  .vacancy__form-input {
    font-size: 14px;
    line-height: 16px;
  }

  .vacancy__response {
    margin-top: 24px;
  }

  .vacancy__positions-item {
    flex-wrap: wrap;
  }

  .vacancy__item-positions-name-block {
    width: 100%;
  }

  .vacancy__item-positions-price-block,
  .vacancy__item-positions-location-block {
    width: 50%;
  }

  .vacancy__news {
    padding-left: 0;
  }

  .vacancy__news-row {
    flex-direction: column;
    width: 100%;
  }

  .vacancy__news-item {
    margin-right: 0;
    margin-bottom: 24px;
    max-width: 100%;
  }

  .vacancy__news-title-info,
  .vacancy__news-date-container,
  .vacancy__news-title {
    padding: 0 8px;
  }

  .vacancy__news-date-container {
    margin-top: auto;
  }

  .vacancy__news-arrows {
    display: none;
  }

  .vacancy__news-link-mobile {
    display: inline-block;
    color: $mainColor;
    padding-right: 20px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: calc(50% - 4.5px);
      width: 14px;
      height: 9px;
      background: url('../images/flyout/flyout-news/arrow-right.svg') no-repeat;
    }
  }

  .vacancy__news-item-image-block {
    height: auto;
  }
}

.wpcf7-form-control-wrap {
  width: 100%;
}

.codedropz-upload-inner {
  white-space: inherit;
}

.codedropz-upload-container {
  padding: 20px 20px;
}
