.footer {
  padding-top: 40px;
  padding-bottom: 24px;
  background-color: $mainColor;
  font-size: 18px;
  line-height: 24px;
  color: $whiteColor;
  overflow: hidden;
}

.footer__info-block-mobile {
  display: none;
}

.footer__logo-link-mobile {
  display: none;
}

.footer__title-container {
  position: relative;
  margin-bottom: 200px;
}

.footer__title {
  font-size: 160px;
  line-height: 144px;
  letter-spacing: -0.03em;
}

.footer__search-block {
  position: absolute;
  left: 47%;
  top: 37%;
  width: 100%;
  max-width: 400px;
  box-shadow: 48px 2px 24px rgba(0, 0, 0, 0.03);
  border-radius: 128px;
  background: $whiteColor;
}

.footer__search-field {
  padding: 16px;
  background: transparent;
  font-size: 18px;
  line-height: 24px;
  width: 90%;
  color: $mainColor;
}

.footer__search-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10%;
  background-color: transparent;
  background: url('../images/footer/search.svg') left center / 50% no-repeat;
}

.footer__wrapper {
  display: flex;
  justify-content: flex-start;
}

.footer__item {
  width: 100%;
  display: flex;
  flex-direction: column;

  &:first-child {
    max-width: 944px;
  }

  &:nth-child(2) {
    max-width: 640px;
  }

  &:last-child {
    max-width: 304px;
  }
}

.footer__item-wrapper {
  display: flex;
  justify-content: flex-start;
}

.footer__logo-link {
  margin-right: 80px;
}

.footer__item-title {
  margin-bottom: 24px;
}

.footer__contacts-block {
  margin-bottom: 8px;
}

.footer__contact-mail,
.footer__contact-phone {
  font-size: 40px;
  line-height: 44px;
}

.footer__contact-mail {
  line-height: 30px;
}

.footer__contact-phone {
  color: $whiteColor;
}

.footer__contact-button,
.footer__contact-button,
.footer__contacts-time {
  background: transparent;
  color: $whiteColor;
  font-size: 12px;
  line-height: 12px;
}

.footer__contact-button {
  margin-right: 8px;
}

.footer__item-social-row {
  margin-bottom: 8px;
}

.footer__item-social-link {
  display: inline-block;
  position: relative;
  padding-right: 20px;
  color: $whiteColor;
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 4.5px);
    width: 10px;
    height: 10px;
    background: url('../images/footer/arrow.svg') center / contain no-repeat;
  }
}

.footem__item-directions-link {
  color: $whiteColor;
}

.footer__item-social-block {
  margin-bottom: 8px;

  &:nth-child(4) {
    margin-bottom: 96px;
  }
}

.footer__info-text {
  margin-top: auto;
}

.footer__info-text,
.footer__info-text-mobile {
  color: #969696;
}

// Styles for 1440px
@media (max-width: 1700px) {
  .footer {
    padding-top: 40px;
    font-size: 16px;
    line-height: 20px;
  }

  .container {
    padding-bottom: 0;
  }

  .footer__title {
    font-size: 124px;
    line-height: 112px;
    margin-bottom: 252px;
  }

  .footer__contact-mail,
  .footer__contact-phone {
    font-size: 32px;
    line-height: 40px;
  }

  .footer__item {
    &:first-child {
      max-width: 704px;
    }

    &:nth-child(2) {
      max-width: 480px;
    }

    &:last-child {
      max-width: 224px;
    }
  }

  .footer__logo-link {
    margin-right: 0;
  }
}

// Styles for 1024px
@media (max-width: 1150px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 16px;
  }

  .footer__title {
    font-size: 88px;
    line-height: 80px;
    margin-bottom: 124px;
  }

  .footer__search-block {
    left: 35%;
  }

  .footer__wrapper {
    flex-wrap: wrap;
    margin-bottom: 64px;
  }

  .footer__item {
    &:first-child {
      max-width: 100%;
      margin-bottom: 32px;
    }

    &:nth-child(2) {
      max-width: 510px;
      order: 1;
    }

    &:last-child {
      max-width: 326px;
    }
  }

  .footer__logo-link {
    margin-right: 102px;
  }

  .footer__info-text {
    display: none;
  }

  .footer__item-title {
    margin-bottom: 16px;
  }

  .footer__info-block-mobile {
    display: flex;
    color: #969696;
  }

  .footer__info-block-item-mobile {
    width: 100%;

    &:first-child {
      max-width: 326px;
    }

    &:nth-child(2) {
      max-width: 249px;
      margin-right: 91px;
    }

    &:last-child {
      max-width: 209px;
    }
  }

  .footer__item-social-block:nth-child(4) {
    margin-bottom: 0;
  }
}

// Styles for 768px
@media (max-width: 850px) {
  .footer__item {
    &:first-child {
      max-width: 100%;
      margin-bottom: 32px;
    }

    &:nth-child(2) {
      max-width: 480px;
    }

    &:last-child {
      max-width: 248px;
    }
  }

  .footer__logo-link {
    margin-right: 24px;
  }

  .footer__info-block-mobile {
    flex-direction: column;
  }

  .footer__info-block-item-mobile {
    margin-bottom: 8px;
    max-width: 100%;

    &:first-child {
      max-width: 100%;
    }

    &:nth-child(2) {
      max-width: 100%;
      margin-right: 0;
    }

    &:last-child {
      max-width: 100%;
      margin-bottom: 0;
    }
  }
}

// Styles for 320px
@media (max-width: 750px) {
  .footer {
    padding-top: 24px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
  }

  .footer__title-container {
    margin-bottom: 80px;
  }

  .footer__title {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 0;
  }

  .footer__search-block {
    max-width: 264px;
    left: 12%;
    top: 90%;
  }

  .footer__search-field {
    padding: 11px 12px;
    line-height: 18px;
  }

  .footer__logo-link {
    display: none;
  }

  .footer__logo-link-mobile {
    display: block;
    margin-bottom: 16px;
  }

  .footer__item-title {
    margin-bottom: 8px;
  }

  .footer__item {
    &:first-child {
      max-width: 100%;
      margin-bottom: 32px;
      order: 1;
      margin-bottom: 24px;
    }

    &:nth-child(2) {
      max-width: 510px;
      order: 2;
      margin-bottom: 0;
    }

    &:last-child {
      max-width: 326px;
      order: 0;
      margin-bottom: 24px;

      & > .footer__item-title {
        margin-bottom: 20px;
      }
    }
  }

  .footer__wrapper {
    margin-bottom: 48px;
  }

  .footer__contact-mail,
  .footer__contact-phone {
    font-size: 24px;
    line-height: 28px;
  }
}
