// @import './styles.scss';

.it-header,
.listing-header {
  position: fixed;
  // top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  background: $bodyBackgraund;
}

.it-header__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 16px 0;
  transition: 0.3s;
}

.it-header__item {
  width: 33.33%;
  font-size: 18px;
  line-height: 24px;
}

.it-header__item-mobile {
  display: none;
}

.it-header__logo {
  display: block;
  width: 139.5px;
  height: 24px;

  & > svg {
    pointer-events: none;
  }
}

.it-header__phone-mobile {
  display: block;
  position: relative;
  width: 132px;
  font-size: 14px;
  line-height: 24px;
  color: $mainColor;
}

.it-header__phone-mobile-icon {
  position: absolute;
  top: 5px;
  right: 0;
  width: 13px;
  height: 13px;
  pointer-events: none;
}

.it-header__contact-text,
.it-header__contact-us {
  transition: 0.3s;
}

.it-header__contact-us-to-top {
  transform: translateY(-10px);
}

.it-header__directions {
  display: flex;
  align-items: center;
  position: relative;
  width: 220px;
  cursor: pointer;
  transition: 0.3s;
  padding: 16px 16px 0px 16px;
  margin-top: -25px;
}
.it-header__directions-active {
  background-color: #fff;
  border-radius: 16px 16px 0px 0px;
}

.it-header__directions-dropdown-wrapper {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}

.it-header__directions-dropdown-list,
.it-header__directions-dropdown-list-active {
  transition: 0.3s;
  background: $whiteColor;
  border-radius: 0px 0px 16px 16px;
  padding-top: 12px;
  overflow: hidden;
}

.it-header__directions-dropdown-list {
  transform: translateY(-110%);
}

.it-header__directions-dropdown-list-active {
  transform: translateY(0);
}

.it-header__directions-dropdown-item {
  color: $mainColor;
  display: block;
  padding: 0 16px;
  line-height: 44px;

  &:last-child {
    // margin: 0;
    padding-bottom: 4px;
  }
  transition: 0.3s;

  pointer-events: visible;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.it-header__directions-title,
.it-header__directions-value,
.it-header__directions-arrow,
.it-header__arrow-bottom {
  pointer-events: none;
}

.it-header__arrow-bottom {
  margin-bottom: 3px;
}

.it-header__directions-title {
  margin-right: 4px;
}

.it-header__directions-value {
  margin-right: 5px;
}

.it-header__directions-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  transition: 0.3s;
}
.it-header__directions-arrow-active {
  transform: scale(-1);
}

.it-header__phone {
  color: $mainColor;
}

.it-header__button,
.direct-link__header-button {
  display: block;
  width: 162px;
  text-align: center;
  border: 0.5px solid #e31235;
  border-radius: 48px;
  position: absolute;
  top: 16px;
  right: 0;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 2px;
  color: $mainColor;
  transition: 0.3s;
  height: 26px;
}

.direct-link__header-button {
  top: 4px;
}

// Styles for 1440px
@media (max-width: 1440px) {
  .it-header__item {
    font-size: 16px;
    line-height: 20px;
  }

  .it-header__directions,
  .it-header__directions-active {
    width: 198px;
  }
}

@media (max-width: 1100px) {
  .it-header__button {
    top: 16px;
  }
}

// Styles for 768px
@media (max-width: 991px) {
  .it-header__contact-us {
    display: none;
  }
}

// Styles for mobile landscape orientation
@media (max-width: 767px) {
  .it-header__item,
  .it-header__item-mobile {
    width: 50%;
  }

  .it-header__item:first-child,
  .it-header__item:nth-child(3),
  .it-header__button,
  .direct-link__header-button {
    display: none;
  }

  .it-header__item-mobile {
    display: flex;
    justify-content: flex-end;
  }
}

// Styles for 320px
@media (max-width: 479px) {
  .it-header,
  .listing-header {
    position: static;
  }

  .it-header__item {
    font-size: 14px;
    line-height: 16px;
  }

  .it-header__logo {
    width: 117.27px;
    height: 20px;

    & > svg {
      width: 117.27px;
      height: 20px;
    }
  }
}
