// @import './styles.scss';

.tagify.tagify--outside.listing-top__profession-filter.tagify--noTags.tagify--empty {
  border-bottom: none;
}

.tagify.tagify--select.selectMode.listing__specialization-select.tagify--noTags.tagify--empty,
.tagify.tagify--select.selectMode.listing__city-select.tagify--noTags.tagify--empty {
  padding-bottom: 14px;
}

.tagify.tagify--select.selectMode.listing__specialization-select,
.tagify.tagify--select.selectMode.listing__city-select {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 12px;
}

.listing {
  font-size: 18px;
  line-height: 24px;
}

.listing-top {
  margin-bottom: 96px;
  padding-top: 136px;
}

.listing-top__title {
  font-size: 64px;
  line-height: 68px;
}

.listing-top__counter,
.listing-top__counter-list-item {
  font-size: 40px;
  line-height: 44px;
  color: #e31235;
  display: inline-block;
  transform: translateY(-15px);
  margin-left: -8px;
  transition: 0.3s;
}

.listing-top__counter-list-item {
  opacity: 0;
}

.listing-top__dropdown {
  font-size: 64px;
  line-height: 68px;
  margin-bottom: 64px;
  position: relative;
}

.listing-top__where,
.listing-top__in {
  display: inline-block;
  position: relative;
}

.listing-top__dropdown-arrow {
  position: absolute;
  right: 0;
  bottom: 15px;
}

.listing-top__where,
.listing-top__dropdown-list-item {
  cursor: pointer;

  &:hover > .listing-top__counter-list-item {
    opacity: 1;
  }
}

.listing-top__where {
  padding-right: 55px;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 14px);
    height: 36px;
    width: 38px;
    background: url('../images/listing/listing-top/arrow-big-bottom.svg')
      no-repeat;

    display: none;
  }
}

.listing-top__dropdown-container-active {
  color: #e31235;

  & > .listing-top__where::after {
    background: url('../images/listing/listing-top/arrow-big-red.svg') center /
      contain no-repeat;
  }
}

.listing-top__dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: $bodyBackgraund;
  z-index: 1;
}

.listing-top__filters-wrapper {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.listing-top__filter-item {
  width: 100%;
  max-width: 304px;
  margin-right: 16px;
  // border-bottom: 1px solid $blackColorOpacity-05;
  position: relative;
  cursor: pointer;

  // Temp
  display: flex;
  flex-direction: column;

  // Temp

  &:last-child {
    margin-right: 0;
  }
}

.listing-top__filter-sity {
  display: none;
}

.listing-top__filter-list-wrapper {
  padding-top: 25px;
  margin-left: auto;
}

.listing-top__filter-list-item {
  display: flex;
  justify-content: flex-end;
  color: $blackColorOpacity-05;
}

.listing-top__filter-list-item-active {
  color: $mainColor;

  & > .listing-top__filter-list-item-arrow {
    opacity: 1;
  }
}

.listing-top__filter-list-item-arrow {
  margin-right: 9px;
  margin-top: 7px;
  opacity: 0;
}

.listing-top__filter-list-item-arrow,
.listing-top__filter-list-item-text {
  pointer-events: none;
}

// Пробные стили для Тагифай
.listing__filter-item-select-arrow {
  position: absolute;
  right: 0;
  top: 12px;
}

.listing__filter-item-border-bottom {
  height: 1px;
  // background: $blackColorOpacity-05;
  position: relative;
  // display: none;
}

.listing-top__filter-item-search-icon {
  position: absolute;
  right: 0;
  top: 23px;
}

.tagify--outside.listing-top__profession-filter {
  & > .tagify__input {
    border: none;
    border-bottom: 1px solid $blackColorOpacity-05;
  }
}

.tagify--outside.listing-top__profession-filter {
  & > .tagify__input {
    min-height: 35px;
  }

  & > .tagify__tag {
    border: 0.5px solid #969696;
    box-sizing: border-box;
    border-radius: 20px;
    // padding: 2px 4px 4px 6px;
    padding: 0;
    margin: 8px 0 1px 3px;
  }
}

.tagify.tagify--select {
  & > .tagify__input {
    min-height: 34px;
  }
}
// Пробные стили для Тагифай

.listing-top__filter-item:first-child {
  width: 100%;
  max-width: 608px;
  margin-right: 16px;
  // border-bottom: 1px solid $blackColorOpacity-05;
  // padding-bottom: 8px;
  display: flex;
  cursor: auto;

  // Стили для Тагифайм
  padding-top: 12px;
  // Стили для Тагифайм

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 8px);
    width: 11px;
    height: 11px;
    background: url('../images/listing/listing-top/search.svg') no-repeat;
    cursor: pointer;

    display: none;
  }
}

.listing-top__filter-item-button-reset {
  position: absolute;
  left: 0;
  bottom: -30px;
  background: transparent;
  font-size: 18px;
  line-height: 24px;
  color: #969696;
}

.listing-top__filter-item-selected {
  display: inline-block;
  cursor: auto;
  width: 50%;
}

.listing-top__filter-item-position,
.listing-top__filter-item-value {
  display: inline-block;
}

.listing-top__filter-item-position {
  margin-right: 4px;
  padding: 2px 16px 4px 6px;
  border: 1px solid #969696;
  border-radius: 20px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 6px;
    top: calc(50% - 3.5px);
    width: 7px;
    height: 7px;
    background: url('../images/listing/listing-top/cross.svg') no-repeat;
    cursor: pointer;
  }
}

.listing-top__filter-item-value {
  padding: 2px 6px 4px 6px;
  border: 1px solid #969696;
  border-radius: 20px;
}

.listing-top__filter-item-input {
  width: 50%;
  font-size: 18px;
  line-height: 24px;
  padding-left: 8px;
  padding-right: 20px;
  position: relative;
  background: transparent;
}

// Styles for Position card
.position__card-wrapper {
  margin-bottom: 32px;
}

.position__card-item {
  position: relative;
  margin-bottom: 32px;
  padding-top: 8px;
  border-top: 1px solid $blackColorOpacity-05;
  display: flex;
  transition: 0.3s;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }
}

.position__info-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 32px 10px 16px;
  background: $whiteColor;
  color: $mainColor;
  border-radius: 36px;
  font-size: 12px;
  line-height: 12px;
  z-index: 1;
  opacity: 0;
}

.position__card-item:hover {
  border-top: 1px solid #e31235;

  & > .position__info-link {
    opacity: 1;
  }

  & > .position__job-title-container > .position__job-title {
    color: #e31235;
  }
}

.position__link-arrow-black {
  position: absolute;
  width: 13.85px;
  right: 12px;
  top: calc(50% - 3.5px);
}

.position__job-title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 608px;
  margin-right: 16px;
  pointer-events: none;
}

.position__job-title {
  color: $mainColor;
  width: 100%;
  max-width: 300px;
  margin-bottom: 8px;
  transition: 0.3s;
}

.position__bread-crumbs-container,
.position__bread-crumbs-container-mobile {
  line-height: 12px;
}

.position__bread-crumbs-container-mobile {
  display: none;
}

.position__link,
.position__link-arrow {
  display: inline-block;
}

.position__link {
  color: $blackColorOpacity-05;
  font-size: 12px;
  line-height: 12px;

  &:last-child > .position__link-arrow {
    display: none;
  }
}

.position__show-more {
  color: $mainColor;
  margin-top: auto;
}

.position__bread-crumbs-block {
  width: 100%;
  max-width: 304px;
  margin-right: 16px;
  pointer-events: none;
}

.position__payment-container {
  width: 100%;
  max-width: 304px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.position__job-expiriens {
  margin-top: auto;
}

.position__location-container {
  width: 100%;
  max-width: 304px;
  pointer-events: none;
}

.position__location-city-metro,
.position__location-city-metro-sokoln,
.position__location-city-metro-arbat {
  position: relative;
  padding-left: 12px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $mainColor;
  }
}

.position__location-city-metro-sokoln::after {
  background: #e42313;
}

.position__location-city-metro-arbat::after {
  background: #0072ba;
}

.position__location,
.position__location-map {
  margin-top: 24px;
}

.position__location-map {
  color: $mainColor;
  display: inline-block;
}

// Styles for Banner-S
.banner-S {
  margin-bottom: 32px;
  border-top: 1px solid $blackColorOpacity-05;
  padding: 32px 16px;
}

.banner-S__content {
  display: flex;
}

.banner-S__side-bar {
  width: 100%;
  max-width: 608px;
  margin-right: 16px;
}

.banner-S__image-container {
  width: 100%;
  max-width: 303px;
  margin-right: 17px;
}

.banner-S__image {
  display: block;
  width: 100%;
}

.banner-S__title-container {
  display: flex;
  align-items: flex-start;
}

.banner-S__title {
  position: relative;
  font-size: 40px;
  line-height: 44px;
  width: 100%;
  max-width: 561px;
  margin-right: 84px;
}

.banner-S__link,
.banner-S__link-mobile {
  position: absolute;
  left: calc(50% - 155px);
  bottom: -45px;
  display: inline-block;
  padding: 9px 40px 8px 16px;
  width: 311px;
  color: $mainColor;
  background: $whiteColor;
  font-size: 24px;
  line-height: 24px;
  box-shadow: 16px 2px 24px rgba(0, 0, 0, 0.03);
  border-radius: 36px;
  transform: rotate(-2deg);
}

.banner-S__link-mobile {
  display: none;
}

.banner-S__link-arrow {
  position: absolute;
  right: 18px;
  top: calc(50% - 3.5px);
  width: 14px;
}

.banner-S__info {
  position: relative;
  width: 100%;
  max-width: 279px;
}

// Styles for Banner-L
.banner-l {
  margin-bottom: 32px;
  padding-top: 32px;
  padding-bottom: 104px;
  padding-left: 16px;
  border-top: 1px solid $blackColorOpacity-05;
  overflow: hidden;
}

.banner-l__content {
  position: relative;
}

.banner-l__title {
  margin-bottom: 0;
}

.banner-l__title {
  font-size: 160px;
  line-height: 144px;
  letter-spacing: -0.03em;
  max-width: 1155px;
}

.banner-l__header-background {
  position: absolute;
  top: 0;
  right: -103px;
  bottom: 0;
  width: 100%;
  max-width: 1024px;
}

.banner-l__header-link {
  position: absolute;
  left: 53%;
  bottom: -46px;
  background: #ffffff;
  box-shadow: 16px 2px 24px rgba(0, 0, 0, 0.03);
  border-radius: 36px;
  transform: rotate(-2deg);
  font-size: 24px;
  line-height: 24px;
  text-transform: lowercase;
  padding: 9px 40px 9px 16px;
  color: $mainColor;
}

.banner-l__header-link-arrow {
  position: absolute;
  right: 18px;
  top: calc(50% - 3.5px);
  width: 14px;
}

// Styles for Subscribe section
.position-subscribe {
  margin-bottom: 32px;
  padding-top: 32px;
  display: flex;
  border-top: 1px solid $blackColorOpacity-05;
}

.position-subscribe__side-bar,
.position-subscribe__content {
  width: 50%;
}

.position-subscribe__content {
  max-width: 638px;
  padding-right: 16px;
}

.position-subscribe__title {
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 32px;
}

.position-subscribe__info {
  margin-bottom: 32px;
}

.position-subscribe__mail-container {
  position: relative;
  border-bottom: 1px solid $blackColorOpacity-05;
  padding-bottom: 8px;
}

.position-subscribe__input {
  display: block;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  background: transparent;
}

.position-subscribe__button {
  position: absolute;
  right: 0;
  bottom: 8px;
  width: 14px;
  height: 24px;
}

// Styles for Button Show more
.products__show-more {
  margin-top: 32px;
  margin-bottom: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.position__show-more-button {
  display: inline-block;
  padding: 8px 40px 8px 16px;
  border: 1px solid #969696;
  border-radius: 36px;
  position: relative;
  color: $mainColor;
  font-size: 24px;
  line-height: 24px;
}

.position__show-more-button-link {
  position: absolute;
  right: 20px;
  top: calc(50% - 3px);
  width: 9px;
  height: 9px;
}

// Styles for Section Events
.events {
  overflow: hidden;
  padding-left: 16px;
  margin-bottom: 96px;
}

.events__news-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  padding-right: 16px;
}

.events__news-link,
.events__news-link-active,
.events__news-link-events,
.events__news-link-events-active {
  color: $blackColorOpacity-05;
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.events__news-link-active,
.events__news-link-events-active {
  color: $mainColor;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 1px;
    background: $mainColor;
  }
}

.events__news-btn-prev,
.events__news-btn-next {
  width: 16px;
  height: 16px;
  background: transparent;
}

.events__news-btn-prev {
  margin-right: 18px;
}

.vacancy__news-link-mobile {
  display: none;
}

.events__news-row {
  display: flex;
  width: max-content;
}

.events__news-item {
  width: 100%;
  max-width: 480px;
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.events__news-item-image-block {
  margin-bottom: 12px;
}

.events__news-image {
  display: block;
  width: 100%;
}

.events__news-title-info {
  margin-bottom: 24px;
  display: inline-block;
  color: $mainColor;
}

// Styles for 1440 px
@media (max-width: 1440px) {
  .listing,
  .listing-top__filter-item-input,
  .listing-top__filter-item-button-reset {
    font-size: 16px;
    line-height: 20px;
  }

  // Для Тагифай
  .tagify.tagify--select {
    & > .tagify__input {
      min-height: 30px;
    }
  }

  .tagify--outside.listing-top__profession-filter {
    & > .tagify__input {
      min-height: 31px;
    }
  }

  // Для Тагифай

  .listing-top {
    margin-bottom: 72px;
    padding-top: 112px;
  }

  .listing-top__dropdown {
    margin-bottom: 48px;
  }

  .listing-top__title,
  .listing-top__in,
  .listing-top__where,
  .listing-top__dropdown-list-item {
    font-size: 56px;
    line-height: 60px;
  }

  .listing-top__counter,
  .listing-top__counter-list-item {
    font-size: 32px;
    line-height: 40px;
  }

  .listing-top__filter-item:first-child,
  .position__job-title-container,
  .banner-S__side-bar {
    max-width: 448px;
  }

  .listing-top__filter-item-selected {
    width: 85%;
  }

  .position__bread-crumbs-block,
  .position__payment-container,
  .position__location-container,
  .listing-top__filter-item {
    max-width: 224px;
  }

  .banner-S {
    padding: 0 16px;
    padding-top: 24px;
  }

  .banner-S__image-container {
    max-width: 224px;
    margin-right: 16px;
  }

  .banner-S__title {
    max-width: 464px;
    margin-right: 16px;
    font-size: 32px;
    line-height: 40px;
  }

  .banner-S__link {
    width: 268px;
    font-size: 20px;
    line-height: 20px;
    left: calc(63% - 155px);
    bottom: -25px;
  }

  .banner-S__link-arrow {
    width: 13.8px;
    top: calc(50% - 2px);
  }

  .banner-S__info {
    max-width: 224px;
  }

  .position__card-item,
  .banner-S,
  .banner-l,
  .position-subscribe,
  .events__news-title {
    margin-bottom: 24px;
  }

  .banner-l {
    padding-top: 24px;
    padding-bottom: 56px;
    padding-left: 8px;
  }

  .banner-l__title {
    font-size: 124px;
    line-height: 112px;
  }

  .banner-l__header-background {
    max-width: 650px;
    right: 0;
  }

  .banner-l__header-background-image {
    max-width: 650px;
    position: absolute;
    top: -20px;
  }

  .banner-l__header-link {
    font-size: 20px;
    line-height: 20px;
    padding: 9px 40px 9px 16px;
  }

  .position-subscribe {
    padding-top: 24px;
  }

  .position-subscribe__content {
    max-width: 490px;
  }

  .position-subscribe__title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 8px;
  }

  .position-subscribe__info {
    margin-bottom: 24px;
  }

  .products__show-more {
    margin-top: 24px;
    margin-bottom: 72px;
  }

  .position__show-more-button {
    font-size: 20px;
    line-height: 20px;
  }

  .events {
    margin-bottom: 72px;
  }

  .events__news-btn-prev {
    margin-right: 16px;
  }

  .events__news-item {
    max-width: 360px;
  }
}

// Styles for 1024px
@media (max-width: 1250px) {
  .listing-top {
    margin-bottom: 64px;
    padding-top: 88px;
  }

  .listing-top__dropdown {
    margin-bottom: 24px;
  }

  .listing-top__title,
  .listing-top__in,
  .listing-top__where,
  .listing-top__dropdown-list-item {
    font-size: 32px;
    line-height: 36px;
  }

  .listing-top__dropdown-container {
    line-height: 14px;
  }

  .listing-top__where::after {
    width: 20px;
    height: 19px;
    background-size: contain;
    top: calc(50% - 10px);
  }

  .listing-top__where {
    padding-right: 32px;
  }

  .listing-top__dropdown-arrow {
    right: 0;
    bottom: -3px;
    transform: scale(0.5);
  }

  .listing-top__counter,
  .listing-top__counter-list-item {
    font-size: 16px;
    line-height: 20px;
    transform: translate(8px, -8px);
  }

  .listing-top__filter-item:first-child,
  .position__job-title-container,
  .banner-S__side-bar {
    max-width: 311px;
  }

  .listing-top__filter-item:first-child {
    padding-bottom: 0;

    &::after {
      top: 18px;
    }
  }

  .position__bread-crumbs-block {
    max-width: 150px;
  }

  .position__payment-container {
    max-width: 170px;
  }

  .position__location-container {
    max-width: 326px;
  }

  .listing-top__filter-item {
    max-width: 211px;
  }

  .listing-top__filter-item-selected {
    max-width: 170px;
  }

  .listing-top__filter-item-position {
    margin-bottom: 4px;
  }

  .listing-top__filter-item-position:nth-child(2) {
    display: none;
  }

  .banner-S__side-bar {
    max-width: 130px;
  }

  .banner-S__image-container {
    order: 2;
    margin-right: 0;
    max-width: 256px;
    margin-left: auto;
    display: flex;
  }

  .banner-S__title-container {
    flex-direction: column;
    max-width: 507px;
  }

  .banner-S__title {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 8px;
  }

  .banner-S__info {
    width: 100%;
    max-width: 100%;
  }

  .banner-S__link {
    display: none;
  }

  .banner-S__link-mobile {
    display: block;
    font-size: 18px;
    line-height: 18px;
    width: 247px;
    left: calc(65% - 155px);
    bottom: -35px;
  }

  .banner-l {
    padding-bottom: 77px;
  }

  .banner-l__title {
    font-size: 88px;
    line-height: 80px;
    max-width: 752px;
  }

  .banner-l__header-background,
  .banner-l__header-background-image {
    max-width: 432px;
  }

  .banner-l__header-background-image {
    top: -60px;
  }

  .banner-l__header-link {
    left: 36%;
    bottom: -55px;
    font-size: 18px;
    line-height: 18px;
  }

  .position-subscribe__content {
    max-width: 496px;
  }

  .products__show-more {
    margin-top: 40px;
    margin-bottom: 64px;
  }

  .events {
    margin-bottom: 64px;
  }
}

// Styles for 768px
@media (max-width: 950px) {
  .listing-top {
    padding-top: 104px;
  }

  .page-container {
    padding: 0 8px;
  }

  .listing-top__filters-wrapper {
    flex-wrap: wrap;
    margin-bottom: 128px;
    justify-content: space-between;
  }

  .listing-top__filter-item {
    max-width: 32%;
    margin-right: 8px;
  }

  .listing-top__filter-item {
    &:first-child {
      width: 100%;
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 24px;
    }

    &:nth-child(2) {
      order: 3;
      margin-right: auto;
    }
  }

  .listing-top__specialization-on-map {
    margin-right: auto;
  }

  .listing-top__filter-item-button-reset {
    margin-bottom: -40px;
  }

  .listing-top__filter-item-selected {
    width: 100%;
    max-width: 30%;
  }

  .listing-top__filter-item-input {
    width: 100%;
    max-width: 70%;
  }

  .position__bread-crumbs-block {
    display: none;
  }

  .position__bread-crumbs-container-mobile {
    display: block;
  }

  .position__job-title-container,
  .position__location-container {
    max-width: 248px;
  }

  .position__payment-container {
    max-width: 256px;
  }

  .position__job-title {
    max-width: 232px;
  }

  .banner-S {
    padding-bottom: 20px;
    padding-left: 8px;
  }

  .banner-S__side-bar {
    display: none;
  }

  .banner-S__title-container {
    max-width: 483px;
    margin-right: 13px;
  }

  .banner-S__info {
    max-width: 449px;
  }

  .banner-S__link-mobile {
    left: calc(35% - 155px);
    bottom: -39px;
  }

  .banner-l {
    padding-bottom: 64px;
  }

  .banner-l__header-background,
  .banner-l__header-background-image {
    max-width: 392px;
  }

  .banner-l__header-background-image {
    top: -85px;
  }

  .banner-l__header-link {
    left: 55%;
    bottom: -48px;
  }

  .position-subscribe__side-bar {
    display: none;
  }

  .position-subscribe__content {
    width: 100%;
    max-width: 510px;
    padding: 0 8px;
  }

  .position-subscribe__info {
    max-width: 480px;
  }

  .products__show-more {
    margin-top: 24px;
  }

  .events__news-item {
    max-width: 280px;
  }
}

// Styles for 320px
@media (max-width: 700px) {
  .listing {
    font-size: 14px;
    line-height: 16px;
  }

  .listing-top__counter,
  .listing-top__counter-list-item {
    font-size: 14px;
    line-height: 16px;
    transform: translate(8px, -8px);
  }

  .listing-top__where {
    padding-right: 30px;

    &::after {
      top: calc(50% - 8px);
    }
  }

  .listing-top__filter-item-selected {
    max-width: 70%;
  }

  .listing-top__filter-item-input {
    width: 30%;
  }

  .listing-top__filter-item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
    margin-right: 0;

    &:first-child {
      margin-bottom: 16px;
    }

    &:nth-child(2) {
      order: 0;
    }

    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 45px;
    }
  }

  .listing-top__filter-item-button-reset {
    margin-bottom: 0;
  }

  .listing-top__filters-wrapper {
    margin-bottom: 30px;
  }

  .position__card-item {
    flex-wrap: wrap;
    margin-bottom: 16px;
  }

  .position__job-title-container {
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
  }

  .position__payment-container,
  .position__location-container {
    width: 50%;
    max-width: 50%;
    margin-right: 0;
    padding-right: 8px;
  }

  .banner-S {
    margin-bottom: 16px;
    padding-right: 8px;
    padding-top: 16px;
    padding-bottom: 43px;
  }

  .banner-S__image-container {
    order: 0;
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
  }

  .banner-S__content {
    flex-direction: column;
  }

  .banner-S__title-container {
    margin-right: 0;
    width: 100%;
    max-width: 100%;
  }

  .banner-S__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 28px;
  }

  .banner-S__info {
    max-width: 288px;
  }

  .banner-S__link-mobile {
    left: calc(53% - 155px);
  }

  .banner-l {
    padding: 16px 8px 40px 8px;
  }

  .banner-l__title {
    width: 100%;
    max-width: 100%;
    font-size: 36px;
    line-height: 38px;
  }

  .banner-l__header-background,
  .banner-l__header-background-image {
    max-width: 180px;
  }

  .banner-l__header-background-image {
    top: -115px;
  }

  .banner-l__header-link {
    left: 0;
    bottom: -33px;
  }

  .position-subscribe {
    padding-top: 16px;
    margin-bottom: 16px;
  }

  .position-subscribe__content {
    max-width: 100%;
  }

  .position-subscribe__title,
  .position-subscribe__info,
  .position-subscribe__mail-container {
    width: 100%;
    max-width: 100%;
  }

  .position-subscribe__info {
    margin-bottom: 32px;
  }

  .products__show-more {
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .events {
    padding: 0;
    margin-bottom: 32px;
  }

  .events__news-link-events {
    display: none;
  }

  .events__news-row {
    flex-direction: column;
    width: 100%;
  }

  .events__news-item {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .events__news-title-info,
  .events__news-date-container {
    padding: 0 8px;
  }

  .events__news-title-info {
    margin-bottom: 16px;
  }

  .position__info-link {
    width: 180px;
  }
}

@media (max-width: 670px) {
  .vacancy__news-link-mobile {
    display: inline-block;
  }

  .events__news-arrows {
    display: none;
  }
}

@media (max-width: 479px) {
  .listing-top {
    margin-top: 0;
    padding-top: 24px;
  }
}
