h3.title__page-news{
    padding-top: 135px;
    font-size: 64px;
    line-height: 68px;
    margin-left: 16px;
}

.filter__block{
    display: flex;
}

.filter__news{
    margin-top: 64px;
    width: 304px;
    margin-left: 16px;
}


.title__filter{
    font-size: 12px;
    line-height: 12px;
    color: #000000;
    opacity: 0.5;
}

.container__filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5)
}

.listing__filter-item-select-arrow-image{
    position: absolute;
    right: 0;
    top: 12px;
}

.first__filter-news{
    background: #f3f3f3;
    font-size: 18px;
    line-height: 24px; 
    margin-top: 4px;
    padding-bottom: 8px; 
}

.first__filter-news::-moz-placeholder {
    color: #000; 
}

.first__filter-news::-webkit-input-placeholder {
    color: #000;
}

.drop__filter{
    margin-left: 16px;
    margin-top: 8px;
    cursor: pointer;
}

.drop__btn{
    font-size: 18px;
    line-height: 24px;
    color: #969696;
}

.container__filter .tagify{
    flex-wrap: nowrap;
}

.container__filter tags.tagify span.tagify__input{
    --placeholder-color: #000;
}

.news__events{
    padding: 0 16px;
    margin-top: 96px;
    display: flex;
    justify-content: flex-end;
}

.left__column{
    width: 33%;
}

.left__column.fixed {
    position: fixed;
    left: 16px;
    right: 50%;
    margin-right: -50%;
    margin-top: 32px;
    width: 32.5%;
}

.event__card-wrapper.swiper-wrapper{
    display: block;
}

.right__column{
    width: 67%;
}

.title__left-column{
    font-size: 18px;
    line-height: 24px;
}

.title__event-month{
    font-size: 18px;
    line-height: 24px;
    margin-top: 56px;
    margin-bottom: 32px;
}


.event__card{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    width: 544px;
    padding-bottom: 36px;
    margin-top: 32px;
    align-items: center;
}

.event__date{
    font-size: 160px;
    line-height: 144px;
    letter-spacing: -0.03em;
    font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;
}

.event__date-month{
    display: none;
}

.event__content{
    margin-left: 16px;
}

.event__name{
    font-size: 18px;
    line-height: 24px;
    margin-top: 12px;
}

.event__status{
    font-size: 18px;
    line-height: 24px;
    color: #969696;
    margin-bottom: 56px;
}

.event__link{
    display: flex;
    align-items: center;
    color: #000;
}

.event__link:visited{
    color: #000;
}


.event__link p{
    font-size: 18px;
    line-height: 24px;
    margin-right: 5px;
}

.all__events{
    margin-top: 56px;
}

.all__event-link{
    font-size: 18px;
    line-height: 24px;
    color: #000; 
}

.all__event-link:visited{
    color: #000; 
}

.event__card-wrapper.swiper-wrapper{
    width: 87.18%;
}

.title__card{
    width: 75.95%;
    font-size: 32px;
    line-height: 40px;
    margin: 8px 0;
}

.news__card-img{
    width: 100%;
}

.date__card{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}

.mini__news-card{
    display: flex;
    justify-content: space-between;
}

.mini__title-card{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

.btn__more-news{
    border: 1px solid #969696;
    border-radius: 36px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 214px;
}

.btn__more-news p{
    font-size: 24px;
    line-height: 24px;
    margin-right: 8px;
}

.mini__news-card.swiper{
    width: 100%;
}

.right__column .position__show-more-button{
    cursor: pointer;
}

.container__filter .tagify--noTags.tagify--empty{
    border: none;
}

// Styles for 1440px
@media (max-width: 1919px) {

    h3.title__page-news{
        padding-top: 108px;
        font-size: 56px;
        line-height: 60px;
    }

    .filter__news{
        margin-top: 48px;
        width: 208px;
    }

    .first__filter-news,.drop__btn,.title__left-column,.title__event-month,.event__name,.event__link p,.all__event-link{
        font-size: 16px;
        line-height: 20px;
    }

    .news__events{
        margin-top: 72px;
    }

    .title__card{
        width: 100%;
    }

    .event__card-wrapper.swiper-wrapper{
        width: 82.76%;
    }

    .title__event-month{
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .event__card.swiper-slide{
        padding-bottom: 24px;
    }

    .event__date{
        font-size: 132px;
        line-height: 120px;
    }

    .event__status{
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
    }

    .left__column.fixed{
        width: 32.22%;
    }

    .mini__title-card {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 24px;
    }

}

// Styles for 1024px
@media (max-width: 1439px) {

    h3.title__page-news{
        padding-top: 100px;
        font-size: 32px;
        line-height: 36px;
    }

    .filter__news{
        margin-top: 23px;
    }

    .news__events{
        margin-top: 64px;
    }

    .event__date{
        font-size: 80px;
        line-height: 72px;
    }

    .event__name{
        margin: 0;
    }

    .event__status{
        margin-bottom: 32px;
    }

    .left__column.fixed {
        width: 31.84%;
    }

    .event__card-wrapper.swiper-wrapper {
        width: 92.65%;
    }

}

// Styles for 768px
@media (max-width: 1023px){
    .event__card-wrapper.swiper-wrapper{
        display: flex;
    }

    h3.title__page-news{
        padding-top: 100px;
        font-size: 32px;
        line-height: 36px;
        margin-left: 8px;
    }

    .filter__news {
        margin-top: 24px;
        margin-left: 8px;
        width: 232px;
    }

    .drop__filter {
        margin-left: 8px;
    }

    .news__events{
        margin-top: 64px;
        padding: 0 8px;
        flex-direction: column;
    }

    .left__column {
        width: 100%; 
        position: relative;  
    }

    .title__event-month {
        display: none;
    }

    .event__card {
        flex-direction: column;
        margin-top: 40px;
        padding-bottom: 16px;
        align-items: flex-start;
    }

    .event__content{
        margin: 0;
    }

    .event__date {
        font-size: 80px;
        line-height: 72px;
        display: flex;
    }

    .event__date-month{
        display: block;
    }
    
    .event__swiper.swiper{
        width: 100%;
    }

    .event__status{
        margin-bottom: 24px;
    }

    .all__events{
        position: absolute;
        margin: 0;
        right: 50%;
        top: 0;
        margin-right: -50%;
    }

    .right__column{
        width: 100%;
        margin-top: 64px;
    }

    .news__card-img{
        width: 100%;
    }


    .date__card{
        margin-bottom: 32px;
    }

    .mini__news-card.swiper{
        width: 100%;
    }

    //TODO удалить класс 
    .news__card-hide{
        display: none;
    }

}

// Styles for 320px
@media (max-width: 767px){

    h3.title__page-news{
        padding-top: 52px;
    }

    .filter__block{
        flex-direction: column;
        margin-top: 8px;
    }

    .filter__news {
        width: 304px;
        margin-top: 16px;
    }

    .news__events{
        margin-top: 32px;
        padding: 0;
    }

    .left__column {
        height: 100%;
        width: 100%; 
        position: relative;  
        padding: 0 8px; 
    }

    .title__left-column {
        font-size: 14px;
        line-height: 16px;
    }

    .event__card {
        margin-top: 24px;
    }

    .event__date {
        font-size: 36px;
        line-height: 38px;
    }

    .event__content {
        margin-left: 0;
    }

    .title__event-month{
        display: none;
    }
    
    .event__card{
        padding-bottom: 16px;
        margin-right: 16px;
    }

    .event__name,.event__status,.event__link p,.all__event-link{
        font-size: 14px;
        line-height: 16px;
    }

    .event__status{
        margin-bottom: 24px;
    }

    .right__column{
        margin-top: 32px;
    }

    .title__card{
        font-size: 14px;
        line-height: 16px;
        margin: 12px 0 8px 8px;
    }

    .date__card{
        font-size: 14px;
        line-height: 16px;
        margin-left: 8px;
        margin-bottom: 24px;
    }

    .mini__news-card{
        display: none;
    }

}