// @import './styles.scss';

// Стили для Tagify
.tagify {
  --tag-bg: transparent;
  --tag-hover: transparent;
  --tag-remove-bg: transparent;
  --tagify-dd-color-primary: transparent;
}

.tagify {
  width: 100%;
  border: none;
  margin-top: 0;

  &::after {
    display: none;
  }
}

.tagify__input {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 4px;
  padding-bottom: 8px;
  background: var(--tag-bg);

  &::after {
    display: none;
  }

  &:hover {
    background: var(--tag-hover);
  }
}

// Стили для фильтра выбора профессий (Листинг вакансий)
.tagify--outside {
  border: 0;
}

.tagify--outside .tagify__input {
  order: -1;
  flex: 100%;
  border: 1px solid var(--tags-border-color);
  margin-bottom: 1em;
  transition: 0.1s;
}

// Стили для фильтра выбора профессий (Листинг вакансий)-конец

.tagify--select {
  & > .tagify__tag {
    display: none;
  }
}

.tagify--outside {
  & > .tagify__input {
    margin-bottom: 0;
  }
}

// .tagify__tag {
//   border: 1px solid #000;
//   border-radius: 36%;
// }

.tagify__dropdown__wrapper {
  border: 1px solid transparent;
}

.tagify__dropdown__item {
  &:hover {
    background: rgba(0, 0, 0, 0.1);
    color: $mainColor;
  }
}
// Стили для Tagify

.profession {
  margin-bottom: 192px;
  overflow: hidden;
}

.profession__header {
  display: flex;
  font-size: 18px;
  line-height: 24px;
}

.profession__question {
  line-height: 40px;
}

.profession__question {
  width: 15%;
}

.profession__menu {
  width: 85%;
  display: flex;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.profession__menu-item,
.profession__menu-item-active {
  color: $mainColor;
  padding: 8px 16px;
  border-radius: 36px;
  transition: 0.3s;
}

.profession__menu-item-active {
  background: $mainColor;
  color: $whiteColor;
}

.profession__title {
  font-size: 160px;
  line-height: 144px;
  letter-spacing: -0.03em;
  margin-top: 24px;
  margin-bottom: 96px;
}

#clear_all_filters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profession__content {
  display: flex;
  justify-content: space-between;
}

.profession__side-bar {
  width: 33.33%;
  max-width: 440px;
  display: flex;
  flex-direction: column;
}

.profession__side-bar-text:nth-child(2) {
  margin-bottom: 24px;
}

.profession__side-bar-image-tools-wrapper {
  max-width: 340px;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  filter: grayscale(1);
}

.profession__technology-item,
.jira,
.confluence,
.google-docs,
.sap,
.slack,
.miro,
.gradle,
.jenkins,
.docker,
.sonar-qube,
.spring,
.gitlab,
.PostgreSQL,
.HP-QualityCenter,
.postman,
.ibm,
.ansible,
.kubernetes,
.clickhouse,
.terraform,
.figma,
.grafana,
.elk,
.prometheus,
.swagger {
  margin-bottom: 24px;
  margin-right: 10px;
  padding-left: 32px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    width: 24px;
    height: 24px;
  }

  & > svg {
    position: absolute;
    left: 0;
    top: -2px;
    width: 24px;
    height: 24px;
  }
}

.jira::before {
  background: url('../images/management/jira.svg') no-repeat;
}

.confluence::before {
  background: url('../images/management/confluence.svg') no-repeat;
}
.google-docs::before {
  background: url('../images/management/gdocs.svg') no-repeat;
}
.sap::before {
  background: url('../images/management/sap.svg') no-repeat;
}
.slack::before {
  background: url('../images/management/slack.svg') no-repeat;
}
.miro::before {
  background: url('../images/management/miro.svg') no-repeat;
}

.gradle::before {
  background: url('../images/management/gradle.svg') no-repeat;
}

.jenkins::before {
  background: url('../images/management/jenkins.svg') no-repeat;
}

.docker::before {
  background: url('../images/management/docker.svg') no-repeat;
}

.sonar-qube::before {
  background: url('../images/management/sonarqube.svg') no-repeat;
}

.spring::before {
  background: url('../images/management/spring.svg') no-repeat;
}

.gitlab::before {
  background: url('../images/management/gitlab.svg') no-repeat;
}

.PostgreSQL::before {
  background: url('../images/management/postgres.svg') no-repeat;
}

.HP-QualityCenter::before {
  background: url('../images/management/hp.svg') no-repeat;
}

.postman::before {
  background: url('../images/management/postman.svg') no-repeat;
}

.ibm::before {
  background: url('../images/management/ibm.svg') no-repeat;
}

.ansible::before {
  background: url('../images/management/ansible.svg') no-repeat;
}

.kubernetes::before {
  background: url('../images/management/kubernetes.svg') no-repeat;
}

.clickhouse::before {
  background: url('../images/management/clickhouse.svg') no-repeat;
}

.terraform::before {
  background: url('../images/management/terraform.svg') no-repeat;
}

.figma::before {
  background: url('../images/management/figma.svg') no-repeat;
}

.grafana::before {
  background: url('../images/management/grafana.svg') no-repeat;
}

.elk::before {
  background: url('../images/management/elk.svg') no-repeat;
}

.prometheus::before {
  background: url('../images/management/prometheus.svg') no-repeat;
}

.swagger::before {
  background: url('../images/management/swagger.svg') no-repeat;
}

.profession__side-bar-tools {
  width: 100%;
  object-fit: contain;
}

.profession__side-bar-text {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
}

.profession__side-bar-vacancy,
.profession__side-bar-vacancy-mobile {
  display: block;
  color: $mainColor;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
  margin-top: auto;
}

.profession__side-bar-vacancy-mobile {
  display: none;
}

.profession__side-bar-image-wrapper {
  max-width: 416px;
  margin-top: auto;

  & > .profession__side-bar-image {
    width: 100%;
    height: auto;
  }
}

.profession__side-bar-vacancy-value-arrow {
  display: inline-block;
  width: 14px;
  height: 9px;
}

.profession__main-content {
  width: 67.05%;
}

.profession__filter-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 64px;
  font-size: 18px;
  line-height: 24px;
}

.profession__checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profession__filter-item {
  width: 100%;
  max-width: 304px;
  margin-right: 16px;
  // border-bottom: 1px solid $blackColorOpacity-05;
  position: relative;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.profession__filter-item-select {
  display: flex;
  justify-content: space-between;
}

.profession__filter-item-select-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 50%;
}

.profession__filter-item-select-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: $bodyBackgraund;
  z-index: 1;
}

.profession__filter-item-select-list-item {
  cursor: pointer;
}

.profession__filter-item-title {
  font-size: 12px;
  line-height: 12px;
  color: $blackColorOpacity-05;
  // margin-bottom: 4px;
}

.profession__filter-input {
  display: none;
}

.profession__filter-checbox-wrapper,
.profession__filter-checbox-wrapper-mobile,
.profession__filter-checbox-listing {
  display: block;
  margin-right: 16px;
  padding-left: 24px;
  width: max-content;
  cursor: pointer;
  position: relative;
}

.profession__filter-checbox-wrapper-mobile,
.profession__filter-checbox-listing {
  position: absolute;
  left: 0;
  bottom: -30px;
  display: none;
}

.profession__filter-checbox-listing {
  display: block;
}

.profession__filter-checbox-value {
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid $mainColor;

  & > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.2s;
    pointer-events: none;
  }
}

.profession__filter-input:checked + .profession__filter-checbox-value > svg {
  opacity: 1;
}

.profession__filter-reset {
  margin-left: auto;
  font-size: 18px;
  line-height: 24px;
  color: #969696;
  background: transparent;
}

.profession__job-item {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  border-top: 1px solid #969696;
  margin-bottom: 32px;
  padding-top: 8px;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &:first-child {
    border-top: 1px solid transparent;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover .profession__job-title {
    color: rgba(227, 18, 53, 1);
  }

  &:hover {
    border-top: 1px solid rgba(227, 18, 53, 1);
  }

  &:hover .profession__more-info {
    opacity: 1;
  }
}

.profession__job-title {
  color: $mainColor;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 6px;
  width: 100%;
  max-width: 265px;
}

.profession__bread-crumbs {
  line-height: 12px;
}

.profession__crumb {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  color: $blackColorOpacity-05;
  position: relative;
  padding-right: 15px;

  & > svg {
    position: absolute;
    right: 0;
    top: calc(50% - 3px);
    width: 11px;
    height: 7px;
  }

  &:last-child > svg {
    display: none;
  }
}

.profession__job-department {
  font-size: 12px;
  line-height: 12px;
  color: $blackColorOpacity-05;
}

.profession__job-title-container {
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.profession__show-more {
  color: $mainColor;
  margin-top: auto;
}

.profession__more-info {
  position: absolute;
  // right: -100%;
  // bottom: -16px;
  top: 0;
  left: 0;
  width: 185px;
  color: $mainColor;
  font-size: 12px;
  line-height: 12px;
  border-radius: 36px;
  background: $whiteColor;
  padding: 10px 36px 10px 16px;
  // transition: 0.2s;
  z-index: 1;
  pointer-events: none;
  opacity: 0;

  & > svg {
    position: absolute;
    top: calc(50% - 3px);
    right: 17px;
    width: 14px;
    height: 9px;
    pointer-events: none;
  }
}

.profession__job-price-container,
.profession__location-container {
  width: 100%;
  max-width: 310px;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}
#listing-metro__profession-item.retail__position{
  padding: 0 !important;
}
#listing-metro__profession-item .profession__location-container{
  display: none;
}

.profession__job-expiriens {
  margin-top: auto;
}

.profession__location-city-metro,
.profession__location-city-metro-sokoln,
.profession__location-city-metro-arbat {
  position: relative;
  padding-left: 12px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}

.profession__location-city-metro-sokoln::after {
  background: #e42313;
}

.profession__location-city-metro-arbat::after {
  background: #0072ba;
}

.profession__location {
  margin-top: 24px;
}

.profession__location-map {
  color: $mainColor;
  position: relative;
  width: max-content;
  padding-right: 20px;
  margin-top: 24px;

  & > svg {
    position: absolute;
    top: calc(50% - 3px);
    right: 0;
    width: 14px;
    height: 9px;
    pointer-events: none;
  }
}

.profession .container{
  margin: 0 16px;
}

// Styles for 1440px
@media (max-width: 1440px) {
  .profession__header {
    font-size: 16px;
    line-height: 20px;
  }

  .profession__title {
    font-size: 124px;
    line-height: 112px;
    margin-bottom: 88px;
  }

  .profession__question {
    line-height: 36px;
  }

  .profession__side-bar-text,
  .profession__side-bar-vacancy,
  .profession__filter-wrapper,
  .profession__job-item,
  .profession__filter-reset {
    font-size: 16px;
    line-height: 20px;
  }

  .profession__filter-wrapper {
    margin-bottom: 48px;
  }

  .profession__filter-item {
    max-width: 224px;
  }

  .profession__job-item {
    margin-bottom: 24px;
  }

  .profession__side-bar-text,
  .profession__side-bar-vacancy {
    margin-bottom: 24px;
  }

  .profession__side-bar-text-wrapper > .profession__side-bar-text:nth-child(2) {
    margin-bottom: 16px;
  }

  .profession__job-price-container,
  .profession__location-container {
    max-width: 240px;
  }
}

// Styles for 1024px
@media (max-width: 1330px) {
  .profession__side-bar {
    max-width: 302px;
  }

  .profession__side-bar-image-tools-wrapper > img {
    display: none;
  }

  .profession__technology-item {
    margin-bottom: 16px;
    margin-right: 16px;
  }

  .profession__filter-item {
    max-width: 240px;
  }

  .profession__checkbox-container {
    display: none;
  }

  .profession__filter-checbox-wrapper-mobile {
    display: block;
  }

  .profession__filter-wrapper {
    margin-bottom: 66px;
  }

  .profession__filter-checbox-wrapper {
    width: 100%;
    max-width: 240px;
    margin-right: 16px;
  }

  .profession__job-price-container,
  .profession__location-container {
    max-width: 170px;
  }
}

@media (max-width: 1150px) {
  .profession {
    margin-bottom: 144px;
  }

  .profession__header {
    font-size: 16px;
    line-height: 20px;
    flex-direction: column;
  }

  .profession__title {
    font-size: 124px;
    line-height: 112px;
    margin-top: 12px;
    margin-bottom: 64px;
  }

  .profession__question {
    width: 100%;
    line-height: 20px;
    margin-bottom: 24px;
  }

  .profession__menu {
    // width: max-content;
    width: 100%;
  }
}

// Styles for 768px
@media (max-width: 991px) {
  .profession__content {
    flex-direction: column;
  }

  .profession__side-bar-vacancy {
    display: none;
  }

  .profession__side-bar-vacancy-mobile {
    display: block;
    margin-top: auto;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .profession__side-bar {
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 64px;
  }

  .profession__side-bar-text-wrapper {
    width: 60%;
    max-width: 440px;
    display: flex;
    flex-direction: column;
  }

  .profession__side-bar-image-tools-wrapper {
    max-width: 355px;
    margin-bottom: 24px;
  }

  .profession__side-bar-image-wrapper {
    width: 40%;
    max-width: 280px;
    display: flex;
  }

  .profession__main-content {
    width: 100%;
  }

  .profession__filter-wrapper {
    margin-bottom: 74px;
  }
}

@media (max-width: 850px) {
  .profession {
    margin-bottom: 128px;
  }

  .profession__title {
    font-size: 88px;
    line-height: 80px;
    margin-top: 12px;
    margin-bottom: 64px;
  }
}

// Styles for 320px
@media (max-width: 700px) {
  .profession {
    margin-bottom: 64px;
  }

  .profession__side-bar {
    margin-bottom: 0;
  }

  .profession__side-bar-text,
  .profession__side-bar-vacancy,
  .profession__filter-wrapper,
  .profession__job-item,
  .profession__filter-reset {
    font-size: 14px;
    line-height: 16px;
  }

  .profession__side-bar-text,
  .profession__side-bar-vacancy {
    margin-bottom: 16px;
  }

  .profession__side-bar-text-wrapper > .profession__side-bar-text:nth-child(2) {
    margin-bottom: 8px;
  }

  .profession__side-bar-vacancy-mobile {
    margin-bottom: 32px;
  }

  .profession__side-bar-image-wrapper {
    display: none;
  }

  .profession__side-bar-text-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .profession__side-bar-image-tools-wrapper {
    margin-bottom: 32px;
  }

  // .profession__technology-item,
  // .jira,
  // .confluence,
  // .google-docs,
  // .gitlab,
  // .slack,
  // .swagger {
  //   margin-bottom: 8px;
  //   margin-right: 16px;
  //   padding-left: 24px;
  //   font-size: 14px;
  //   line-height: 16px;
  //   position: relative;

  //   &::before {
  //     content: '';
  //     position: absolute;
  //     left: 0;
  //     top: 0;
  //     width: 16px;
  //     height: 16px;
  //   }
  // }

  // .jira::before {
  //   background: url('../images/management/jira-mob.svg') no-repeat;
  // }

  // .confluence::before {
  //   background: url('../images/management/confluence-mob.svg') no-repeat;
  // }
  // .google-docs::before {
  //   background: url('../images/management/gdocs-mob.svg') no-repeat;
  // }
  // .gitlab::before {
  //   background: url('../images/management/gitlab-mob.svg') no-repeat;
  // }
  // .slack::before {
  //   background: url('../images/management/slack-mob.svg') no-repeat;
  // }
  // .swagger::before {
  //   background: url('../images/management/swagger-mob.svg') no-repeat;
  // }

  .profession__filter-wrapper {
    flex-direction: column;
  }

  .profession__filter-item {
    width: 100%;
    min-width: 100%;
    margin-left: 0;
    margin-bottom: 42px;
    padding-bottom: 8px;
  }

  .profession__filter-reset {
    margin-right: auto;
    margin-left: 0;
    background: transparent;
  }

  .profession__filter-checbox-wrapper-mobile {
    line-height: 19px;
  }
  .profession__filter-checbox-wrapper {
    margin-bottom: 5px;
  }

  .profession__filter-wrapper {
    margin-bottom: 32px;
  }

  .profession__job-item {
    flex-wrap: wrap;
  }

  .profession__job-title-container {
    margin-right: 0;
    width: 100%;
    min-width: 100%;
    margin-bottom: 16px;
  }

  .profession__job-price-container,
  .profession__location-container {
    width: 50%;
    min-width: 50%;
  }

  .profession__job-department {
    margin: 8px 0;
  }

  .profession__location {
    margin-top: 16px;
  }

  .profession__more-info {
    position: absolute;
    right: calc(50% - 97.5px);
    bottom: -76px;
    z-index: 1;
  }
}

@media (max-width: 600px) {
  .profession__title {
    font-size: 36px;
    line-height: 38px;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .profession__header {
    font-size: 14px;
    line-height: 16px;
  }

  .profession__question {
    margin-bottom: 16px;
  }

  .profession__more-info {
    display: none;
  }
}

.loader-bg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
#vacancy_popup {
  position: relative;
}
#vacancy_popup .loader-wrapp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
#vacancy_popup .loader-wrapp .loader-bg {
  height: 100%;
}

@media (max-width: 1023px){
  .profession .container{
    margin: 0;
  }

  .profession__location-container,
  .profession__job-title-container{
    max-width: 100%;
    width: 32.98%;
  }

  .profession__job-price-container{
    max-width: 100%;
    width: 34.04%;
  }
}