$bodyBackgraund: rgba(243, 243, 243, 1);
$mainColor: #000000;
$whiteColor: #ffffff;
$blackColorOpacity-05: rgba(0, 0, 0, 0.5);

@import './createFuture.scss';
@import './advantages.scss';
@import './direction.scss';
@import './find.scss';
@import './flyout.scss';
@import './footer.scss';
@import './goal.scss';
@import './header.scss';
@import './intern.scss';
@import './listing.scss';
@import './profession.scss';
@import './upgrade.scss';
@import './politics.scss';
@import 'select';
@import './form.scss';
<<<<<<< HEAD
=======
@import './direct-link.scss';
>>>>>>> 0a4bbd529194f3d2b5d2021f5cdb9bdc3eee63a1

@font-face {
  font-family: suisse;
  src: url('../fonts/SuisseIntl-Regular.woff') format('woff'),
    url('../fonts/SuisseIntl-Regular.woff2') format('woff2');
}

// сброс стилей
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  // height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: suisse;
  background: $bodyBackgraund;
  color: $mainColor;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}

.container {
  padding: 16px;
}

.page-container {
  padding: 0 16px;
}

.hide {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    padding: 8px;
  }
}
