$bodyBackgraund: rgba(243, 243, 243, 1);
$mainColor: #000000;
$whiteColor: #ffffff;
$blackColorOpacity-05: rgba(0, 0, 0, 0.5);

@import './createFuture.scss';
@import './advantages.scss';
@import './direction.scss';
@import './find.scss';
@import './flyout.scss';
@import './footer.scss';
@import './goal.scss';
@import './header.scss';
@import './intern.scss';
@import './intern-svg.scss';
@import './listing.scss';
@import './profession.scss';
@import './upgrade.scss';
@import './politics.scss';
@import 'select';
@import './form.scss';
@import './direct-link.scss';
@import './retail/listing-metro.scss';
@import './retail/retail-advantages.scss';
@import './retail/retail-brands.scss';
@import './retail/retail-footer.scss';
@import './retail/retail-internship.scss';
@import './retail/retail-mission.scss';
@import './retail/retail-position.scss';
@import './retail/retail-preview.scss';
@import './retail/retail-quote.scss';
@import './retail/retail-upgrade.scss';
@import './retail/retail-why-us.scss';
@import './404-page/404-page.scss';
@import './retail/listing-metro.scss';
@import './main-page/main-awards.scss';
@import './main-page/main-division.scss';
@import './main-page/main-mission.scss';
@import './main-page/main-news.scss';
@import './main-page/main-page-stage.scss';
@import './main-page/main-running-line.scss';
@import './main-page/main-stability.scss';
@import './main-page/main-sustainability.scss';
@import './main-page/main-video.scss';
@import './logistic/logistic-advantages.scss';
@import './logistic/logistic-career.scss';
@import './logistic/logistic-news-events.scss';
@import './logistic/logistic-quote.scss';
@import './logistic/logistic-running-line.scss';
@import './logistic/logistic-stage.scss';
@import './logistic/logistic-upgrade-slider.scss';
@import './logistic/logistic-vacancy-directions.scss';
@import './logistic/logistic-why-we-are.scss';
@import './office/office-advantages.scss';
@import './office/office-career-slider.scss';
@import './office/office-internship.scss';
@import './office/office-news-events.scss';
@import './office/office-quote.scss';
@import './office/office-running-line.scss';
@import './office/office-stage.scss';
@import './office/office-vacancies.scss';
@import './office/office-why-we-are.scss';

@font-face {
  font-family: suisse;
  src: url('../fonts/SuisseIntl-Regular.woff') format('woff'),
    url('../fonts/SuisseIntl-Regular.woff2') format('woff2');
  font-display: swap;
}

// сброс стилей
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  // height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: suisse;
  background: $bodyBackgraund;
  color: $mainColor;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}

.container {
  padding: 0 16px;
}

.page-container {
  padding: 0 16px;
}

.hide {
  display: none;
}

.transparent {
  opacity: 0;
}

.cursor-pointer {
  cursor: pointer;
}

body > div:first-child,
body > div.responsive-wrapper {
  display: none !important;
}

@media (max-width: 768px) {
  .container {
    padding: 8px;
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}
