// @import './styles.scss';

.upgrade {
  margin-bottom: 168px;
  font-size: 18px;
  line-height: 24px;
  overflow: hidden;

  & > .container{
    margin: 0 16px;
  }
}

.upgrade__title {
  font-size: 160px;
  line-height: 144px;
  letter-spacing: -0.03em;
  margin-bottom: 96px;
}

.upgrade__content-wrapper {
  display: flex;
}

.upgrade__side-bar {
  width: 29.24%;
}

.upgrade__text {
  max-width: 304px;

  @media (max-width: 1919px){
    min-width: 224px;
  }
}

.upgrade__slider-wrapper {
  width: 70.76%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

// Sytles for 1440px
@media (max-width: 1700px) {
  .upgrade {
    margin-bottom: 144px;
    font-size: 16px;
    line-height: 20px;
  }

  .upgrade__title {
    font-size: 124px;
    line-height: 112px;
    margin-bottom: 72px;
  }

  .upgrade__side-bar {
    width: 27.84%;
  }

  .upgrade__slider-wrapper {
    width: 72.16%;
  }

}

// Styles for 1024px
@media (max-width: 1350px) {
  .upgrade {
    margin-bottom: 128px;
  }

  .upgrade__title {
    font-size: 88px;
    line-height: 80px;
    margin-bottom: 64px;
  }

  .upgrade__side-bar {
    width: 26%;
  }

  .upgrade__slider-wrapper {
    width: 74%;
  }

}

// Styles for 768px
@media (max-width: 991px) {
  .upgrade__title {
    font-size: 88px;
    line-height: 80px;
  }

  .upgrade__content-wrapper {
    flex-direction: column;
  }

  .upgrade__side-bar {
    width: 66%;
    margin-bottom: 52px;
  }

  .upgrade__text {
    width: 100%;
    max-width: 100%;
  }

  .upgrade__slider-wrapper {
    width: 108%;
    position: relative;
  }

}

// Sytles for 320px
@media (max-width: 600px) {
  .upgrade {
    margin-bottom: 104px;
    font-size: 14px;
    line-height: 16px;
  }

  .upgrade__main-text {
    font-size: 14px;
    line-height: 21px;
    clear: both;
    margin-bottom: 8px;
  }

  .upgrade__title {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 16px;
  }

  .upgrade__side-bar {
    width: 100%;
    margin-bottom: 32px;
  }

}

$slider-img-small: 40px;
$font-main: 'suisse';
$font-line: 24px;
$font-size: 18px;


.slider{
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__left{
      display: flex;
      position: absolute;
      margin-top: 20px;
      width: $slider-img-small;
      height: $slider-img-small;
      top: 0;
      left: 0;
      cursor: pointer;
      &-img{
          position: absolute;
          width: $slider-img-small;
          height: $slider-img-small;
          top: 0;
          left: 0;
          opacity: 0.5;
      }
  }
  &__right{
      display: flex;
      position: absolute;
      margin-top: 20px;
      width: 256px;
      top: 0;
      right: 0;
      cursor: pointer;
      &-img{
          width: $slider-img-small;
          height: $slider-img-small;
          margin-right: 8px;
          opacity: 0.5;
      }
      &-name-and-position{
          font-size: $font-size;
          font-family: $font-main;
          line-height: $font-line;
          opacity: 0.5;
      }
  }
  &__btn-left{
      width: 40px;
      height: 10px;
      padding: 30px 0;
      transform: rotate(180deg);
      background-position-y: center;
      background-position-x: -260px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='300' height='10' viewBox='0 0 300 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M297.793 4.50004L294.646 1.35359L295.354 0.646484L299.354 4.64648L299.707 5.00004L299.354 5.35359L295.354 9.35359L294.646 8.64648L297.793 5.50004H0V4.50004H297.793Z' fill='black'%3E%3C/path%3E%3C/svg%3E");
      cursor: pointer;
      position: relative;
      top: 120px;
      flex-shrink: 0;
  }
  &__btn-right{
      width: 256px;
      height: 20px;
      padding: 30px 0;
      background-position-y: center;
      background-position-x: -44px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='300' height='10' viewBox='0 0 300 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M297.793 4.50004L294.646 1.35359L295.354 0.646484L299.354 4.64648L299.707 5.00004L299.354 5.35359L295.354 9.35359L294.646 8.64648L297.793 5.50004H0V4.50004H297.793Z' fill='black'%3E%3C/path%3E%3C/svg%3E");
      cursor: pointer;
      position: relative;
      top: 120px;
      flex-shrink: 0;
  }
  &__content{
      font-size: $font-size;
      font-family: $font-main;
      line-height: $font-line;      
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 767px){
        font-size: 14px;
        line-height: 16px;
      }

      &-paragraph{
          position: relative;
          margin-bottom: 32px;
          @media (max-width: 1919px){
            margin-bottom: 24px;
          }
          @media (max-width:767px){
            margin-bottom: 8px;
          }
      }
      &-road{

      }
  }
  &__item{
      display: flex;
      position: relative;
      min-width: 100%;
      transition: 0.2s;
      left: 0;
      width: 100%;
      flex-shrink: 0;
      padding: 0 2px;
  }

  &__list{
      margin: 20px;
      margin-left: 32px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      overflow: hidden;
      height: 100%;
      transition: 0.2s;
      width: calc(100% - 40px);
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &_m-0{
          margin: 0;
      }
      &_w-100{
          width: 100%;
      }
      &_h-100{
          height: 100% !important;
      }
      @media (max-width: 620px) {
        margin: 0;
      }
  }
  &__info-people{
      display: flex;
      width: 272px;
      float: left;
      margin-bottom: 10px;
  }
  &__img{
      width: 114px;
      height: 114px;
      margin-right: 10px;
      @media (max-width: 1919px){
        width: 102px;
        height: 102px;
      }
      @media (max-width: 1439px){
        width: 96px;
        height: 96px;
      }
      @media (max-width: 767px){
        width: 56px;
        height: 56px;
      }
  }
  &__job{
      font-size: $font-size;
      font-family: $font-main;
      line-height: $font-line;
      @media (max-width: 767px){
        font-size: 14px;
        line-height: 16px;
      }
      &-name{
          
      }
      &-profession{

      }
  }
  &__main-text{
      text-align: justify;
      font-size: $font-size;
      font-family: $font-main;
      line-height: $font-line;
  }
  &__way{
      display: flex;
      flex-wrap:wrap;
      &-text{
           display: block;
      }
      &-mobile{
          display: none;
      }
      &-year{
          display: block;
      }
      &-profession{
          display: block;
      }
      &-item{
          display: flex;
          position: relative;
          // width: 33.33%;
          margin-bottom: 16px;
          &-wrapper{
            margin-right: 8px;
          }
          &-mobile{
              margin-bottom: 4px;
          }
          &:last-child{
            & > svg {
              display: none;
            }
              &::after{
                  display: none;
              }
          }
          & > svg{
            margin-right: 8px;
          }
          // &::after{
          //     content: '';
          //     position: absolute;
          //     top: calc(50% - 5px);
          //     right: 10px;
          //     width: 14px;
          //     height: 10px;
          //     background-image: url("data:image/svg+xml,%3Csvg class='upgrade__way-arrow' width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5515 4.39999L8.57574 1.42426L9.42426 0.575729L13.8485 4.99999L9.42426 9.42426L8.57574 8.57573L11.5515 5.59999H0V4.39999H11.5515Z' fill='black'%3E%3C/path%3E%3C/svg%3E");
          //     background-repeat: no-repeat;
          //     background-position: center center;
          //     background-size: 14px;
          // }
      }

  }
}

@media all and (max-width: 710px) {
  .slider{
      &__way{
          display: none;
          &-item{
              &-mobile{
                  display: flex;
              }
          }
          &-mobile{
              display: block;
          }
      }
  }
}

@media all and (max-width: 620px) {
  .slider{
      &__right{
          display: none;
      }
      &__left{
          display: none;
      }
      &__btn-left{
          display: none;
      }
      &__btn-right{
          display: none;
      } 
  }
}

@media all and (max-width: 800px) {
  .slider{
      &__right{
          width: 40px;
          &-img{
              margin: 0;
          }
          &-name-and-position{
              display: none;
          }
      }
      &__list{
          &_w_40px{
              width: 40px;
          }
      }
      &__btn-right{
          width: 40px;
          background-position-x: -260px;
      } 
  }
}

@media (max-width: 1700px) {
  .slider__list{
    margin-right: 0;
  }
}

@media (max-width:1439px){
  .slider__right-name-and-position{
    display: none;
  }

  .slider__btn-right{
    width: 40px;
    background-position-x: -260px;
  }

  .slider__right{
    width: 40px;
  }

  .slider__list{
    width: 100%;
    margin-right: 32px;
  }

  .slider__list_m-0{
    margin: 0;
  }

  .slider__item{
    padding: 0;
  }
  
  .upgrade__slider-wrapper{
    width: 74.4%;
  }

  .upgrade__side-bar{
    width: 15.73%;
  }
  
  .upgrade__content-wrapper{
    justify-content: space-between;
  }
}

@media (max-width: 1023px) {
  .upgrade > .container{
    margin: 0;
  }

  .upgrade__side-bar{
    width: 67.02%;
  }

  .upgrade__slider-wrapper{
    width: 100%;
  }

  .slider__left,
  .slider__btn-left,
  .slider__btn-right{
    display: none;
  }

  .slider__list{
    margin-left: 0px;
    margin-right: 24px;
    width: 688px
  }

  .slider__right{
    right: -5%;
  }

  .slider__right,
  .slider__right-img{
    width: 96px;
    height: 96px;
  }

  .slider__list_w_40px{
    width: 96px;
  }

  .slider__item{
    width: 96px;
  }
}