// @import './styles.scss';

.upgrade {
  margin-bottom: 168px;
  font-size: 18px;
  line-height: 24px;
  overflow: hidden;
}

.upgrade__title {
  font-size: 160px;
  line-height: 144px;
  letter-spacing: -0.03em;
  margin-bottom: 96px;
}

.upgrade__content-wrapper {
  display: flex;
}

.upgrade__side-bar {
  width: 30.5%;
}

.upgrade__text {
  max-width: 304px;
}

.upgrade__slider-wrapper {
  width: 69.5%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

// Styles for prev-block
.upgrade__slider-prev-block {
  margin-right: 32px;
  width: 100%;
  max-width: 40px;
}

.upgrade__slider-prev-image {
  width: 100%;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(243, 243, 243, 0.5);
  }
}

.upgrade__slider-prev-image-wrapper {
  max-width: 40px;
  overflow: hidden;
}

.upgrade__slider-prev-image-row {
  width: 400%;
  display: flex;
}

.upgrade__slider-prev-image {
  width: 25%;
}

.upgrade__slider-prev-picture {
  width: 100%;
}

.upgrade__arrow-prev {
  position: absolute;
  left: 0;
  top: 30%;
  transform: rotate(180deg);
  width: 40px;
  height: 16px;
  overflow: hidden;
  background: rgba(243, 243, 243, 1);

  & > svg {
    position: absolute;
    right: 0;
    top: 3px;
    pointer-events: none;
  }
}

.upgrade__slider-next-arrow {
  position: absolute;
  right: 0;
  top: 30%;
  width: 100%;
  max-width: 290px;
  height: 16px;
  overflow: hidden;
  background: rgba(243, 243, 243, 1);

  & > svg {
    position: absolute;
    top: 3px;
    right: 0;
    pointer-events: none;
  }
}

// Styles for slider---------------
// .upgrade__middle-image-item.swiper-slide {
//   width: 40px;
// }

// .upgrade__middle-image-item.swiper-slide.swiper-slide-duplicate.swiper-slide-prev,
// .upgrade__middle-image-item.swiper-slide.swiper-slide-prev {
//   width: 100%;
//   max-width: 40px;

//   & > .upgrade__main-text,
//   & > .upgrade__way-wrapper {
//     display: none;
//   }

//   & > .upgrade__middle-image-item-container {
//     margin-right: 0;
//     width: 100%;
//     position: relative;

//     &::after {
//       content: '';
//       position: absolute;
//       top: 0;
//       right: 0;
//       bottom: 0;
//       left: 0;
//       background: rgba(243, 243, 243, 0.5);
//     }

//     & > .upgrade__middle-image {
//       margin-right: 0;
//       width: 100%;
//     }

//     & > .upgrade__main-job {
//       display: none;
//     }
//   }
// }

// .upgrade__middle-image-item.swiper-slide.swiper-slide-active {
//   width: 100%;
//   max-width: 932px;
// }

// .upgrade__middle-image-item.swiper-slide.swiper-slide-duplicate.swiper-slide-next,
// .upgrade__middle-image-item.swiper-slide.swiper-slide-next {
//   width: 100%;
//   max-width: 300px;
//   position: relative;

//   & > .upgrade__main-text,
//   & > .upgrade__way-wrapper {
//     display: none;
//   }

//   & > .upgrade__middle-image-item-container {
//     width: 100%;

//     & > .upgrade__middle-image {
//       width: 40px;
//     }

//     &::after {
//       content: '';
//       position: absolute;
//       top: 0;
//       right: 0;
//       bottom: 0;
//       left: 0;
//       background: rgba(243, 243, 243, 0.5);
//     }
//   }
// }

// Styles for slider---------------

// Sytles for main slider
.upgrade__middle-block-container {
  width: 66.66%;
  overflow: hidden;
  margin-right: 32px;
}

.upgrade__middle-image-row {
  width: 400%;
  display: flex;
}

.upgrade__middle-image-item {
  width: 25%;
  margin: 0 1px;
}

.upgrade__middle-image-item-container {
  display: flex;
  width: 272px;
  float: left;
  margin-right: 40px;
}

.upgrade__middle-image {
  width: 48%;

  margin-right: 8px;
}

.upgrade__main-image {
  width: 100%;
}

.upgrade__main-job {
  font-size: 16px;
  line-height: 20px;
  min-width: 150px;
}

.upgrade__main-text {
  // font-size: 40px;
  // line-height: 44px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 27px;
}

.upgrade__way-mobile {
  display: none;
}

.upgrade__way-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.upgrade__way-item {
  margin-right: 16px;
  margin-bottom: 16px;
  max-width: 30%;
}

.upgrade__way-arrow-block {
  margin-right: 16px;
  padding-top: 5px;
}

// Styles for next block
.upgrade__slider-next-block {
  width: 22.5%;
}

.upgrade__slider-next-block-wrapper {
  width: 100%;
  margin-bottom: 64px;
  overflow: hidden;
}

.upgrade__slider-next-block-wrapper,
.upgrade__slider-prev-image-wrapper {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(243, 243, 243, 0.6);
  }
}

.upgrade__slider-next-row {
  width: 400%;
  display: flex;
  min-width: 0;
}

.upgrade__slider-next-item {
  width: 100%;
  display: flex;
  position: relative;
  min-width: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(243, 243, 243, 0.5);
  }
}

.upgrade__slider-next-item-image-block {
  max-width: 40px;
  margin-right: 8px;
}

.upgrade__slider-next-item-image {
  width: 100%;
}

// Sytles for 1440px
@media (max-width: 1700px) {
  .upgrade {
    margin-bottom: 144px;
    font-size: 16px;
    line-height: 20px;
  }

  .upgrade__title {
    font-size: 124px;
    line-height: 112px;
    margin-bottom: 72px;
  }

  .upgrade__side-bar {
    width: 28%;
  }

  .upgrade__slider-wrapper {
    width: 72%;
  }

  .upgrade__slider-prev-block {
    width: 6.1%;
  }

  .upgrade__middle-block-container {
    width: 78%;
  }

  .upgrade__slider-next-block {
    width: 22%;
  }

  .upgrade__main-text {
    // font-size: 32px;
    // line-height: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  .upgrade__slider-next-arrow {
    max-width: 223px;
  }
}

// Styles for 1024px
@media (max-width: 1350px) {
  .upgrade {
    margin-bottom: 128px;
  }

  .upgrade__title {
    font-size: 88px;
    line-height: 80px;
    margin-bottom: 64px;
  }

  .upgrade__side-bar {
    width: 26%;
  }

  .upgrade__slider-wrapper {
    width: 74%;
  }

  .upgrade__slider-prev-block {
    width: 8%;
    max-width: 40px;
  }

  .upgrade__text {
    max-width: 156px;
  }

  .upgrade__middle-block-container {
    width: 81%;
  }

  .upgrade__way-wrapper {
    max-width: 594px;
  }

  .upgrade__slider-next-block {
    width: 8%;
    max-width: 40px;
  }

  .upgrade__slider-next-block-wrapper {
    max-width: 40px;
  }

  .upgrade__slider-next-name-text-wrapper {
    display: none;
  }

  .upgrade__slider-next-arrow {
    max-width: 39px;
  }
}

// Styles for 768px
@media (max-width: 991px) {
  .upgrade__title {
    font-size: 88px;
    line-height: 80px;
  }

  .upgrade__content-wrapper {
    flex-direction: column;
  }

  .upgrade__side-bar {
    width: 66%;
    margin-bottom: 52px;
  }

  .upgrade__text {
    width: 100%;
    max-width: 100%;
  }

  .upgrade__slider-wrapper {
    width: 108%;
    position: relative;
  }

  .upgrade__slider-prev-block {
    display: none;
  }

  .upgrade__middle-block-container {
    width: 89.6%;
    margin-right: 24px;
  }

  .upgrade__slider-next-arrow,
  .upgrade__arrow-prev {
    display: none;
  }

  .upgrade__slider-next-block {
    width: 96px;
    max-width: 96px;
  }

  .upgrade__slider-next-block-wrapper {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
  }

  .upgrade__slider-next-item-image-block,
  .upgrade__slider-next-item {
    max-width: 96px;
    width: 96px;
  }

  .upgrade__slider-next-item-image-block {
    margin-right: 0;
  }

  .upgrade__way-wrapper {
    width: 100%;
    max-width: 100%;
    justify-content: space-around;
  }

  .upgrade__way-item {
    margin-right: 9px;
  }

  .upgrade__way-arrow-block {
    margin-right: 17px;
  }
}

// Sytles for 320px
@media (max-width: 600px) {
  .upgrade {
    margin-bottom: 104px;
    font-size: 14px;
    line-height: 16px;
  }

  .upgrade__main-text {
    font-size: 14px;
    // line-height: 16px;
    line-height: 21px;
    clear: both;
    margin-bottom: 8px;
  }

  .upgrade__title {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 16px;
  }

  .upgrade__side-bar {
    width: 100%;
    margin-bottom: 32px;
  }

  .upgrade__main-job {
    font-size: 14px;
    line-height: 16px;
  }

  .upgrade__slider-next-block {
    width: 56px;
    max-width: 56px;
  }

  .upgrade__middle-block-container {
    margin-right: 8px;
  }

  .upgrade__middle-image-item {
    width: 25%;
  }

  .upgrade__middle-image-item-container {
    margin-bottom: 8px;
  }

  .upgrade__way-wrapper {
    width: 100%;
    flex-direction: column;
  }

  .upgrade__way-item,
  .upgrade__way-arrow-block {
    display: none;
  }

  .upgrade__way-mobile {
    display: block;
  }

  .upgrade__way-text {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
