// @import '../styles.scss';

.listing-metro__content {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
  transition: 0.3s;
}

.listing-metro__left-bar,
.listing-metro__right-bar {
  width: 50%;
}

.listing-metro__left-bar {
  padding: 0 16px;
}

.listing-top__filter-item-button-reset-map {
  bottom: -25px;
}

// Стили для блока с описание расположения вакансии
.listing-metro__link-to-shops {
  color: $mainColor;
  margin-bottom: 56px;
  padding-left: 20px;
  position: relative;
  display: inline-block;

  & > svg {
    position: absolute;
    left: 0;
    top: calc(50% - 5px);
  }
}

.listing-metro__link-to-shops-mobile {
  display: none;
}

.listing-metro__location-place,
.listing-metro__location-adress {
  display: block;
  margin-bottom: 24px;
}

.listing-metro__route-button {
  font-size: 18px;
  line-height: 24px;
  background: transparent;
  display: block;
  margin-bottom: 40px;
}

.listing-metro__location-metro-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin-bottom: 80px;
}

.listing-metro__location-metro-item {
  padding-left: 12px;
  position: relative;
  margin-right: 30px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}

.listing-metro__location-metro-item.sokol-line {
  &::before {
    background: #e42313;
  }
}

.listing-metro__location-metro-item.arbat-line {
  &::before {
    background: #0072ba;
  }
}

.listing-metro__location-metro-item.mcd-line {
  &::before {
    width: 10px;
    height: 10px;
    border: 2px solid #df477c;
    top: calc(50% - 6px);
  }
}

.listing-metro__location-metro-time {
  color: #969696;
}

.listing-metro__profession-title {
  margin-bottom: 24px;
}

.listing-metro__location-on-map {
  display: none;
}

// Стили для блока с перечнем вакансий
.listing-metro__profession-container {
  margin-bottom: 24px;
}

.listing-metro__profession-item {
  display: flex;
  width: 100%;
  border-top: 1px solid #969696;
  padding-top: 8px;
  margin-bottom: 24px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;

  &:hover {
    border-top: 1px solid #e31235;
  }

  &:hover
    > .listing-metro__profession-item-left-bar
    > .listing-metro__profession-name {
    color: #e31235;
  }

  &:last-child {
    border-bottom: 1px solid #969696;
  }
}

.listing-metro__profession-item-left-bar {
  width: 70%;
  pointer-events: none;
}

.listing-metro__profession-name {
  margin-bottom: 6px;
  transition: 0.3s;
}

.listing-metro__profession-bread-crumbs {
  line-height: 12px;
}

.listing-metro__profession-crumb {
  font-size: 12px;
  line-height: 12px;
  color: $blackColorOpacity-05;
}

.listing-metro__profession-crumb:last-child {
  & > .listing-metro__profession-crumb-arrow {
    display: none;
  }
}

.listing-metro__profession-item-right-bar {
  width: 30%;
}

.listing-metro__profession-conditions {
  margin-bottom: 24px;
  pointer-events: none;
}

.listing-metro__profession-container-mobile {
  display: none;
}

.listing-metro__profession-item-link {
  position: absolute;
  top: 50%;
  left: 50%;
  background: $whiteColor;
  padding: 10px 36px 10px 16px;
  border-radius: 36px;
  color: $mainColor;
  // pointer-events: none;

  & > svg {
    position: absolute;
    right: 17px;
    top: calc(50% - 5px);
  }
}

.listing-metro__shops-list-title {
  margin-bottom: 56px;
}

.listing-metro__shops-list-title-mobile {
  display: none;
}

.listing-metro__shop {
  border-top: 1px solid #969696;
  padding-top: 16px;
  margin-bottom: 24px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    border-top: 1px solid #e31235;
  }

  &:hover > .listing-metro__shop-title,
  &:hover > .listing-metro__shop-address {
    color: #e31235;
  }
}

.listing-metro__shop-title {
  margin-bottom: 24px;
  pointer-events: none;
  transition: 0.3s;
}

.listing-metro__shop-address {
  max-width: 466px;
  pointer-events: none;
  transition: 0.3s;
}

.listing-metro__content-list-container {
  width: 100%;
  padding: 0 16px;
}

// Стили для блока с картой
.listing-metro__map-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-right: 16px;
}

.listing-metro__map-place {
  height: 900px;
}

.listing-metro__map-button-plus,
.listing-metro__map-button-minus {
  position: absolute;
  top: 24px;
  left: 24px;
  background: $whiteColor;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 16px 2px 24px rgba(0, 0, 0, 0.03);
}

.listing-metro__map-button-minus {
  top: 80px;
}

.listing-metro__select-shop-container {
  position: absolute;
  top: 24px;
  right: 24px;
  background: $whiteColor;
  border-radius: 16px;
  padding: 16px;
  max-width: 246px;
}

.listing-metro__select-shop-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }
}

.listing-metro__shop-input {
  display: none;
  pointer-events: none;
}

.listing-metro__select-shop-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid $mainColor;
  pointer-events: none;
}

.listing-metro__select-shop-checkbox-image {
  opacity: 0;
  transition: 0.3s;
}

.listing-metro__shop-input:checked
  ~ .listing-metro__select-shop-checkbox
  > .listing-metro__select-shop-checkbox-image {
  opacity: 1;
}

.listing-metro__look-another-store-container {
  position: absolute;
  left: 24px;
  bottom: 24px;
  background: $whiteColor;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 16px 2px 24px rgba(0, 0, 0, 0.03);
  max-width: 409px;
}

.listing-metro__look-another-store-title {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 8px;
}

.listing-metro__look-another-text {
  margin-bottom: 24px;
}

.listing-metro__show-another-shop,
.listing-metro__not-show-another-shop {
  padding: 8px 16px;
  font-size: 20px;
  line-height: 20px;
  border-radius: 36px;
}

.listing-metro__show-another-shop {
  background: #f3f3f3;
  margin-right: 8px;
}

.listing-metro__not-show-another-shop {
  background: transparent;
  border: 1px solid #969696;
}

.listing-metro__shops-nearby-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 260px;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  background: $whiteColor;
}

.listing-metro__nearest-store-container {
  background: #f3f3f3;
  display: flex;
  border-radius: 16px 16px 0px 0px;
  padding: 16px;
}

.listing-metro__nearest-store-item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    padding-top: 5px;
  }
}

.listing-metro__another-store-item {
  padding: 8px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.listing-metro__another-store-item-image {
  margin-right: 8px;
}

// Блок подписка на вакансии
.listing-metro__subscribe-block {
  width: 50%;
  margin-bottom: 96px;
  padding: 0 16px;
}

.listing-metro__subscribe-title {
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 16px;
}

.listing-metro__subscribe-text {
  margin-bottom: 32px;
}

// Styles for 1440px
@media (max-width: 1440px) {
  .listing-metro__content {
    font-size: 16px;
    line-height: 20px;
  }

  .listing-metro__map-place {
    height: 688px;
  }

  .listing-metro__link-to-shops {
    margin-bottom: 40px;
  }

  .listing-metro__location-place {
    margin-bottom: 20px;
  }
}

// Styles for 1024px
@media (max-width: 1024px) {
  .listing-metro__right-bar {
    width: 47%;
  }

  .listing-metro__left-bar {
    width: 53%;
  }

  .listing-metro__map-place {
    height: 478px;
  }

  .listing-metro__shop-title {
    margin-bottom: 12px;
  }

  .listing-metro__profession-item-left-bar,
  .listing-metro__profession-item-right-bar {
    width: 50%;
  }

  .listing-metro__profession-item-left-bar {
    padding-right: 8px;
  }

  .listing-metro__link-to-shops,
  .listing-metro__route-button {
    margin-bottom: 32px;
  }
}

// Syles for switcher between map and list for 768px
@media (max-width: 950px) {
  .listing-top__filter-list-wrapper {
    position: absolute;
    right: 0;
    bottom: -50px;
    flex-direction: row;
    width: 200px;
  }

  .listing-top__filter-list-item:last-child {
    margin-left: auto;
  }

  .profession__filter-checbox-map {
    left: auto;
    right: -150px;
    bottom: 8px;
  }
}

// Styles for 768px
@media (max-width: 850px) {
  .listing-metro__content-map {
    flex-direction: column;
    padding: 0 8px;
  }

  .listing-metro__left-bar,
  .listing-metro__right-bar {
    width: 100%;
    padding: 0;
  }

  .listing-metro__right-bar {
    order: -1;
    margin-bottom: 64px;
  }

  .listing-metro__map-wrapper {
    padding: 0;
  }

  .listing-metro__shops-list-title,
  .listing-metro__link-to-shops {
    display: none;
  }

  .listing-metro__shops-list-title-mobile {
    display: block;
    margin-bottom: 32px;
  }

  .listing-metro__link-to-shops-mobile {
    display: block;
    margin-left: 8px;
  }

  .listing-metro__shop-title,
  .listing-metro__shop-address {
    width: 55%;
    max-width: 100%;
  }

  .listing-metro__map-place {
    height: 502px;
  }

  .listing-top__filters-wrapper-map {
    margin-bottom: 100px;
  }

  .listing-metro__profession-item-left-bar {
    width: 30%;
  }

  .listing-metro__profession-item-right-bar {
    width: 70%;
    display: flex;
    padding-left: 16px;
    padding-top: 10px;
  }

  .listing-metro__profession-conditions {
    width: 55%;
  }

  .listing-metro__profession-expiriens {
    width: 45%;
  }

  .listing-metro__subscribe-block {
    width: 75%;
    margin-bottom: 64px;
    padding: 0 8px;
  }
}

// Sytles for filters block for 320px
@media (max-width: 700px) {
  .profession__filter-checbox-map {
    left: 0;
    right: auto;
    bottom: -95px;
  }

  .listing-top__filter-item-button-reset-map {
    bottom: -30px;
  }

  .listing-top__filter-list-wrapper {
    right: auto;
    bottom: -90px;
  }
}

// Styles for 320px
@media (max-width: 550px) {
  .listing-metro__content {
    font-size: 14px;
    line-height: 16px;
  }

  .listing-metro__content-map {
    padding: 0;
  }

  .listing-metro__shops-list-title-mobile {
    padding-left: 8px;
  }

  .listing-metro__map-place {
    height: 320px;
  }

  .listing-metro__left-bar {
    padding: 0 8px;
  }

  .listing-metro__map-button-plus,
  .listing-metro__map-button-minus {
    display: none;
  }

  .listing-metro__select-shop-container {
    right: auto;
    top: 8px;
    left: 8px;
  }

  .listing-metro__right-bar {
    margin-bottom: 32px;
  }

  .listing-metro__shop-title,
  .listing-metro__shop-address {
    width: 100%;
  }

  .listing-metro__shop-title {
    margin-bottom: 8px;
  }

  .listing-metro__shop {
    margin-bottom: 16px;
  }

  .listing-metro__profession-item {
    flex-wrap: wrap;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 16px;
    }
  }

  .listing-metro__profession-item-left-bar {
    width: 100%;
    margin-bottom: 10px;
  }

  .listing-metro__profession-conditions,
  .listing-metro__profession-expiriens {
    width: 50%;
  }

  .listing-metro__profession-conditions {
    margin-bottom: 0;
  }

  .listing-metro__profession-item-right-bar {
    padding-left: 0;
    width: 100%;
  }

  .listing-metro__subscribe-block {
    width: 100%;
    margin-bottom: 32px;
  }

  .listing-metro__profession-item-link {
    display: none;
  }
}
