// @import '../styles.scss';

.retail__quote-container {
  margin-bottom: 96px;
}

.retail__quote {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  overflow: hidden;
}

.retail__video-placeholder {
  display: block;
  width: 100%;
  object-fit: cover;
}

.retail__quote-wrapper {
  width: 49.17%;
  position: absolute;
  top: 72px;
  right: 17.5%;
  color: $whiteColor;
}

.retail__quote-text {
  margin-bottom: 24px;
  font-size: 64px;
  line-height: 68px;
}

// Styles for 1440px
@media (max-width: 1919px) {
  .retail__quote-container {
    margin-bottom: 72px;
  }

  .retail__quote {
    font-size: 16px;
    line-height: 20px;
  }

  .retail__quote-wrapper {
    width: 65.56%;
    right: 16px;
  }

  .retail__quote-text {
    font-size: 56px;
    line-height: 60px;
  }
}

// Styles for 1024px
@media (max-width: 1439px) {
  .retail__quote-container {
    margin-bottom: 64px;
  }

  .retail__quote-wrapper {
    top: 64px;
    width: 65.15%;
    right: 1.4%;
  }

  .retail__quote-text {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 24px;
  }
}

// Styles for 768px
@media (max-width: 1024px) {
  .retail__quote-container {
    margin-bottom: 64px;
  }

  .retail__quote {
    min-height: 480px;
  }

  .retail__quote-wrapper {
    top: 32px;
    // width: 64.2%;
    // right: 16px;
  }
}

// Styles for 320px
@media (max-width: 767px) {
  .retail__quote-container {
    margin-bottom: 32px;
  }

  .retail__quote {
    min-height: 480px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
  }

  .retail__quote-wrapper {
    top: 32px;
    width: 95%;
    right: 8px;
    left: 8px;
  }

  .retail__quote-text {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}
