// @import '../styles.scss';

.retail__position {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 96px;
  padding: 0 16px;
  overflow: hidden;
}

.retail__position-title-wrapper {
  margin-bottom: 72px;
}

.retail__position-title,
.retail__position-title-brand-mvideo,
.retail__position-title-brand-eldorado {
  font-size: 160px;
  line-height: 144px;
  letter-spacing: -0.03em;
  color: $mainColor;
}

.retail__position-title-brand-mvideo {
  color: #e31235;
}

.retail__position-title-brand-eldorado {
  color: #76bc21;
}

.retail__position-content {
  display: flex;
}

.retail__position-side-bar {
  width: 33.33%;
}

.retail__position-side-bar-title {
  max-width: 300px;
  margin-bottom: 24px;
}

.retail__position-side-bar-item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.retail__position-side-bar-item-title-mvideo,
.retail__position-side-bar-item-title-eldorado {
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 8px;
}

.retail__position-side-bar-item-title-mvideo {
  color: #e31235;
}

.retail__position-side-bar-item-title-eldorado {
  color: #76bc21;
}

.retail__position-side-bar-text {
  max-width: 244px;
}

.retail__position-content-bar {
  width: 66.66%;
}

.retail__position-headline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.retail__position-headline-link {
  color: $mainColor;
  display: block;
  padding-right: 23px;
  position: relative;
}

.retail__position-headline-link-arrow {
  position: absolute;
  right: 0;
  top: calc(50% - 4px);
}

.retail__position-list-item {
  border-top: 1px solid $blackColorOpacity-05;
  padding-top: 16px;
  margin-bottom: 32px;
  display: flex;
  transition: 0.3s;
  position: relative;
  cursor: pointer;

  &:hover {
    border-top: 1px solid #e31235;
  }

  &:hover > .retail__position-item-position {
    color: #e31235;
  }

  &:hover > .retail__position-item-button {
    opacity: 1;
  }
}

.retail__position-item-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 36px 10px 16px;
  width: 187px;
  background: $whiteColor;
  border-radius: 36px;
  color: $mainColor;
  font-size: 12px;
  line-height: 12px;
  pointer-events: none;
  opacity: 0;

  & > svg {
    position: absolute;
    right: 17px;
    top: calc(50% - 4px);
  }
}

.retail__position-item-position,
.retail__position-item-description {
  width: 50%;
  pointer-events: none;
}

.retail__position-item-position-title {
  font-size: 40px;
  line-height: 44px;
  max-width: 415px;
  padding-right: 24px;
  transition: 0.3s;
}

.retail__position-description-text {
  max-width: 464px;
}

.retail__position-description-link {
  display: inline-block;
  color: $mainColor;
  position: relative;
  padding-right: 23px;
  margin-top: 24px;
}

.retail__position-headline-link-arrow {
  position: absolute;
  right: 0;
  top: calc(50% - 4px);
}

// Styles for 1440px
@media (max-width: 1550px) {
  .retail__position {
    margin-bottom: 72px;
    font-size: 16px;
    line-height: 20px;
  }

  .retail__position-title,
  .retail__position-title-brand-mvideo,
  .retail__position-title-brand-eldorado {
    font-size: 124px;
    line-height: 112px;
  }

  .retail__position-side-bar-item-title-mvideo,
  .retail__position-side-bar-item-title-eldorado,
  .retail__position-item-position-title {
    font-size: 32px;
    line-height: 40px;
  }
}

// Styles for 1024px
@media (max-width: 1200px) {
  .retail__position-title,
  .retail__position-title-brand-mvideo,
  .retail__position-title-brand-eldorado {
    font-size: 88px;
    line-height: 80px;
  }

  .retail__position-title-wrapper {
    margin-bottom: 64px;
  }

  .retail__position-list-item {
    margin-bottom: 24px;
  }

  .retail__position-headline {
    margin-bottom: 24px;
  }
}

// Styles for 768px
@media (max-width: 870px) {
  .retail__position {
    padding: 0 8px;
    margin-bottom: 64px;
  }

  .retail__position-content {
    flex-direction: column;
  }

  .retail__position-side-bar {
    margin-bottom: 64px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .retail__position-side-bar-title {
    width: 100%;
    max-width: 100%;
  }

  .retail__position-side-bar-item {
    margin-right: 24px;
    width: 30%;

    &:last-child {
      margin-right: 0;
    }
  }

  .retail__position-content-bar {
    width: 100%;
  }
}

// Styles for 320px for title
@media (max-width: 750px) {
  .retail__position-title,
  .retail__position-title-brand-mvideo,
  .retail__position-title-brand-eldorado {
    font-size: 66px;
    line-height: 60px;
  }
}

// Styles for 320px
@media (max-width: 570px) {
  .retail__position {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 16px;
  }

  .retail__position-title-wrapper {
    margin-bottom: 32px;
  }

  .retail__position-title,
  .retail__position-title-brand-mvideo,
  .retail__position-title-brand-eldorado {
    font-size: 36px;
    line-height: 38px;
  }

  .retail__position-side-bar {
    flex-direction: column;
    margin-bottom: 32px;
  }

  .retail__position-side-bar-item,
  .retail__position-side-bar-text {
    max-width: 100%;
    width: 100%;
  }

  .retail__position-side-bar-item-title-mvideo,
  .retail__position-side-bar-item-title-eldorado,
  .retail__position-item-position-title {
    font-size: 24px;
    line-height: 28px;
    max-width: 100%;
    width: 100%;
  }

  .retail__position-list-item {
    flex-direction: column;
    padding-top: 8px;
  }

  .retail__position-item-position,
  .retail__position-item-description,
  .retail__position-description-text {
    max-width: 100%;
    width: 100%;
  }

  .retail__position-item-position {
    margin-bottom: 16px;
  }
}
