// @import '../styles.scss';

.retail__internship {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 196px;
  padding: 0 16px;
  display: flex;
  overflow: hidden;
}

.retail__internship-content-block {
  width: 66.66%;
}

.retail__internship-title {
  font-size: 160px;
  line-height: 144px;
  letter-spacing: -0.03em;
}

.retail__internship-button-container {
  display: flex;
  margin-bottom: 6px;
  width: 93%;
}

.retail__internship-button {
  display: inline-block;
  padding: 8px 40px 8px 16px;
  background: $whiteColor;
  box-shadow: 16px 2px 24px rgba(0, 0, 0, 0.03);
  border-radius: 36px;
  transform: rotate(-2deg) translateX(40px);
  margin-left: auto;
  color: $mainColor;
  transition: 0.3s;
  position: relative;
  font-size: 24px;
  line-height: 24px;

  &:hover {
    transform: rotate(0) translateX(40px);
  }
}

.retail__internship-button-arrow {
  position: absolute;
  right: 17px;
  top: calc(50% - 4px);
}

.retail__internship-text-wrapper {
  display: flex;
}

.retail__internship-text {
  margin-left: auto;
  width: 51%;
}

.retail__internship-image-block {
  width: 33.33%;
  min-width: 536px;
  min-height: 536px;
  position: relative;
}

.retail__internship-image-block-outside {
  width: 536px;
  height: 536px;
  position: absolute;
  top: 0;
  right: 50px;
}

.retail__internship-image-block-outside-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 536px;
  height: 536px;
}

.retail__internship-image-block-outside-icon-block,
.retail__internship-image-block-inside-icon-block {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $whiteColor;
  border-radius: 50%;
  position: absolute;

  & > svg {
    transform: scale(1.2);
  }
}

.retail__internship-image-block-outside-icon-block {
  top: 72px;
  right: 24px;
}

.retail__internship-image-block-inside-icon-block {
  top: 108px;
  left: -28px;
}

.retail__internship-image-block-inside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 362px;
  height: 362px;
}

.retail__internship-image-block-inside-circle {
  width: 362px;
  height: 362px;
}

.retail__internship-shop-icon-eldorado,
.retail__internship-shop-icon-mvideo,
.retail__internship-icon-active {
  width: 144px;
  height: 144px;
  background: $whiteColor;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;

  & > svg {
    transform: scale(2);
  }
}

// Styles for 1440px
@media (max-width: 1650px) {
  .retail__internship {
    margin-bottom: 144px;
    font-size: 16px;
    line-height: 20px;
  }

  .retail__internship-title {
    font-size: 124px;
    line-height: 112px;
  }

  .retail__internship-button {
    font-size: 20px;
    line-height: 20px;
  }

  .retail__internship-image-block {
    min-width: 344px;
    min-height: 344px;
  }

  .retail__internship-image-block-outside {
    width: 344px;
    height: 344px;
    right: 32px;
  }

  .retail__internship-image-block-outside-circle {
    width: 344px;
    height: 344px;
  }

  .retail__internship-image-block-outside-icon-block,
  .retail__internship-image-block-inside-icon-block {
    width: 56px;
    height: 56px;

    & > svg {
      transform: scale(1);
    }
  }

  .retail__internship-image-block-outside-icon-block {
    top: 144px;
    left: -28px;
    right: auto;
  }

  .retail__internship-image-block-inside-icon-block {
    top: 32px;
    right: -14px;
    left: auto;
  }

  .retail__internship-image-block-inside,
  .retail__internship-image-block-inside-circle {
    width: 232px;
    height: 232px;
  }

  .retail__internship-shop-icon-eldorado,
  .retail__internship-shop-icon-mvideo,
  .retail__internship-icon-active {
    width: 72px;
    height: 72px;

    & > svg {
      transform: scale(1);
    }
  }
}

// Styles for 1024px
@media (max-width: 1280px) {
  .retail__internship {
    margin-bottom: 160px;
  }

  .retail__internship-title {
    font-size: 88px;
    line-height: 80px;
  }

  .retail__internship-image-block {
    min-width: 308px;
    min-height: 308px;
  }
  .retail__internship-image-block-outside,
  .retail__internship-image-block-outside-circle {
    width: 308px;
    height: 308px;
  }

  .retail__internship-image-block-outside {
    right: 0;
  }

  .retail__internship-image-block-inside,
  .retail__internship-image-block-inside-circle {
    width: 200px;
    height: 200px;
  }

  .retail__internship-image-block-outside-icon-block,
  .retail__internship-image-block-inside-icon-block {
    width: 48px;
    height: 48px;

    & > svg {
      transform: scale(0.8);
    }
  }

  .retail__internship-image-block-outside-icon-block {
    top: 99px;
    left: -19px;
  }

  .retail__internship-image-block-inside-icon-block {
    top: 20px;
    right: 0;
  }

  .retail__internship-shop-icon-eldorado,
  .retail__internship-shop-icon-mvideo,
  .retail__internship-icon-active {
    width: 64px;
    height: 64px;

    & > svg {
      transform: scale(0.9);
    }
  }
}

// Styles for 768px
@media (max-width: 930px) {
  .retail__internship {
    margin-bottom: 124px;
    padding: 0 8px;
  }

  .retail__internship-text {
    width: 100%;
  }

  .retail__internship-button-container {
    width: 85%;
  }
}

// Sytles for image block
@media (max-width: 750px) {
  .retail__internship {
    flex-direction: column;
  }

  .retail__internship-content-block,
  .retail__internship-image-block {
    width: 100%;
  }

  .retail__internship-image-block {
    order: -1;
    margin-bottom: 16px;
  }

  .retail__internship-image-block-outside {
    margin: 0 auto;
    position: relative;
  }
}

// Styles for 320px
@media (max-width: 450px) {
  .retail__internship {
    margin-bottom: 66px;
    font-size: 14px;
    line-height: 16px;
  }

  .retail__internship-content-block {
    display: flex;
    flex-direction: column;
  }

  .retail__internship-button-container {
    order: 3;
  }

  .retail__internship-title {
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 38px;
  }

  .retail__internship-button {
    transform: rotate(0) translateX(0);
    margin-right: auto;
    margin-left: 0;
  }

  .retail__internship-image-block-outside,
  .retail__internship-image-block-outside-circle {
    width: 286px;
    height: 286px;
  }

  .retail__internship-image-block-inside,
  .retail__internship-image-block-inside-circle {
    width: 186px;
    height: 186px;
  }

  .retail__internship-image-block-outside-icon-block,
  .retail__internship-image-block-inside-icon-block {
    width: 40px;
    height: 40px;

    & > svg {
      transform: scale(0.7);
    }
  }

  .retail__internship-image-block-outside-icon-block {
    top: 100px;
    left: -16px;
  }

  .retail__internship-image-block-inside-icon-block {
    top: 30px;
    right: 0;
  }

  .retail__internship-shop-icon-eldorado,
  .retail__internship-shop-icon-mvideo,
  .retail__internship-icon-active {
    width: 56px;
    height: 56px;

    & > svg {
      transform: scale(0.7);
    }
  }
}
