// @import '../styles.scss';

.retail__preview {
  padding-top: 108px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 128px;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  min-height: 772px;
  overflow: hidden;
}

.retail__preview-title {
  max-width: 930px;
  font-size: 160px;
  line-height: 144px;
  letter-spacing: -0.03em;
  margin-bottom: 56px;
  position: relative;
  z-index: 1;
}

.retail__preview-text {
  max-width: 350px;
}

.retail__preview-btn-block {
  position: relative;
  max-width: 350px;
}

.retail__preview-button {
  font-size: 24px;
  line-height: 24px;
  padding: 8px 40px 8px 16px;
  background: $whiteColor;
  box-shadow: 16px 2px 24px rgba(0, 0, 0, 0.03);
  border-radius: 36px;
  transform: rotate(-2deg);
  transition: 0.3s;
  position: absolute;
  right: 0;

  &:hover {
    transform: rotate(0);
  }
}

.retail__preview-button-image {
  position: absolute;
  right: 19px;
  top: calc(50% - 4px);
}

.retail__mvideo-icon-block {
  position: absolute;
  right: 360px;
  bottom: 0;
  height: 440px;
  width: 440px;
  animation: rotate-logo 50s infinite;
  z-index: 9999;
}
@keyframes rotate-logo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(3600deg);
  }
}
.retail__mvideo-icon-block-icon-image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.retail__mvideo-icon,
.retail__eldorado-icon {
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background: $whiteColor;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.retail__mvideo-icon {
  left: 145px;
  top: -52px;
}

.retail__mvideo-image-block {
  max-width: 372px;
  position: absolute;
  bottom: 8px;
  left: 15px;

  & > img {
    display: block;
    width: 100%;
  }
}

.retail__eldorado-icon-block {
  position: absolute;
  bottom: 176px;
  right: 16px;
  width: 440px;
  height: 440px;
  animation: rotate-logo-back 50s infinite;
  z-index: 9998;
}
@keyframes rotate-logo-back {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-3600deg);
  }
}

.retail__eldorado-icon {
  bottom: -52px;
  right: 30%;
  z-index: 1;
}

.retail__eldorado-image-block {
  position: absolute;
  bottom: 32px;
  right: 1px;

  & > img {
    display: block;
    width: 100%;
  }
}

// Styles for 1440px
@media (max-width: 1550px) {
  .retail__preview {
    padding-top: 92px;
    margin-bottom: 96px;
    font-size: 16px;
    line-height: 20px;
    min-height: 748px;
  }

  .retail__preview-title {
    font-size: 124px;
    line-height: 112px;
    margin-bottom: 40px;
  }

  .retail__preview-text {
    max-width: 322px;
  }

  .retail__preview-button {
    font-size: 20px;
    line-height: 20px;
  }
}

// Styles for 1024px
@media (max-width: 1250px) {
  .retail__preview {
    min-height: 648px;
    margin-bottom: 64px;
  }

  .retail__preview-title {
    font-size: 88px;
    line-height: 80px;
    margin-bottom: 32px;
    max-width: 496px;
  }

  .retail__preview-btn-block {
    max-width: 322px;
  }

  .retail__preview-button {
    font-size: 18px;
    line-height: 18px;
  }

  .retail__mvideo-icon-block,
  .retail__eldorado-icon-block,
  .retail__mvideo-icon-block-icon-image,
  .retail__eldorado-icon-block-icon-image {
    width: 364px;
    height: 364px;
  }

  .retail__mvideo-icon-block {
    right: 315px;
    bottom: 25px;
  }

  .retail__mvideo-image-block,
  .retail__eldorado-image-block {
    max-width: 320px;
  }

  .retail__mvideo-image-block {
    bottom: 3px;
    left: 13px;
  }

  .retail__eldorado-image-block {
    bottom: 15px;
    right: 3px;
  }

  .retail__mvideo-icon,
  .retail__eldorado-icon {
    width: 72px;
    height: 72px;

    & > svg {
      transform: scale(0.72);
    }
  }

  .retail__mvideo-icon {
    left: 182px;
    top: -48px;
  }

  .retail__eldorado-icon {
    bottom: -30px;
  }
}

// Styles for 768px
@media (max-width: 1000px) {
  .retail__preview {
    min-height: 540px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 68px;
  }

  .retail__mvideo-icon-block,
  .retail__eldorado-icon-block,
  .retail__mvideo-icon-block-icon-image,
  .retail__eldorado-icon-block-icon-image {
    width: 240px;
    height: 240px;
  }

  .retail__mvideo-image-block,
  .retail__eldorado-image-block {
    width: 200px;
    height: 200px;
  }

  .retail__mvideo-image-block {
    bottom: 4px;
    left: 11px;
  }

  .retail__eldorado-image-block {
    bottom: 13px;
    right: 3px;
  }

  .retail__mvideo-icon,
  .retail__eldorado-icon {
    width: 40px;
    height: 40px;

    & > svg {
      transform: scale(0.52);
    }
  }

  .retail__mvideo-icon {
    left: 83px;
    top: -20px;
  }

  .retail__eldorado-icon {
    bottom: -14px;
    right: 73px;
  }

  .retail__mvideo-icon-block {
    right: 176px;
  }
}

// Styles for 320px
@media (max-width: 750px) {
  .retail__preview {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 16px;
    min-height: 511px;
    margin-bottom: 32px;
  }

  .retail__mvideo-icon-block,
  .retail__eldorado-icon-block,
  .retail__mvideo-icon-block-icon-image,
  .retail__eldorado-icon-block-icon-image {
    width: 148px;
    height: 148px;
  }

  .retail__mvideo-image-block,
  .retail__eldorado-image-block {
    width: 120px;
    height: 120px;
  }

  .retail__mvideo-image-block {
    left: 5px;
    bottom: 6px;
  }

  .retail__eldorado-image-block {
    right: 2px;
    bottom: 10px;
  }

  .retail__mvideo-icon-block,
  .retail__eldorado-icon-block {
    position: relative;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }

  .retail__mvideo-icon-block {
    order: -1;
    transform: translate(-30%, -30%);
  }
  .retail__eldorado-icon-block {
    order: -2;
    transform: translateX(30%);
  }

  .retail__mvideo-icon,
  .retail__eldorado-icon {
    width: 32px;
    height: 32px;
  }

  .retail__mvideo-icon {
    left: 56px;
    top: -16px;
  }

  .retail__eldorado-icon {
    bottom: 6px;
    right: 13px;

    & > svg {
      transform: scale(0.4);
    }
  }

  .retail__preview-title,
  .retail__preview-text,
  .retail__preview-btn-block {
    max-width: 100%;
  }

  .retail__preview-title {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 16px;
    margin-top: -30px;
  }

  .retail__preview-text {
    margin-bottom: 2px;
  }

  .retail__preview-button {
    left: 0;
    right: auto;
  }
}

// Styles for first screen - mobile
@media (max-width: 479px) {
  .retail__preview {
    padding-top: 24px;
    min-height: 460px;
  }
}
