// @import '../styles.scss';

.retail__why-us {
  margin-bottom: 192px;
  padding: 0 16px;
  overflow: hidden;
  @media (max-width: 1023px){
    padding: 0 8px;
  }
}

@media (max-width: 1440px) {
  .retail__why-us {
    margin-bottom: 144px;
  }
}

@media (max-width: 1024px) {
  .retail__why-us {
    margin-bottom: 128px;
  }
}

@media (max-width: 550px) {
  .retail__why-us {
    margin-bottom: 64px;
  }
}
@media (max-width: 550px) {
  .retail__why-us {
    padding-right: 0px;
    padding-left: 8px;
  }
}
