.retail__career-upgrade {
  margin-bottom: 192px;
  padding: 0 16px;
}

// Styles for 1440px
@media (max-width: 1440px) {
  .retail__career-upgrade {
    margin-bottom: 144px;
  }
}

// Styles for 1024px
@media (max-width: 1024px) {
  .retail__career-upgrade {
    margin-bottom: 128px;
  }
}

// Styles for 768px
@media (max-width: 770px) {
  .retail__career-upgrade {
    padding: 0 8px;
  }
}

// Styles for 320px
@media (max-width: 479px) {
  .retail__career-upgrade {
    margin-bottom: 64px;
  }
}
