// @import '../styles.scss';

.retail__why-us {
  margin-bottom: 96px;
  padding-left: 16px;
  overflow: hidden;
}

@media (max-width: 1440px) {
  .retail__why-us {
    margin-bottom: 144px;
  }
}

@media (max-width: 1024px) {
  .retail__why-us {
    margin-bottom: 128px;
  }
}

@media (max-width: 550px) {
  .retail__why-us {
    margin-bottom: 64px;
  }
}
@media (max-width: 550px) {
  .retail__why-us {
    padding-right: 0px;
    padding-left: 8px;
  }
}

.main__page-why__us{
  margin-bottom: 92px;
  @media(max-width: 1919px){
    margin-bottom: 72px;
  }
  @media (max-width: 1439px){
    margin-bottom: 64px;
  }
  @media (max-width: 1023px){
    padding-bottom: 64px;
    margin-bottom: 8px;
  }
  @media (max-width: 767px){
    margin-bottom: 32px;
  }
}