.page-404 {
  padding: 196px 16px 0 16px;
  min-height: 980px;
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  line-height: 24px;
  position: relative;
}

.page-404__content {
  width: 50%;
  position: relative;
  z-index: 1;
}

.page-404__content-title-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 56px;
}

.page-404__title {
  font-size: 212px;
  line-height: 200px;
  letter-spacing: -0.03em;
  margin-right: 24px;
}

.page-404__title-info {
  width: 101px;
  margin-top: 15px;
}

.page-404__text {
  max-width: 440px;
}

.page-404__button-container {
  display: flex;
  justify-content: flex-end;
  width: 420px;
}

.page-404__button {
  font-size: 24px;
  line-height: 24px;
  text-transform: lowercase;
  color: $mainColor;
  border: none;
  padding: 8px 16px;
  box-shadow: 16px 2px 24px rgba(0, 0, 0, 0.03);
  border-radius: 36px;
  transform: rotate(-2deg);
  background: $whiteColor;
  transition: 0.3s;

  &:hover {
    transform: rotate(0);
  }
}

.page-404__background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-404__background-row {
  height: 200%;
  animation: moveBackground 15s linear infinite;
}

@keyframes moveBackground {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-50%);
  }
}

.page-404__background-item {
  height: 50%;
  position: relative;
}

.page-404__background-image-phone,
.page-404__background-image-mvideo,
.page-404__background-image-planet,
.page-404__background-image-eldorado,
.page-404__background-image-chip,
.page-404__background-image-rocket,
.page-404__background-image-book-red,
.page-404__background-image-watch-green,
.page-404__background-image-book-green,
.page-404__background-image-watch-red,
.page-404__background-image-planet-right,
.page-404__background-image-watch-green-right {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: $whiteColor;
  position: absolute;
}

.page-404__background-image-phone {
  width: 48px;
  height: 48px;
  left: 16px;
  top: 461px;
}

.page-404__background-image-mvideo {
  width: 72px;
  height: 72px;
  top: 276px;
  left: 12.9%;
}

.page-404__background-image-planet {
  width: 56px;
  height: 56px;
  top: 501px;
  left: 15.2%;

  & > svg {
    transform: scale(0.8) rotate(-24deg);
  }
}

.page-404__background-image-eldorado {
  width: 72px;
  height: 72px;
  top: 716px;
  left: 23.2%;
}

.page-404__background-image-chip {
  width: 64px;
  height: 64px;
  top: 255px;
  left: 30%;
}

.page-404__background-image-rocket {
  width: 64px;
  height: 64px;
  top: 534px;
  left: 33.3%;
}

.page-404__background-image-book-red {
  width: 56px;
  height: 56px;
  top: 411px;
  left: 40.2%;
}

.page-404__background-image-watch-green {
  width: 72px;
  height: 72px;
  top: 721px;
  left: 50%;
}

.page-404__background-image-book-green {
  width: 56px;
  height: 56px;
  top: 672px;
  left: 65.2%;
}

.page-404__background-image-watch-red {
  width: 72px;
  height: 72px;
  top: 711px;
  left: 81.5%;
}

.page-404__background-image-planet-right {
  width: 48px;
  height: 48px;
  top: 303px;
  left: 83.3%;

  & > svg {
    transform: scale(0.7) rotate(-24deg);
  }
}

.page-404__background-image-watch-green-right {
  width: 56px;
  height: 56px;
  top: 427px;
  right: 18px;
}

// Styles for 1440px
@media (max-width: 1440px) {
  .page-404 {
    min-height: 796px;
    padding: 164px 16px 0 16px;
    font-size: 16px;
    line-height: 20px;
  }

  .page-404__title {
    font-size: 164px;
    line-height: 138px;
    margin-right: 16px;
  }

  .page-404__title-info {
    margin-top: 6px;
  }

  .page-404__content-title-wrapper {
    margin-bottom: 40px;
  }

  .page-404__button {
    font-size: 20px;
    line-height: 20px;
  }

  .page-404__text {
    max-width: 390px;
  }

  .page-404__button-container {
    width: 370px;
  }

  .page-404__background-image-phone,
  .page-404__background-image-mvideo,
  .page-404__background-image-planet,
  .page-404__background-image-eldorado,
  .page-404__background-image-chip,
  .page-404__background-image-rocket,
  .page-404__background-image-book-red,
  .page-404__background-image-watch-green,
  .page-404__background-image-book-green,
  .page-404__background-image-watch-red,
  .page-404__background-image-planet-right,
  .page-404__background-image-watch-green-right {
    & > svg {
      transform: scale(0.9);
    }
  }

  .page-404__background-image-phone {
    width: 40px;
    height: 40px;
    top: 413px;
  }

  .page-404__background-image-mvideo {
    width: 64px;
    height: 64px;
    top: 299px;
  }

  .page-404__background-image-planet {
    width: 48px;
    height: 48px;
    top: 457px;

    & > svg {
      transform: scale(0.7) rotate(-24deg);
    }
  }

  .page-404__background-image-eldorado {
    width: 64px;
    height: 64px;
    top: 573px;
  }

  .page-404__background-image-chip {
    width: 56px;
    height: 56px;
    top: 210px;
  }

  .page-404__background-image-rocket {
    width: 56px;
    height: 56px;
    top: 481px;
  }

  .page-404__background-image-book-red {
    width: 48px;
    height: 48px;
    top: 363px;
  }

  .page-404__background-image-watch-green {
    width: 64px;
    height: 64px;
    top: 563px;
  }

  .page-404__background-image-book-green {
    width: 48px;
    height: 48px;
    top: 529px;
  }

  .page-404__background-image-watch-red {
    width: 64px;
    height: 64px;
    top: 544px;
  }

  .page-404__background-image-planet-right {
    width: 40px;
    height: 40px;
    top: 244px;

    & > svg {
      transform: scale(0.6) rotate(-24deg);
    }
  }

  .page-404__background-image-watch-green-right {
    width: 48px;
    height: 48px;
    top: 351px;
    right: 16px;
  }
}

// Styles for 1024px
@media (max-width: 1024px) {
  .page-404 {
    min-height: 648px;
    padding: 148px 16px 0 16px;
  }

  .page-404__content-title-wrapper {
    margin-bottom: 32px;
  }

  .page-404__title {
    font-size: 132px;
    line-height: 120px;
  }

  .page-404__background-image-phone,
  .page-404__background-image-mvideo,
  .page-404__background-image-planet,
  .page-404__background-image-eldorado,
  .page-404__background-image-chip,
  .page-404__background-image-rocket,
  .page-404__background-image-book-red,
  .page-404__background-image-watch-green,
  .page-404__background-image-book-green,
  .page-404__background-image-watch-red,
  .page-404__background-image-planet-right,
  .page-404__background-image-watch-green-right {
    & > svg {
      transform: scale(0.8);
    }
  }

  .page-404__background-image-phone {
    width: 32px;
    height: 32px;
    top: 376px;
  }

  .page-404__background-image-mvideo {
    width: 56px;
    height: 56px;
    top: 257px;
  }

  .page-404__background-image-planet {
    width: 40px;
    height: 40px;
    top: 408px;

    & > svg {
      transform: scale(0.6) rotate(-24deg);
    }
  }

  .page-404__background-image-eldorado {
    width: 56px;
    height: 56px;
    top: 500px;
  }

  .page-404__background-image-chip {
    width: 48px;
    height: 49px;
    top: 180px;
  }

  .page-404__background-image-rocket {
    width: 48px;
    height: 48px;
    top: 409px;
  }

  .page-404__background-image-book-red {
    top: 316px;
    width: 40px;
    height: 40px;
  }

  .page-404__background-image-watch-green {
    top: 507px;
    width: 56px;
    height: 56px;
  }

  .page-404__background-image-book-green {
    top: 487px;
    width: 40px;
    height: 40px;
  }

  .page-404__background-image-watch-red {
    top: 502px;
    width: 56px;
    height: 56px;
  }

  .page-404__background-image-planet-right {
    width: 32px;
    height: 32px;
    top: 166px;

    & > svg {
      transform: scale(0.5) rotate(-24deg);
    }
  }

  .page-404__background-image-watch-green-right {
    top: 319px;
    width: 40px;
    height: 40px;
  }
}

// Styles for 768px
@media (max-width: 768px) {
  .page-404 {
    min-height: 924px;
    padding: 148px 8px 0 8px;
  }

  .page-404__content {
    width: 66.66%;
  }

  .page-404__title-info {
    width: 98px;
  }

  .page-404__content-title-wrapper {
    margin-bottom: 50px;
  }

  .page-404__button-container {
    max-width: 350px;
    width: auto;
  }

  .page-404__button {
    font-size: 18px;
    line-height: 18px;
  }

  .page-404__background-image-phone {
    top: 512px;
    left: 8px;
  }

  .page-404__background-image-mvideo {
    top: 332px;
    left: 9.9%;
  }

  .page-404__background-image-planet {
    top: 526px;
    left: 18.7%;
  }

  .page-404__background-image-eldorado {
    top: 679px;
    left: 29.8%;
  }

  .page-404__background-image-chip {
    top: 278px;
    left: 27.1%;
  }

  .page-404__background-image-rocket {
    top: 606px;
    left: 43.5%;
  }

  .page-404__background-image-book-red {
    top: 452px;
    left: 52.3%;
  }

  .page-404__background-image-watch-green {
    top: 651px;
    left: 66.66%;
  }

  .page-404__background-image-book-green {
    top: 601px;
    left: 88.9%;
  }

  .page-404__background-image-watch-red {
    top: 439px;
    left: 77.2%;
  }

  .page-404__background-image-planet-right {
    top: 302px;
    left: 85.7%;
  }

  .page-404__background-image-watch-green-right {
    top: 455px;
    right: 8px;
  }
}

// Styles for 320px
@media (max-width: 585px) {
  .page-404 {
    min-height: 498px;
    padding: 120px 8px 0 8px;
    font-size: 14px;
    line-height: 16px;
  }

  .page-404__content {
    width: 100%;
  }

  .page-404__content-title-wrapper {
    margin-bottom: 24px;
  }

  .page-404__title {
    font-size: 48px;
    line-height: 44px;
    margin-right: 63px;
  }

  .page-404__text {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
  }

  .page-404__button-container {
    max-width: 250px;
    justify-content: flex-start;
  }

  .page-404__background-image-phone,
  .page-404__background-image-mvideo,
  .page-404__background-image-planet,
  .page-404__background-image-eldorado,
  .page-404__background-image-chip,
  .page-404__background-image-rocket,
  .page-404__background-image-book-red,
  .page-404__background-image-watch-green,
  .page-404__background-image-book-green,
  .page-404__background-image-watch-red,
  .page-404__background-image-planet-right,
  .page-404__background-image-watch-green-right {
    & > svg {
      transform: scale(0.55);
    }
  }

  .page-404__background-image-phone {
    top: 418px;
    width: 16px;
    height: 16px;
  }

  .page-404__background-image-mvideo {
    top: 286px;
    width: 32px;
    height: 32px;
    left: 8.1%;
  }

  .page-404__background-image-planet {
    width: 24px;
    height: 24px;
    top: 422px;
    left: 46.3%;
  }

  .page-404__background-image-eldorado {
    width: 32px;
    height: 32px;
    top: 420px;
    left: 63.4%;
  }

  .page-404__background-image-chip {
    width: 24px;
    height: 24px;
    top: 294px;
    left: 39.7%;
  }

  .page-404__background-image-rocket {
    width: 24px;
    height: 24px;
    top: 360px;
    left: 54%;
  }

  .page-404__background-image-book-red {
    width: 16px;
    height: 16px;
    top: 390px;
    left: 72.8%;
  }

  .page-404__background-image-watch-green {
    width: 24px;
    height: 24px;
    top: 387px;
    left: auto;
    right: 8px;
  }

  .page-404__background-image-book-green {
    width: 24px;
    height: 24px;
    top: 383px;
    left: 30.6%;
  }

  .page-404__background-image-planet-right {
    width: 16px;
    height: 16px;
    top: 324px;
    left: 70%;
  }

  .page-404__background-image-watch-red,
  .page-404__background-image-watch-green-right {
    display: none;
  }
}

@media (max-width: 479px) {
  .page-404 {
    padding: 48px 8px 0 8px;
    min-height: 454px;
  }

  .page-404__background-image-phone {
    top: 374px;
  }

  .page-404__background-image-mvideo {
    top: 242px;
  }

  .page-404__background-image-planet {
    top: 378px;
  }

  .page-404__background-image-eldorado {
    top: 396px;
  }

  .page-404__background-image-chip {
    top: 250px;
  }

  .page-404__background-image-rocket {
    top: 316px;
  }

  .page-404__background-image-book-red {
    top: 346px;
  }

  .page-404__background-image-watch-green {
    top: 343px;
  }

  .page-404__background-image-book-green {
    top: 339px;
  }

  .page-404__background-image-planet-right {
    top: 280px;
  }
}
