section.page__404 {
  font-size: 18px;
  line-height: 24px;
  padding: 0 16px;
  padding-top: 76px;
  height: 904px;
  position: relative;
}

.page__404-wrapper {
  position: relative;
  left: 50%;
  width: 33.4%;
  margin-top: 120px;
}

.page__404-title-wrapper {
  display: flex;
}

h3.page__404-title {
  font-size: 212px;
  line-height: 200px;
  margin-right: 24px;
}

p.page__404-subtitle {
  margin-top: 16px;
  max-width: 101px;
}

.page__404-conten__wrapper {
  position: relative;
  width: 410px;
}

a.page__404-link {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  padding: 5px 40px 8px 16px;
  background: #ffffff;
  // box-shadow: 16px 2px 24px rgb(0 0 0 / 3%);
  border-radius: 36px;
  transform: rotate(-2deg);
  transition: 0.3s;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
  position: absolute;
  right: 0;

  &:hover {
    transform: rotate(0);
  }
}

.bubble__one {
  position: absolute;
  left: calc(50% - 56px/2 - 640px);
  top: 501px;
}

.bubble__two {
  position: absolute;
  left: calc(50% - 48px/2 - 920px);
  top: 461px;
}

.bubble__three {
  position: absolute;
  left: 248px;
  top: 276px;
}

.bubble__four {
  position: absolute;
  left: calc(50% - 72px/2 - 479px);
  top: 716px;
}

.bubble__five {
  position: absolute;
  left: 576px;
  top: 255px;
}

.bubble__six {
  position: absolute;
  left: 640px;
  bottom: 382px;
}

.bubble__seven {
  position: absolute;
  left: calc(50% - 56px/2 - 160px);
  top: 411px;
}

.bubble__eight {
  position: absolute;
  right: 887px;
  bottom: 187px;
}

.bubble__nine {
  position: absolute;
  right: 612px;
  bottom: 252px;
}

.bubble__ten {
  position: absolute;
  right: 284px;
  bottom: 197px;
}

.bubble__eleven {
  position: absolute;
  right: 272px;
  top: 303px;
}

.bubble__twelve {
  position: absolute;
  right: 18px;
  top: 427px;
}
