.logistic-advantages {
  margin-bottom: 192px;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  padding: 0 16px;
  overflow: hidden;
}

.logistic-advantages__left-bar {
  width: 33.05%;

  @media (max-width:1919px){
    width: 33%;
  }

  @media (max-width:1439px){
    width: 32.86%;
  }
}

.logistic-advantages__slide-buttons-mobile {
  display: none;
}

.logistic-advantages__right-bar {
  width: 66.95%;

  @media (max-width: 1919px){
    width: 67.2%;
  }

  @media (max-width: 1439px){
    width: 67.14%;
  }
}

.logistic-advantages__content-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  // margin: -24px -16px;

  &.swiper-wrapper{
    height: auto;
  }
}

.logistic-advantages__content-item {
  // margin: 24px 16px;
  margin-right: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #969696;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  
  // @media (min-width: 478px) {
  //   height: auto !important;
  //   width: calc(25% - 32px) !important;
  // }
  
  &:nth-child(4n){
    margin-right: 0;
  }
  &.swiper-slide{
    width: 24%;
    height: auto;
  }

  @media (max-width: 1919px){
    &.swiper-slide{
      width: 23.72%;
    }
  }

  @media (max-width: 1439px){
    &.swiper-slide{
      width: 48.799%;
    }

    margin-bottom: 24px;

    &:nth-child(2n){
      margin-right: 0;
    }
  }

  @media (max-width: 1023px){
    &:nth-child(2n){
      margin-right: 16px;
    }

    &.swiper-slide{
      width: 31.91%;
    }

    &:nth-child(3n){
      margin-right: 0;
    }
  }

  @media (max-width: 767px){
    &.swiper-slide{
      width: 100%;
      height: 100%;
    }

    &:nth-child(n){
      margin-right: 0;
    }
  }
}

.logistic-advantages__content-item-text {
  margin-bottom: 32px;
}

.logistic-advantages__content-item-icon {
  margin-top: auto;
  display: flex;

  & > svg {
    margin-top: auto;
    width: 64px;
    height: 62.67px;  
  }

  // Styles for 1440px
  @media (max-width: 1919px){
    & > svg {
      width: 48px;
      height: 47px;
    }
  }

  // Styles for 320px
  @media (max-width: 767px){
    & > svg {
      width: 32px;
      height: 31.33px;
    }
  }
}

// Styles for 1440px
@media (max-width: 1440px) {
  .logistic-advantages {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 144px;
  }

  .logistic-advantages__content-item-icon {
    margin-top: auto;
    display: flex;

    & > svg {
      // transform: scale(0.75);
    }
  }
}

// Styles for 1024px
@media (max-width: 1024px) {
  .logistic-advantages {
    margin-bottom: 136px;
  }

  .logistic-advantages__content-item {
    width: calc(50% - 32px);
  }
}

// Styles for 768px
@media (max-width: 768px) {
  .logistic-advantages {
    margin-bottom: 136px;
    flex-wrap: wrap;
    padding: 0 8px;
  }

  .logistic-advantages__left-bar,
  .logistic-advantages__right-bar {
    width: 100%;
  }

  .logistic-advantages__left-bar {
    margin-bottom: 24px;
  }

  .logistic-advantages__content-item {
    width: calc(33.33% - 32px);
  }
}

// Styles for 320px
@media (max-width: 479px) {
  .logistic-advantages {
    margin-bottom: 64px;
    font-size: 14px;
    line-height: 16px;
  }

  .logistic-advantages__content-wrapper {
    flex-wrap: nowrap;
    width: 700%;
  }

  .logistic-advantages__content-item {
    width: calc(12.5% - 16px);
    padding-bottom: 8px;
  }

  // .logistic-advantages__content-item-icon {
  //   width: 48px;
  //   height: 48px;

  //   & > svg {
  //     transform: scale(0.67);
  //   }
  // }

  .logistic-advantages__left-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .logistic-advantages__slide-buttons-mobile {
    display: flex;
  }

  .logistic-advantages__text {
    max-width: 220px;
  }

  .logistic-advantage__slide-arrow,
  .logistic-advantages__slide-number-mobile {
    margin-right: 9px;
  }
}
