.logistic-news-events {
  margin-bottom: 96px;
  overflow: hidden;

  .intern {
    margin-bottom: 96px;
    font-size: 18px;
    line-height: 24px;
    overflow: hidden;
  }

  .intern__header {
    margin-bottom: 192px;
    position: relative;
  }

  .intern__header-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 907px;
    background: url('../images/internship/swichers.svg') right / contain
      no-repeat;
    padding-top: 15%;
  }

  .intern__title {
    font-size: 160px;
    line-height: 144px;
    letter-spacing: -0.03em;
    max-width: 1163px;
    margin-bottom: 48px;
  }

  .intern__header-text {
    max-width: 640px;
    margin: 0 auto;
  }

  .intern__header-link {
    position: absolute;
    left: 53%;
    bottom: 21%;
    width: 260px;
    background: #ffffff;
    box-shadow: 16px 2px 24px rgba(0, 0, 0, 0.03);
    border-radius: 36px;
    transform: rotate(-2deg);
    font-size: 24px;
    line-height: 24px;
    text-transform: lowercase;
    padding: 9px 40px 9px 16px;
    color: $mainColor;

    &::after {
      content: '';
      position: absolute;
      right: 17px;
      top: calc(50% - 4.5px);
      width: 14px;
      height: 9px;
      background: url('../images/internship/arrow-right.svg') center / contain
        no-repeat;
    }
  }

  .intern__main-content {
    display: flex;
    justify-content: space-between;
  }

  .intern__events-block {
    width: 28.33%;
  }

  .intern__events-block-mobile {
    display: none;
  }

  .intern__events-title,
  .intern__events-group {
    margin-bottom: 56px;
  }

  .intern__events-group-month {
    margin-bottom: 44px;
  }

  .intern__event {
    padding: 32px 0;
    border-bottom: 1px solid $blackColorOpacity-05;
    display: flex;
    justify-content: flex-start;
  }

  .intern__event-date-block {
    width: 39.15%;
    margin-right: 16px;
  }

  .intern__event-date {
    font-size: 160px;
    line-height: 144px;
    letter-spacing: -0.03em;
    font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;
  }

  .intern__event-description-block {
    display: flex;
    flex-direction: column;
    width: 57.9%;
  }

  .intern__event-method {
    color: #969696;
  }

  .intern__event-link,
  .intern__events-all-link,
  .intern__news-link {
    margin-top: auto;
    color: $mainColor;
    width: 100%;
    max-width: 202px;
    display: block;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: calc(50% - 4.5px);
      width: 13px;
      height: 9px;
      background: url('../images/internship/arrow-right.svg') center / contain
        no-repeat;
    }
  }

  .intern__events-all-link {
    max-width: 132px;
  }

  .intern__news-link {
    max-width: 129px;
  }

  .intern__news-block {
    width: 65.83%;
  }

  .intern__news-block-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .intern__main-news {
    margin-bottom: 56px;
  }

  .intern__main-news-image-block {
    margin-bottom: 8px;
  }

  .intern__main-news-image {
    display: block;
    width: 100%;
  }

  .intern__main-news-title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 8px;
  }

  .intern__subnews-block {
    display: flex;
    justify-content: space-between;
  }

  .intern__news {
    width: 49.4%;
  }

  .intern__news-image-block {
    margin-bottom: 12px;
  }

  .intern__news-image {
    display: block;
    width: 100%;
  }

  .intern__news-title {
    max-width: 464px;
    margin-bottom: 32px;
  }

  // Styles for 1440px
  @media (max-width: 1700px) {
    .intern {
      margin-bottom: 72px;
      font-size: 16px;
      line-height: 20px;
    }

    .intern__header {
      margin-bottom: 144px;
    }

    .intern__title {
      font-size: 124px;
      line-height: 112px;
      margin-bottom: 40px;
    }

    .intern__events-block {
      width: 100%;
      max-width: 464px;
    }

    .intern__events-group {
      width: 100%;
      max-width: 384px;
    }

    .intern__event-date-block {
      width: 100%;
      max-width: 175px;
    }

    .intern__event-date {
      font-size: 132px;
      line-height: 120px;
    }

    .intern__news-block {
      width: 100%;
      max-width: 944px;
    }

    .intern__main-news-title {
      font-size: 32px;
      line-height: 40px;
    }
  }

  // Styles for 1024px
  @media (max-width: 1300px) {
    .intern {
      margin-bottom: 64px;
    }

    .intern__header {
      margin-bottom: 128px;
    }

    .intern__title {
      font-size: 88px;
      line-height: 80px;
      width: 100%;
      max-width: 944px;
      margin-bottom: 32px;
    }

    .intern__header-text {
      max-width: 340px;
    }

    .intern__header-link {
      left: 48%;
      bottom: 35%;
      width: 209px;
      font-size: 18px;
      line-height: 18px;
    }

    .intern__events-block {
      max-width: 326px;
    }

    .intern__events-group {
      max-width: 310px;
    }

    .intern__event {
      padding: 24px 0;
    }

    .intern__events-title,
    .intern__events-group {
      margin-bottom: 32px;
    }

    .intern__events-group-month {
      margin-bottom: 40px;
    }

    .intern__event-date-block {
      max-width: 107px;
      margin-right: 8px;
    }

    .intern__event-date {
      font-size: 80px;
      line-height: 72px;
    }

    .intern__news-block {
      max-width: 666px;
    }

    .intern__news-block-header {
      margin-bottom: 24px;
    }

    .intern__main-news {
      margin-bottom: 32px;
    }

    .intern__news-title {
      margin-bottom: 24px;
    }
  }

  // Styles for 768px
  @media (max-width: 900px) {
    .intern {
      overflow: hidden;
    }

    .intern__header {
      margin-bottom: 173px;
    }

    .intern__title {
      position: relative;
      z-index: 1;
    }

    .intern__header-text {
      margin-left: 8px;
      max-width: 480px;
    }

    .intern__header-link {
      left: 8px;
      bottom: -44px;
    }

    .intern__main-content {
      flex-direction: column;
    }

    .intern__news-block {
      width: 100%;
      max-width: 100%;
    }

    .intern__events-block {
      display: none;
    }

    .intern__events-block-mobile {
      display: block;
      width: 100%;
      margin-bottom: 64px;
    }

    .intern__events-block-mobile-events-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      font-size: 14px;
      line-height: 16px;
    }

    .intern__events-all-link {
      max-width: 119px;
    }

    .intern__events-next-link {
      color: $mainColor;
    }

    .intern__events-row-mobile {
      display: flex;
      justify-content: flex-start;
      width: 183%;
    }

    .intern__event-mobile {
      width: 100%;
      max-width: 320px;
      border-bottom: 1px solid $blackColorOpacity-05;
      padding-bottom: 16px;
      margin-right: 24px;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 16px;
    }

    .intern__event-date-block {
      max-width: 237px;
      margin-right: 0;
      margin-bottom: 8px;
    }

    .intern__event-date {
      font-size: 80px;
      line-height: 72px;
    }

    .intern__event-method {
      margin-bottom: 24px;
    }

    .intern__event-link {
      margin-top: auto;
    }

    .intern__event-link {
      max-width: 182px;
    }

    .intern__news-link {
      max-width: 117px;
    }
  }

  // Styles for 320px
  @media (max-width: 620px) {
    .intern {
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 16px;
    }

    .intern__header {
      margin-bottom: 109px;
    }

    .intern__title {
      font-size: 36px;
      line-height: 38px;
      margin-bottom: 11px;
      padding: 0 8px;
    }

    .intern__header-background {
      max-width: 220px;
      right: -20px;
      padding-top: 20%;
    }

    .intern__header-text {
      max-width: 100%;
      padding-right: 8px;
    }

    .intern__events-block-mobile {
      margin-bottom: 32px;
    }

    .intern__news-block-header {
      font-size: 14px;
      line-height: 16px;
    }

    .intern__events-block-mobile-events-wrapper {
      margin-bottom: 24px;
    }

    .intern__events-all-link {
      max-width: 107px;
    }

    .intern__event-mobile {
      max-width: 176px;
      margin-right: 16px;
    }

    .intern__event-date-block {
      max-width: 107px;
      margin-bottom: 8px;
    }

    .intern__event-date {
      font-size: 36px;
      line-height: 38px;
    }

    .intern__events-row-mobile {
      width: 260%;
    }

    .intern__event-description-block {
      width: 100%;
    }

    .intern__event-link {
      max-width: 162px;
    }

    .intern__main-news {
      margin-left: -8px;
      margin-right: -8px;
      margin-bottom: 24px;
    }

    .intern__main-news-title {
      padding: 0 8px;
      font-size: 14px;
      line-height: 16px;
    }

    .intern__main-news-date-block {
      padding-left: 8px;
    }

    .intern__subnews-block {
      flex-wrap: wrap;
    }

    .intern__news {
      width: 100%;

      &:last-child {
        display: none;
      }
    }

    .intern__news-link {
      margin-bottom: 0;
    }
  }

  // Styles for block widthout events
  .intern-no-events {
    font-size: 18px;
    line-height: 24px;
  }

  .intern-no-events-container {
    padding: 0 16px;
  }

  .intern-no-events__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .intern-no-events__news-link,
  .intern-no-events__all-news-link {
    color: $mainColor;
    position: relative;
  }

  .intern-no-events__all-news-link {
    padding-right: 20px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: calc(50% - 4.5px);
      width: 14px;
      height: 9px;
      background: url('../images/internship/arrow-right.svg') no-repeat;
    }
  }

  .intern-no-events__news-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 56px;

    &:last-child {
      margin-bottom: 0;

      & > .intern-no-events__news-card-second {
        order: -1;
      }
    }
  }

  .intern-no-events__news-card-main {
    width: 63%;

    & > .intern-no-events__title {
      font-size: 40px;
      line-height: 44px;
      margin-bottom: 8px;
      max-width: 960px;
    }
  }

  .intern-no-events__card-image-block {
    margin-bottom: 12px;
  }

  .intern-no-events__card-image {
    display: block;
    width: 100%;
  }

  .intern-no-events__news-card-second {
    width: 35%;

    & > .intern-no-events__title {
      font-size: 18px;
      line-height: 24px;
      max-width: 464px;
      margin-bottom: 32px;
    }
  }

  // Styles block widthout events for 1440px
  @media (max-width: 1440px) {
    .intern-no-events {
      font-size: 16px;
      line-height: 20px;
    }

    .intern-no-events__header {
      margin-bottom: 24px;
    }

    .intern-no-events__news-card-main {
      & > .intern-no-events__title {
        font-size: 32px;
        line-height: 40px;
        max-width: 100%;
      }
    }

    .intern-no-events__news-block {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .intern-no-events__news-card-second {
      & > .intern-no-events__title {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 24px;
        max-width: 100%;
      }
    }
  }

  // Styles block widthout events for 1024px
  @media (max-width: 1024px) {
    .intern-no-events__news-card-main {
      width: 64%;
    }

    .intern-no-events__news-card-second {
      width: 34%;
    }

    .intern-no-events__news-block {
      margin-bottom: 32px;
    }
  }

  // Styles block widthout events for 768px
  @media (max-width: 880px) {
    .intern-no-events {
      margin-top: -60px;
    }

    .intern-no-events-container {
      padding: 0 8px;
    }

    .intern-no-events__news-block {
      flex-direction: column;
    }

    .intern-no-events__news-card-main,
    .intern-no-events__news-card-second {
      width: 100%;
    }

    .intern-no-events__news-card-main {
      margin-bottom: 24px;
    }

    .intern-no-events__news-block:last-child {
      & > .intern-no-events__news-card-second {
        order: 0;
      }
    }

    .intern-no-events__news-block {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 24px;
      }
    }

    .intern-no-events__news-card-second {
      & > .intern-no-events__title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 8px;
      }
    }
  }

  // Styles block widthout events for 320px
  @media (max-width: 620px) {
    .intern-no-events {
      margin-top: 0;
      font-size: 14px;
      line-height: 16px;
    }

    .intern__subnews-block {
      margin: 0 -8px;
      font-size: 14px;
      line-height: 16px;
    }

    .intern__news-title {
      margin-bottom: 16px;
    }

    .intern__news-title,
    .intern__news-date-block {
      padding: 0 8px;
    }

    .intern-no-events__news-card-main {
      & > .intern-no-events__title {
        font-size: 14px;
        line-height: 16px;
        padding: 0 8px;
      }
    }

    .intern-no-events__news-card-second {
      & > .intern-no-events__title {
        font-size: 14px;
        line-height: 16px;
        padding: 0 8px;
      }
    }

    .intern-no-events-container {
      padding: 0;
    }

    .intern-no-events__header,
    .intern-no-events__date-block {
      padding: 0 8px;
    }
  }
}

// Styles for 1440px
@media (max-width: 1440px) {
  .logistic-news-events {
    margin-bottom: 72px;
  }
}

// Styles for 1024px
@media (max-width: 1024px) {
  .logistic-news-events {
    margin-bottom: 64px;
  }
}

// Styles for 320px
@media (max-width: 479px) {
  .logistic-news-events {
    margin-bottom: 32px;
  }
}
