.logistic-stage {
  margin-bottom: 96px;
  min-height: 716px;
  display: flex;
  padding: 100px 16px 0 16px;
  font-size: 18px;
  line-height: 24px;
  overflow: hidden;
  position: relative;
}

.logistic-stage__title-block {
  width: 33.33%;
}

.logistic-stage__title {
  font-size: 160px;
  line-height: 144px;
  letter-spacing: -0.03em;
  display: inline;
}

.logistic-stage__button {
  padding: 9px 40px 8px 16px;
  color: $mainColor;
  background: $whiteColor;
  border-radius: 36px;
  font-size: 24px;
  line-height: 24px;
  text-transform: lowercase;
  display: inline-block;
  box-shadow: 16px 2px 24px rgba(0, 0, 0, 0.03);
  border-radius: 36px;
  transform: rotate(-2deg);
  transition: 0.3s;
  position: relative;
  left: 70%;
  bottom: 20px;
  margin-bottom: 20px;

  &:hover {
    transform: rotate(0);
  }
}

.logistic-stage__text {
  width: 80%;
}

.logistic-stage__icon-block {
  width: 66.66%;
  position: relative;
}

.logistic-stage__icon-block-big {
  position: absolute;
  left: 76px;
  top: 76px;
  width: 1925px;
  height: 965px;
}

.logistic-stage__icon-block-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1484px;
  height: 674px;
  position: absolute;
  top: 140px;
  left: 156px;
}

.logistic-stage__icon-block-small {
  width: 1073px;
  height: 426px;
  position: absolute;
  top: 140px;
  left: 156px;
}

.logistic-stage__border {
  position: absolute;
  top: 0;
  left: 0;
}

.logistic-stage__icon-container {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: $whiteColor;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.logistic-stage__mvideo-icon {
  left: 860px;
  top: -62px;
}

.logistic-stage__finger-icon {
  left: 352px;
  top: -64px;
}

.logistic-stage__elorado-icon {
  left: -11px;
  top: 19px;
}

.logistic-stage__gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(180deg, rgba(243, 243, 243, 0) 0%, #f3f3f3 100%);
}

// Styles for 1440px
@media (max-width: 1440px) {
  .logistic-stage {
    margin-bottom: 72px;
    font-size: 16px;
    line-height: 20px;
  }

  .logistic-stage__title {
    font-size: 124px;
    line-height: 112px;
  }

  .logistic-stage__button {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .logistic-stage__icon-block-big {
    width: 1008px;
    height: 633.5px;

    & > .logistic-stage__mvideo-icon {
      left: 672px;
    }
  }

  .logistic-stage__icon-block-middle {
    width: 811px;
    height: 495.5px;
    top: 148px;
    left: 148px;

    & > .logistic-stage__finger-icon {
      left: 233px;
    }
  }

  .logistic-stage__icon-block-small {
    width: 615px;
    height: 406px;
    top: 148px;
    left: 148px;

    & > .logistic-stage__finger-icon {
      left: -39px;
      top: 64px;
    }
  }
}

// Sytles for 1024px
@media (max-width: 1150px) {
  .logistic-stage {
    min-height: 611px;
  }

  .logistic-stage__title {
    font-size: 88px;
    line-height: 80px;
  }

  .logistic-stage__button {
    font-size: 18px;
    line-height: 18px;
    width: 183px;
    padding: 9px 16px 8px 16px;
    bottom: 12px;
    left: 60%;
  }

  .logistic-stage__text {
    width: 95%;
    position: relative;
    top: -10px;
  }

  .logistic-stage__icon-block-big {
    left: 0;
    width: 1383px;
    height: 715px;

    & > svg {
      transform: scale(0.8);
      top: -55px;
      left: -115px;
    }

    & > .logistic-stage__mvideo-icon {
      width: 80px;
      height: 80px;
      left: 558px;
      top: -40px;

      & > svg {
        transform: scale(0.8);
      }
    }
  }

  .logistic-stage__icon-block-middle {
    width: 1065px;
    height: 516px;
    top: 116px;
    left: 112px;

    & > svg {
      transform: scale(0.8);
      top: -41px;
      left: -102px;
    }

    & > .logistic-stage__finger-icon {
      width: 80px;
      height: 80px;
      left: 309px;
      top: -36px;

      & > svg {
        transform: scale(0.8);
      }
    }
  }

  .logistic-stage__icon-block-small {
    width: 818px;
    height: 294px;
    top: 116px;
    left: 117px;

    & > svg {
      transform: scale(0.8);
      top: -27px;
      left: -86px;
    }

    & > .logistic-stage__elorado-icon {
      width: 80px;
      height: 80px;
      top: 2px;
      left: 16px;

      & > svg {
        transform: scale(0.8);
      }
    }
  }
}

// Styles for 768px
@media (max-width: 800px) {
  .logistic-stage {
    padding: 0 8px;
    padding-top: 92px;
    min-height: 520px;
  }

  .logistic-stage__title-block {
    width: 49%;
    z-index: 1;
  }

  .logistic-stage__icon-block {
    position: absolute;
    top: 134px;
    left: 72px;
    bottom: 0;
    width: 95%;
  }

  .logistic-stage__icon-block-big {
    top: 0;
  }

  .logistic-stage__text {
    width: 100%;
  }
}

// Styles for 320px
@media (max-width: 479px) {
  .logistic-stage {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 16px;
    flex-direction: column;
    padding-top: 25px;
  }

  .logistic-stage__icon-block {
    position: relative;
    top: 0;
    left: 0;
    order: -1;
    width: 100%;
    min-height: 268px;
    margin-bottom: 22px;
  }

  .logistic-stage__icon-block-big {
    width: 100%;
    height: 256px;
    top: auto;
    left: 35px;
    bottom: 0;

    & > svg {
      transform: scale(0.47);
      top: -144px;
      left: -310px;
    }

    .logistic-stage__mvideo-icon {
      width: 48px;
      height: 48px;
      left: 70%;
      top: -22px;

      & > svg {
        transform: scale(0.6);
      }
    }
  }

  .logistic-stage__icon-block-middle {
    width: 248px;
    height: 198px;
    top: 59px;
    left: 70px;
    width: 100%;

    & > svg {
      transform: scale(0.47);
      top: -105px;
      left: -270px;
    }

    & > .logistic-stage__finger-icon {
      width: 48px;
      height: 48px;
      top: 4px;
      left: 45px;

      & > svg {
        transform: scale(0.6);
      }
    }
  }

  .logistic-stage__icon-block-small {
    width: 159px;
    height: 140px;
    top: 58px;
    left: 70px;
    width: 100%;

    & > svg {
      transform: scale(0.49);
      top: -67px;
      left: -220px;
    }

    & > .logistic-stage__elorado-icon {
      width: 48px;
      height: 48px;
      top: 41px;
      left: -17px;

      & > svg {
        transform: scale(0.6);
      }
    }
  }

  .logistic-stage__title-block {
    width: 100%;
  }

  .logistic-stage__title {
    font-size: 36px;
    line-height: 38px;
    width: 80%;
    display: block;
  }

  .logistic-stage__button {
    left: 5%;
    bottom: 7px;
    margin-bottom: 25px;
  }
}
