.office__running-line {
  margin-bottom: 114px;
  overflow: hidden;
}

.office__running-line-title {
  margin-bottom: 0;
}

// Styles for 1440px
@media (max-width: 1440px) {
  .office__running-line {
    margin-bottom: 88px;
  }
}

// Styles for 1024px
@media (max-width: 1024px) {
  .office__running-line {
    margin-bottom: 70px;
  }
}

// Styles for 320px
@media (max-width: 479px) {
  .office__running-line {
    margin-bottom: 32px;
  }
}
